@import "../../styles/index";
.icon-button{
    display: inline-block;
    svg{
        vertical-align: top;
        fill: rgba(
            var(--dnn-color-foreground-r, 0),
            var(--dnn-color-foreground-g, 0),
            var(--dnn-color-foreground-b, 0),
            0.5);
    }

    &:hover{
        svg{
            fill: rgba(
                var(--dnn-color-foreground-r, 0),
                var(--dnn-color-foreground-g, 0),
                var(--dnn-color-foreground-b, 0),
                0.8)
        }
    }

    &:active, &.activated{
        svg{
            fill: var(--dnn-color-primary, @curiousBlue);
        }
    }
}
.icon-flat{
    display: inline-block;
    svg{
        vertical-align: top;
        fill: rgba(
            var(--dnn-color-foreground-r, 0),
            var(--dnn-color-foreground-g, 0),
            var(--dnn-color-foreground-b, 0),
            0.5);
    }
}