.aperture-theme {
    @import 'header';
    @import 'footer';

    .aperture-container {
        display: flex;
        margin: 0 auto;
        padding: 0 2rem;
        width: 100%;
        max-width: 1280px;
    }
}