<configuration>
  <nodes configfile="Web.config">
  
    <!-- path is the root node, everything else is in a child context -->
    <node path="/configuration/configSections" action="update" key="name" collision="overwrite">
      <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
    </node>

    <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </node>
    
    <!-- there is no name attribute for handlers in system.web, so match on type -->
    <node path="/configuration/system.web/httpHandlers" action="update" key="type" collision="overwrite">
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </node>

    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" preCondition="managedHandler"/>
    </node>

    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="ClientDependencyHandler" verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core" preCondition="integratedMode"/>
    </node>
    
    <node path="/configuration" action="update" targetpath="/configuration/clientDependency" collision="overwrite">
      <clientDependency version="0" fileDependencyExtensions=".js,.css">
        <fileRegistration defaultProvider="LoaderControlProvider">
          <providers>
            <add name="DnnBodyProvider" type="DotNetNuke.Web.Client.Providers.DnnBodyProvider, DotNetNuke.Web.Client" enableCompositeFiles="false" />
            <add name="DnnFormBottomProvider" type="DotNetNuke.Web.Client.Providers.DnnFormBottomProvider, DotNetNuke.Web.Client" enableCompositeFiles="false" />
            <add name="PageHeaderProvider" type="ClientDependency.Core.FileRegistration.Providers.PageHeaderProvider, ClientDependency.Core" enableCompositeFiles="false"/>
            <add name="LazyLoadProvider" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadProvider, ClientDependency.Core" enableCompositeFiles="false"/>
            <add name="LoaderControlProvider" type="ClientDependency.Core.FileRegistration.Providers.LoaderControlProvider, ClientDependency.Core" enableCompositeFiles="false"/>
          </providers>
        </fileRegistration>
        <compositeFiles defaultFileProcessingProvider="CompositeFileProcessor" compositeFileHandlerPath="~/DependencyHandler.axd">
          <fileProcessingProviders>
            <add name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core" enableCssMinify="false" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/ClientDependency" bundleDomains="" urlType="MappedId" />
            <!-- For webfarms remove the above CompositeFileProcessor and uncomment this section
            <add name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core" enableCssMinify="false" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/ClientDependency" bundleDomains="" urlType="Base64QueryStrings" />
            -->
          </fileProcessingProviders>
        </compositeFiles>
      </clientDependency>
    </node>

    <!-- add new MobileRedirect http module -->
    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
      <add name="MobileRedirect" type="DotNetNuke.HttpModules.MobileRedirectModule, DotNetNuke.HttpModules" preCondition="managedHandler"/>
    </node>
    <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
      <add name="MobileRedirect" type="DotNetNuke.HttpModules.MobileRedirectModule, DotNetNuke.HttpModules"/>
    </node>

    <!-- add assembly redirect for WebFormsMVP-->
    <node path="/configuration/runtime/ab:assemblyBinding" action="update" 
          targetpath="/configuration/runtime/ab:assemblyBinding[ab:dependentAssembly/ab:assemblyIdentity/@name='WebFormsMvp']" 
          collision="ignore" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="WebFormsMvp" publicKeyToken="537f18701145dff0" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </node>
  </nodes>
</configuration>