<configuration>
  <nodes configfile="Web.config">
    
    <node path="/configuration/clientDependency/fileRegistration/providers" action="update" key="name" collision="ignore">
      <add name="DnnPageHeaderProvider" type="DotNetNuke.Web.Client.Providers.DnnPageHeaderProvider, DotNetNuke.Web.Client" enableCompositeFiles="false" />
    </node>
    
  </nodes>
</configuration>