<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" userInstalled="true" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" userInstalled="true" />
  <package id="NUnit" version="2.6.2" targetFramework="net4" userInstalled="true" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net45" userInstalled="true" />
</packages>