<?xml version="1.0" encoding="utf-8"?>
<!--

    This file is used to create the navigation hierarchy for the Solutions Explorer (under Host Menu).
    It may be customized to add, remove or change the order of items.
    
    <history>
          Created - Nik Kalyani 3/1/2007 
    </history>
-->

<opml version="2.0">
	<head>
		<title>DotNetNuke Solutions Explorer</title>
		<ownerName>DotNetNuke Corporation</ownerName>
		<ownerEmail>info@dotnetnuke.com</ownerEmail>
		<docs>http://www.opml.org/spec2</docs>
	</head>
	<body>
		<!-- 
          Append querystring parameters as needed for transmitting Affiliate ID information. 

          Example: 
          
          http://marketplace.dotnetnuke.com/rssfeed.aspx?channel=marketsolutions&amp;affiliate=1234
          
          IMPORTANT NOTE:
		
		When using the ampersand character (&) in URL's, it must be encoded as &amp;
    <outline text="Marketplace" type="link" category="Tab/marketplace" xmlUrl="http://marketplace.dotnetnuke.com/rssfeed.aspx?channel=marketplacesolutions&amp;affiliateid=10054" />
  
    -->


		<outline text="DotNetNuke" type="link" category="Feed" xmlUrl="http://www.dotnetnuke.com/Portals/25/SolutionsExplorer/GlobalDirectory.opml" />

	</body>
</opml>