@import "~dnn-global-styles/index";
#siteSettings-container {
    .dnn-persona-bar-page-body {
        border-bottom: 0;
        .row-opened {
            margin-top: -1px;
            margin-bottom: -1px;
            border-top: 2px solid @curiousBlue;
            border-bottom: 2px solid @curiousBlue !important;
        }
        .back-to-referrer {
            background-color: @alabaster;
            padding: 10px 1px;
            margin: -25px -1px -1px -1px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                color: @curiousBlue;
            }
        }
    }
}