/*
 * Line Graph stylization (SVG)
 */

svg path {
	stroke: #4682B4;
	stroke-width: 2px;
	fill: none;
    /*shape-rendering: crispEdges;*/
}

svg .axis {
	shape-rendering: crispEdges;
}

svg .x.axis line {
	stroke: #D3D3D3;
	stroke-opacity: 0;
}

svg .x.axis .minor {
	stroke-opacity: .5;
	stroke-opacity: 0;
}

svg .x.axis path {
	display: none;
}

svg .y.axis line {
	fill: none;
	opacity: 0.5;
	stroke-opacity: .5;
	stroke: #000;
}

svg .y.axis path {
	fill: none;
	opacity: 0.5;
	stroke-opacity: .5;
	stroke: #000;
	stroke-width: 1px;
}

svg .x .major line {
	fill: none;
}

svg text {
    font-family: arial;
    font-size: 10px;
}

svg .point-group circle {
    stroke: #4682B4;
    stroke-width: 2px;
    fill: #fff;
}
