<div id="header">
    @RenderSection("header")
</div>
<div id="list">
    @RenderSection("list")
</div>
<div id="main">
    @RenderBody()
</div>
<div id="footer">
    &copy; 2011 DotNetNuke. All rights reserved.
</div>