@import "~@dnnsoftware/dnn-react-common/styles/index";
.extensions-app {
    :local(.editJSLibrary) {
        .js-library-info-table {
            border: 1px solid @alto;
            padding: 0;
            .js-library-info-row {
                .js-library-info-name {
                    padding: 0;
                }
                .js-library-info-version {
                    text-align: right;
                    padding: 0;
                }
            }
            .js-library-info-name-header {
                border-bottom: 1px solid @alto;
            }
            .js-library-info-version-header {
                border-bottom: 1px solid @alto;
            }
        }
        .dnn-label {
            label {
                float: left;
            }
        }
        .jslibrary-table-separator {
            margin: 15px 0;
            float: left;
            width: 100%;
        }
    }
}