@import "~@dnnsoftware/dnn-react-common/styles/index";
.theme-files-list{
    width: 560px;
    overflow: hidden;

    .theme-files-scroller{
        margin: 10px 0 0 0;
        & > div + div{
            bottom: 22px !important;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            height: 150px;
        }
    }
}
