.searchInputContainer {
    display: inline-block;
    margin: 0 -3px 0 0;
    position: relative;
}

    .searchInputContainer > input[type="text"]::-ms-clear {
        display: none;
    }

    .searchInputContainer a.dnnSearchBoxClearText {
        display: block;
        position: absolute;
        right: 10px;
        width: 16px;
        height: 16px;
        background: none;
        cursor: pointer;
        margin: 7px 0 7px 0;
        z-index: 20;
    }

        .searchInputContainer a.dnnSearchBoxClearText.dnnShow {
            background: url(../../../images/search/clearText.png) center center no-repeat;
        }

ul.searchSkinObjectPreview {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    margin: 0;
    list-style: none;
    border: 1px solid #c9c9c9;
    width: 350px;
    z-index: 200;
    padding: 0;
}

ul.searchSkinObjectPreview li {
    list-style: none;
}

    ul.searchSkinObjectPreview > li {
        padding: 6px 12px 6px 22px;
        border-top: 1px solid #c9c9c9;
        color: #666;
        cursor: pointer;
        position: relative;
        margin: 0;
        text-transform: none;
        word-wrap: break-word;
    }

        ul.searchSkinObjectPreview > li:hover {
            background-color: #e8f1fa;
            color: #333;
        }

        ul.searchSkinObjectPreview > li > span {
        }

        ul.searchSkinObjectPreview > li > span img.userpic {
            width: 32px;
            height: 32px;
            display: block;
            float: left;
            margin-right: 4px;
        }

            ul.searchSkinObjectPreview > li > span > b {
                font-weight: bold;
                color: #000;
            }

        ul.searchSkinObjectPreview > li p {
            margin: 0;
            font-size: 10px;
            line-height: 1.2em;
            color: #999;
            font-style: italic;
            white-space: normal;
        }

            ul.searchSkinObjectPreview > li p b {
                color: #000;
            }

        ul.searchSkinObjectPreview > li.searchSkinObjectPreview_group {
            padding: 6px 12px 6px 12px;
            font-weight: bold;
            color: #000;
            border-bottom: 2px solid #000;
            cursor: inherit;
        }

            ul.searchSkinObjectPreview > li.searchSkinObjectPreview_group:hover {
                background-color: #fff;
                color: #000;
            }

        ul.searchSkinObjectPreview > li > a.searchSkinObjectPreview_more {
            display: inline;
            position: static;
            background: none;
            z-index: inherit;
            width: auto;
            height: auto;
            text-indent: inherit;
            float: none;
        }
