@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.providerSettingEditor) {
    padding: 0 20px;
    .edit-provider {
        float: left;
        padding: 0px;
        width: 100%;
        border: 0px;
        min-height: 80px;
        padding: 10px 25px;
    }
}