@using Dnn.DynamicContent
@using Dnn.Modules.DynamicContentViewer.Helpers

@model DynamicContentItem

@{
    <div class="dnnForm dnnFormVertical">
        @foreach (DynamicContentField field in Model.Fields.Values)
        {
        <div class="dnnFormItem">
            <div>@Dnn.LabelFor(field.Definition.Name)</div>
            @Dnn.EditorFor(field.Definition.Name)
        </div>
        }
    </div>
}
