@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage


<p>This is the default View of the Dynamic Content Viewer, which should only show if there is no Content defined for the module and there is no Getting Started template.</p>
