.extensions-app {
    .extension-form {
        .release-notes {
            padding: 50px;
        }
    }
    .release-notes {
        .read-only-release-notes {
            padding: 25px;
        }
        >h6 {
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        > p {
            margin-bottom: 25px;
        }
        .dnn-multi-line-input-with-error {
            .dnn-label {
                text-transform: uppercase;
                padding-bottom: 5px;
            }
        }
    }
}