.aperture-divider {
    background-image: url(/portals/0/images/banner-bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3rem;
    object-fit: cover;
    width:100%;
}