// rem font-size with px fallback
// usage: @include font-size(16)
@mixin font-size($sizeValue) {
    font-size: $sizeValue + px;
    font-size: calc($sizeValue / 16) + rem;
  }
  
  // vertical rhythm
  // usage: @include font-baseline(16,24);
  @mixin font-baseline($font-size, $lineheight){
    $var-base-font-size: #{map-get($fonts, 'base-font-size')};
      font-size: $font-size + px;
      font-size: calc($font-size / $var-base-font-size) + rem;
      line-height: calc($lineheight / $font-size);
    margin: 0 0 calc((($lineheight / $font-size) * (1 / ($lineheight / $defaultlineheight))) * .5em ) 0; 
  }
  