@import "~dnn-global-styles/index";
.theme-list{
    border: 1px solid @alto;
    border-radius: 3px;
    background-color: @white;

    & > div > .dnn-grid-cell {
        padding: 15px;
    }

    & > div:first-child + div{
        display: none;
    }

    .dnn-grid-cell{
        text-align: center;
    }
}
