@import "~dnn-global-styles/index";
.theme-list{
    padding: 30px 15px;
    border: 1px solid @alto;
    border-radius: 3px;
    background-color: @white;

    & > .dnn-grid-cell{
        text-align: center;
    }
}
