/*Colors*/
/*Units*/
input[type="text"],
select,
textarea,
input[type="email"],
input[type="search"],
input[type="password"] {
  padding: 9px;
}
.dccContainer {
  border: solid 1px #aaa;
  width: 950px;
}
.dccContainer .dccHeading {
  width: 950px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: solid 1px #aaa;
  background-color: #fff;
  box-shadow: 0px 2px 2px #aaa;
}
.dccContainer .dccHeading span {
  font-size: 28px;
  margin-left: 20px;
}
.dccContainer .dccHeading a.dccIcon {
  float: right;
  font-size: 28px;
  margin-right: 20px;
  padding: 0px;
}
.dccContainer .dccBody {
  margin: 20px;
  width: 910px;
  background-color: #fff;
  border: solid 1px #aaa;
  border-radius: 4px;
}
.dccContainer .dccMenu {
  position: relative;
}
.dccContainer .dccMenu ul {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 909px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #eee;
  padding-left: 1px;
}
.dccContainer .dccMenu ul > li {
  float: left;
  list-style: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dccContainer .dccMenu ul > li > div {
  width: 100px;
  padding: 12px 15px 10px 15px;
  cursor: pointer;
}
.dccContainer .dccMenu ul > li.selected {
  background-color: #fff;
}
.dccContainer .dccMenu ul > li.selected {
  background-color: #fff;
  color: #0087c6;
}
.dccContainer .dccPanel {
  width: 910px;
}
.dccContainer .dccSearchPanel {
  padding: 15px;
  border-bottom: 1px solid #aaa;
}
.dccContainer .dccSearchPanel > .dccSearchBox {
  padding: 8px;
  border: 1px solid #aaa;
  width: 250px;
  border-radius: 3px;
  margin-bottom: 0;
  display: inline-block;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 240px 8px;
}
.dccContainer .dccTable {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #aaa;
}
.dccContainer .dccTable tr:nth-child(2n) {
  background: #eee;
}
.dccContainer .dccTable tbody tr {
  transition: background 100ms linear;
}
.dccContainer .dccTable > tbody > tr:hover {
  background: #d9ecfa;
}
.dccContainer .dccTable th {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.dccContainer .dccTable th,
.dccContainer .dccTable td {
  padding: 8px 5px 7px 5px;
  text-align: center;
  height: 20px;
}
.dccContainer .dccTable th:first-child,
.dccContainer .dccTable td:first-child {
  padding: 8px 5px 7px 15px;
  border-left: none;
  text-align: left;
}
.dccContainer .dccTable .dnni {
  font-size: 18px;
}
.dccContainer .dccTable tfoot {
  border-top: 1px solid #aaa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 5px;
}
.dccContainer #data-types-panel .dccTable tbody tr td i.dnni-caret-down {
  display: none;
}
.dccContainer #data-types-panel .dccTable tbody tr th i.dnni-caret-down {
  display: inherit;
}
.dccContainer #data-types-panel .dccTable tbody tr:hover td i.dnni-caret-down {
  display: inherit;
}
.dccContainer #data-types-panel .dccTable tbody tr.in-edit-row td i.dnni-caret-up {
  display: inherit;
}
.dccContainer #data-types-panel .dccTable tbody tr.in-edit-row td i.dnni-caret-down {
  display: none;
}
.dccContainer #data-types-panel .dccTable tbody tr td i.dnni-caret-up {
  display: none;
}
.dccContainer #data-types-panel .dccTable > tbody > tr:hover > td:last-child {
  background: #0087c6;
}
.dccContainer #data-types-panel .dccTable > tbody > tr.in-edit-row > td,
.dccContainer #data-types-panel .dccTable > tbody > tr.in-edit-row:hover > td {
  background: #0087c6;
  color: #fff;
  border-color: #0087c6;
}
.dccContainer #data-types-panel .dccTable tbody tr.edit-row td,
.dccContainer #data-types-panel .dccTable tbody tr.edit-row:hover td:last-child {
  background-color: #fff;
}
.dccContainer .dccTable .dccPager {
  width: 100%;
}
.dccContainer .dccTable .dccPager td {
  padding: 0px;
  height: 40px;
  width: 33%;
}
.dccContainer .dccTable .dccPager td select {
  margin-bottom: 1px;
}
.dccContainer .dccTable .dccPager td div {
  margin-bottom: 0px;
}
.dccContainer .dccTable .dccPager td div.right {
  margin-top: 9px;
}
.dccContainer .dccTable .dccPager td ul {
  display: block;
  list-style-type: none;
  margin: 4px 10px 0 8px;
  padding: 0;
}
.dccContainer .dccTable .dccPager td ul > li {
  display: inline-block;
  list-style-type: none;
}
.dccContainer .dccTable .dccPager td a.prev,
.dccContainer .dccTable .dccPager td a.next {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  background-color: #fff;
}
.dccContainer .dccTable .dccPager td a.prev {
  background-image: url('images/left.png');
}
.dccContainer .dccTable .dccPager td a.next {
  background-image: url('images/right.png');
}
.dccContainer .dccTable .dccPager td a.prev.disabled,
.dccContainer .dccTable .dccPager td a.next.disabled {
  opacity: 0.50;
  cursor: default;
}
.dccContainer .dccTable tr.edit-row td,
.dccContainer .dccTable tr.edit-row:hover td {
  padding: 0;
}
.dccContainer div.dccEditForm {
  padding: 15px;
  min-height: 135px;
}
.dccContainer .dccTable div.dccEditForm {
  border-bottom: 2px solid #0087c6;
}
.dccContainer div.dccEditRow {
  float: left;
  position: relative;
  width: 100%;
}
.dccContainer div.dccEditRow > div {
  float: left;
}
.dccContainer div.dccEditRow > div.dccExtraMargin {
  margin-right: 25px;
}
.dccContainer .dccTable div.dccEditRow > div {
  margin-right: 25px;
}
.dccContainer div.dccEditRow > div > label {
  display: block;
  cursor: default;
}
.dccContainer div.dccEditRow > div > textarea {
  height: 35px;
  width: 842px;
}
.dccContainer div.dccEditRow > div > input,
.dccContainer div.dccEditRow > div > textarea,
.dccContainer div.dccEditRow > div > select {
  margin-bottom: 10px;
}
.dccContainer div.dccEditRow > div > input {
  width: 220px;
}
.dccContainer div.dccEditRow > div > input.dccWide {
  width: 500px;
}
.dccContainer div.dccEditRow > div > textarea.dccCode {
  width: 862px;
  height: 350px;
}
.dccContainer .dccEditRow i {
  float: right;
}
.dccContainer i.dnni-exclamation {
  font-size: 18px;
  margin-left: 5px;
  color: transparent;
  display: block;
}
.dccContainer .dccError i.dnni-exclamation {
  color: #d00;
}
.dccContainer .dccWarning i.dnni-exclamation {
  color: #ff8c00;
}
.dccContainer div.dccEditRow > div.toggle {
  float: right;
  padding-right: 0px;
  padding-top: 25px;
  margin-right: 20px;
}
.dccContainer .dccTable div.dccEditRow > div.toggle {
  padding-top: 25px;
  padding-right: 0px;
}
.dccContainer div.dccEditRow > div.toggle > span {
  vertical-align: middle;
  margin-left: 15px;
}
.dccContainer div.dccEditRow > div.toggle > span.label {
  padding-bottom: 15px;
  display: inline-block;
  min-width: 100px;
}
.dccContainer .dnnCheckbox {
  display: inline-block;
  width: 41px;
  height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background-color: #ccc;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  transition: background 100ms linear;
}
.dccContainer .dnnCheckbox.dnnCheckbox-checked {
  background-color: #48d348;
}
.dccContainer div.toggle.disabled .dnnCheckbox.dnnCheckbox-checked {
  background-color: #ccc;
}
.dccContainer .dnnCheckbox .mark {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: #fff;
  border: 2px solid #b5b5b5;
  position: relative;
  top: -2px;
  left: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
  -o-transition: left 100ms linear;
  transition: left 100ms linear;
}
.dccContainer .dnnCheckbox.dnnCheckbox-checked .mark {
  left: 19px;
}
.dccContainer .dnnCheckbox .mark img {
  display: none;
}
.dccContainer div.dccEditForm > div.buttons {
  clear: both;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.dccContainer .dccButton {
  background: #fff;
  color: #333;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid #aaa;
  text-align: center;
  line-height: normal;
}
.dccContainer div.dccEditForm > div > a.primarybtn,
.dccContainer div.dccEditForm > div > a.secondarybtn {
  margin-left: 5px;
}
.dccContainer a.primarybtn {
  background: #0087c6;
  color: #fff !important;
  display: inline-block;
  padding: 9px 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
.dccContainer a.secondarybtn {
  background: #e4e4e4;
  color: #333 !important;
  display: inline-block;
  padding: 9px 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
.dccContainer #loadingbar {
  top: 0;
  left: 0;
  z-index: 99999;
  width: 860px;
  height: 4px;
  display: none;
}
.dccContainer #loadingbar > div {
  background-color: #0087c6;
  top: 0;
  left: 100px;
  height: 4px;
}
.dccContainer .dnnFormPopup {
  left: 250px;
  top: 250px;
  width: 300px;
}
.dccContainer .dnnDialogHeader {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 18px;
}
.dccContainer #mask {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
}
.dccContainer .buttonpanel {
  margin: .5em 0 0 0;
  padding: .3em 1em 0em 0em;
  overflow: hidden;
  border-width: 1px 0 0 0;
  background-image: none;
  text-align: left;
  border-top: 1px solid #ddd;
}
.dccContainer a.dccIcon {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}
.dccContainer .dccSubSubPanel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: solid 1px #aaa;
  border-radius: 5px;
}
.dccContainer .dccSubSubPanel .dccSubHeading {
  min-height: 50px;
}
.dccContainer .dccSubSubPanel .dccSubHeading span {
  font-size: 18px;
  padding-top: 10px;
  display: inline-block;
}
.dccContainer .dccSubSubPanel .dccTable {
  border-top: solid 1px #aaa;
  border-bottom: none;
}
.dccContainer .dccSubHeading {
  margin-left: 15px;
  margin-right: 15px;
}
.dccContainer .dccSubHeading span {
  font-size: 18px;
  padding-top: 10px;
  display: inline-block;
}
.dccContainer div.CodeMirror {
  width: 862px;
  border: solid 1px #aaa;
  margin-top: 20px;
}
.dccContainer div.dccLanguageSelector {
  position: absolute;
  top: 6px;
  left: 635px;
  display: inline-block;
}
.dccContainer div.dccLanguageSelector span {
  font-size: 16px;
}
.dccContainer div.dccLanguageSelector select {
  margin-bottom: 0px;
  padding: 2px 5px 5px 5px;
  font-size: 15px;
}
.dccContainer ul#templateEditorContextMenu {
  float: left;
  position: relative;
  z-index: 5;
  list-style: none;
  border: solid 1px #aaa;
  box-shadow: 5px 5px 5px #aaa;
  border-radius: 4px;
  background-color: #fff;
}
.dccContainer ul#templateEditorContextMenu li {
  position: relative;
  margin-right: 10px;
}
.dccContainer ul#templateEditorContextMenu li:hover {
  background: #d9ecfa;
}
.dccContainer ul#templateEditorContextMenu li div {
  display: block;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  min-width: 110px;
}
.dccContainer ul#templateEditorContextMenu li div span {
  padding-right: 5px;
}
.dccContainer ul#templateEditorContextMenu li div > i {
  float: right;
}
.dccContainer ul#templateEditorContextMenu li ul {
  list-style: none;
  position: absolute;
  left: -9999px;
  border: solid 1px #aaa;
  box-shadow: 5px 5px 5px #aaa;
  border-radius: 4px;
  background-color: #fff;
}
.dccContainer ul#templateEditorContextMenu li:hover > ul {
  left: 100px;
  top: 5px;
}
.dccContainer div.dccEditRow select option {
  padding-left: 20px;
}
.dccContainer div.dccEditRow select option:disabled {
  color: #999;
  padding-left: 0px;
}
