/*Colors*/
/*Units*/
input[type="text"],
select,
textarea,
input[type="email"],
input[type="search"],
input[type="password"] {
  padding: 9px;
}
.dccContainer {
  border: solid 1px #aaaaaa;
  width: 950px;
}
.dccContainer .dccHeading {
  width: 950px;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: solid 1px #aaaaaa;
  background-color: white;
  box-shadow: 0px 2px 2px #aaaaaa;
}
.dccContainer .dccHeading span {
  font-size: 28px;
  margin-left: 20px;
}
.dccContainer .dccHeading a.dccIcon {
  float: right;
  font-size: 28px;
  margin-right: 20px;
  padding: 0px;
}
.dccContainer .dccBody {
  margin: 20px;
  width: 910px;
  background-color: white;
  border: solid 1px #aaaaaa;
  border-radius: 4px;
}
.dccContainer .dccMenu ul {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 909px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #eeeeee;
  padding-left: 1px;
}
.dccContainer .dccMenu ul > li {
  float: left;
  list-style: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dccContainer .dccMenu ul > li > div {
  width: 100px;
  padding: 12px 15px 10px 15px;
  cursor: pointer;
}
.dccContainer .dccMenu ul > li.selected {
  background-color: white;
}
.dccContainer .dccMenu ul > li.selected {
  background-color: white;
  color: #0087c6;
}
.dccContainer .dccPanel {
  width: 910px;
}
.dccContainer .dccSearchPanel {
  padding: 15px;
  border-bottom: 1px solid #aaaaaa;
}
.dccContainer .dccSearchPanel > .dccSearchBox {
  padding: 8px;
  border: 1px solid #aaaaaa;
  width: 250px;
  border-radius: 3px;
  margin-bottom: 0;
  display: inline-block;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 240px 8px;
}
.dccContainer .dccTable {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #aaaaaa;
}
.dccContainer .dccTable th {
  border-left: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}
.dccContainer .dccTable th,
.dccContainer .dccTable td {
  padding: 8px 5px 7px 5px;
  text-align: center;
  height: 20px;
}
.dccContainer .dccTable th:first-child,
.dccContainer .dccTable td:first-child {
  padding: 8px 5px 7px 15px;
  border-left: none;
  text-align: left;
}
.dccContainer .dccTable tr:nth-child(2n) td {
  background: #eeeeee;
}
.dccContainer .dccTable .fa {
  font-size: 18px;
}
.dccContainer .dccTable tfoot {
  border-top: 1px solid #aaaaaa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 5px;
}
.dccContainer .dccTable tfoot td > div > div {
  margin-top: 6px;
}
.dccContainer .dccTable tfoot td > div > div.left {
  margin-bottom: 6px;
}
.dccContainer .dccTable tr.in-edit-row td,
.dccContainer .dccTable tr.in-edit-row:hover td {
  background: #0087c6;
  color: white;
  border-color: #0087c6;
}
.dccContainer .dccTable tr.edit-row td,
.dccContainer .dccTable tr.edit-row:hover td {
  background-color: transparent;
}
.dccContainer ul.pager {
  display: block;
  list-style-type: none;
  margin: 0 10px 0 8px;
  padding: 0;
}
.dccContainer ul.pager > li {
  display: inline-block;
  list-style-type: none;
}
.dccContainer .dccTable td a {
  color: #0087c6;
  text-decoration: none;
}
.dccContainer .dccTable td a.prev,
.dccContainer .dccTable td a.next {
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #aaaaaa;
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  background-color: white;
}
.dccContainer .dccTable td a.prev {
  background-image: url('images/left.png');
}
.dccContainer .dccTable td a.next {
  background-image: url('images/right.png');
}
.dccContainer .dccTable td a.prev.disabled,
.dccContainer .dccTable td a.next.disabled {
  opacity: 0.5;
  cursor: default;
}
.dccContainer .dccTable tr.edit-row td,
.dccContainer .dccTable tr.edit-row:hover td {
  padding: 0;
}
.dccContainer div.dccEditForm {
  padding: 15px;
  min-height: 135px;
}
.dccContainer .dccTable div.dccEditForm {
  border-bottom: 2px solid #0087c6;
}
.dccContainer div.dccEditRow {
  float: left;
  width: 100%;
}
.dccContainer div.dccEditRow > div {
  float: left;
  margin-right: 25px;
}
.dccContainer .dccTable div.dccEditRow > div {
  width: 33%;
  float: left;
  margin: 0 0 9px 0;
  position: relative;
}
.dccContainer div.dccEditRow > div > label {
  display: block;
  cursor: default;
}
.dccContainer div.dccEditRow > div > textarea {
  height: 35px;
  width: 862px;
}
.dccContainer div.dccEditRow > div > input,
.dccContainer div.dccEditRow > div > textarea,
.dccContainer div.dccEditRow > div > select {
  margin-bottom: 10px;
}
.dccContainer div.dccEditRow > div > input {
  width: 220px;
}
.dccContainer div.dccEditRow > div > input.dccWide {
  width: 500px;
}
.dccContainer div.dccEditRow > div > textarea.dccCode {
  width: 750px;
  height: 350px;
}
.dccContainer div.dccEditRow > div.toggle {
  float: right;
  padding-right: 0px;
  padding-top: 25px;
  margin-right: 0px;
}
.dccContainer .dccTable div.dccEditRow > div.toggle {
  padding-top: 25px;
  padding-right: 0px;
}
.dccContainer div.dccEditRow > div.toggle > span {
  vertical-align: middle;
  margin-left: 15px;
}
.dccContainer div.dccEditRow > div.toggle > span.label {
  padding-bottom: 15px;
  display: inline-block;
}
.dccContainer .dnnCheckbox {
  display: inline-block;
  width: 41px;
  height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background-color: #cccccc;
  margin: 0;
  cursor: pointer;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  transition: background 100ms linear;
}
.dccContainer .dnnCheckbox.dnnCheckbox-checked {
  background-color: #48d348;
}
.dccContainer div.toggle.disabled .dnnCheckbox.dnnCheckbox-checked {
  background-color: #cccccc;
}
.dccContainer .dnnCheckbox .mark {
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background-color: white;
  border: 2px solid #b5b5b5;
  position: relative;
  top: -2px;
  left: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
  -o-transition: left 100ms linear;
  transition: left 100ms linear;
}
.dccContainer .dnnCheckbox.dnnCheckbox-checked .mark {
  left: 19px;
}
.dccContainer .dnnCheckbox .mark img {
  display: none;
}
.dccContainer div.dccEditForm > div.buttons {
  clear: both;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.dccContainer .dccButton {
  background: white;
  color: #333333;
  display: inline-block;
  padding: 9px 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid #aaaaaa;
  text-align: center;
}
.dccContainer div.dccEditForm > div > a.primarybtn,
.dccContainer div.dccEditForm > div > a.secondarybtn {
  margin-left: 5px;
}
.dccContainer a.primarybtn {
  background: #0087c6;
  color: white !important;
  display: inline-block;
  padding: 9px 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
.dccContainer a.secondarybtn {
  background: #e4e4e4;
  color: #333333 !important;
  display: inline-block;
  padding: 9px 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
.dccContainer #loadingbar {
  top: 0;
  left: 0;
  z-index: 99999;
  width: 860px;
  height: 4px;
  display: none;
}
.dccContainer #loadingbar > div {
  background-color: #0087c6;
  top: 0;
  left: 100px;
  height: 4px;
}
.dccContainer .dnnFormPopup {
  left: 250px;
  top: 250px;
  width: 300px;
}
.dccContainer .dnnDialogHeader {
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 18px;
}
.dccContainer #mask {
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
}
.dccContainer .buttonpanel {
  margin: 0.5em 0 0 0;
  padding: 0.3em 1em 0em 0em;
  overflow: hidden;
  border-width: 1px 0 0 0;
  background-image: none;
  text-align: left;
  border-top: 1px solid #dddddd;
}
.dccContainer a.dccIcon {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}
.dccContainer .dccSubSubPanel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: solid 1px #aaaaaa;
  border-radius: 5px;
}
.dccContainer .dccSubSubPanel .dccSubHeading {
  min-height: 50px;
}
.dccContainer .dccSubSubPanel .dccSubHeading span {
  font-size: 18px;
  padding-top: 10px;
  display: inline-block;
}
.dccContainer .dccSubSubPanel .dccTable {
  border-top: solid 1px #aaaaaa;
  border-bottom: none;
}
.dccContainer .dccSubHeading {
  margin-left: 15px;
  margin-right: 15px;
}
.dccContainer .dccSubHeading span {
  font-size: 18px;
  padding-top: 10px;
  display: inline-block;
}
.dccContainer div.CodeMirror {
  width: 775px;
  border: solid 1px #aaaaaa;
  margin-top: 20px;
}
.dccContainer .dccExtraMargin {
  margin-top: 25px;
}
.dccContainer div.dccLanguageSelector {
  float: right;
  display: inline-block;
  padding-top: 15px;
  padding-right: 25px;
}
.dccContainer div.dccLanguageSelector span {
  font-size: 16px;
}
.dccContainer div.dccLanguageSelector select {
  margin-bottom: 0px;
  padding: 2px 5px 5px 5px;
  font-size: 15px;
}
