/*
    Manage
    Styling for the Manage Angular application.
*/

// Import from Core.
@import "../../../Core/src/css/main.less";

#cantarus-poly-deploy {

    .can-pagination {
        position: relative;
        height: 20px;

        .prev, .next {
            position: absolute;
            height: 100%;
            width: 20px;
            top: 0;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }

        .pages {
            list-style: none;
            margin: 0 20px;
            text-align: center;

            li {
                display: inline-block;
                line-height: 20px;
                padding: 0 5px;
                margin: 0 5px;
                cursor: pointer;

                &.current {
                    font-weight: bold;
                }
            }
        }
    }
}
