/*
    Manage
    Styling for the Manage Angular application.
*/

// Import from Core.
@import "../../../Core/src/css/main.less";

#cantarus-poly-deploy {

    .form-group {
        &.form-group-last {
            margin-bottom: 0;
        }
    }

    .can-pagination {
        text-align: center;

        ul {
            li {
                user-select: none;

                a {
                    cursor: pointer;
                    width: 45px;
                }
            }
        }
    }

    table {
        &.table {
            tr {
                &.critical {
                    background-color: #f77e7e;
                }
            }
        }
    }
}
