@using DotNetNuke.Web.MvcPipeline.Containers
@model DotNetNuke.Web.MvcPipeline.Models.ContainerModel

<div class="aperture-title-wrapper">
    <h5>@Html.Title()</h5>
    <div>@Html.Content()</div>
</div> 