@import "../../less/globals.less";
@import "~dnn-global-styles/index";
#scheduler-container {
    .socialpanelbody {
        .normalPanel {
            border: none;
            .searchpanel {
                padding: 0;
                border-bottom: none;
                .react-tabs {
                    float: left;
                    border: solid 1px @alto;
                    width: 100%;
                }
            }
        }
    }
}