
.divcls
{
	vertical-align:bottom;
}

.imgcls
{
	padding:1px;
	border:2px;
}

/* the div that holds the date picker calendar */
.dpDiv {}
/* the table (within the div) that holds the date picker calendar */
.dpTable 
{
	font-family: Tahoma;
	font-size: 14px;
	text-align: center;
	color: #505050;
	background-color: #FFFFFF;
	border: 1px solid #8A99BA;
  width:210px;
}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {}

/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR 
{
  background-color:#9FBEF4;
}

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {}

/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {}

/* a table cell that holds a date number (either blank or 1-31) */
.dpTD 
{
	border: 1px solid white;
}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD 
{
	background-color: #F3E18D;
	border: 1px solid #B35412;
}

/* the date number table cell that the mouse pointer is currently over (
   you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover 
{
	background-color: #F3E18D;
	border: 1px solid #B35412;
	cursor: pointer;
}

/* the table cell that holds the name of the month and the year */
.dpTitleTD {}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD 
{
	font-size: 17px;
	background-color: #e1ecfc;
  border-bottom : 1px solid #b9d1f4;
  border-top : 1px solid #b9d1f4;
	color: Black;
}

/* additional style information for the text that indicates the month and year */
.dpTitleText 
{
	font-family: Tahoma;
	font-size: 12px;
	color: Black;
	font-weight: bold;
}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight 
{
	color: #4060ff;
	font-weight: bold;
}

/* the forward/backward buttons at the top */
.dpButton 
{
	font-family: Tahoma;
	font-size: 12px;
	color: #2254b1;
	font-weight: bold;
	padding: 0px;
  cursor: pointer;
}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton 
{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #2254b1;
  cursor: pointer;
}

