/* Edit Bar iFrame */
body {
  margin-bottom: 80px !important;
}
.editBarFrameContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1105 !important;
}
.editBarFrameContainer.personabar-shown {
  left: 80px;
}
iframe#editBar-iframe {
  height: 80px;
  width: 100%;
  vertical-align: top;
}
iframe#editBar-iframe.small {
  height: 170px;
}
iframe#editBar-iframe.middle {
  height: 480px;
}
iframe#editBar-iframe.large {
  height: 100%;
}
