.dnn-persona-bar-page {
    position: absolute;
    z-index: 9999;
    top: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #fafafa;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.show {
        visibility: visible;
        opacity: 1;
    }
}