<?xml version="1.0"?>
<configuration>
  <!-- The following elements are intended for future consolidation -->
  <regexfilters />
  <compression />
  <RewriterRules />
  <blockrequests>
  </blockrequests>
  <skinningdefaults>
    <skininfo folder="/DNN-Blue/" default="Horizontal Menu - Fixed Width.ascx" admindefault="Horizontal Menu - Fixed Width.ascx" />
    <containerinfo folder="/DNN-Blue/" default="Image Header - Color Background.ascx" admindefault="Image Header - Color Background.ascx" />
  </skinningdefaults>
</configuration>