@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.enable-localized-content-panel {
    .dnn-persona-bar-page-body {
        background: white;
    }
    .help-text-with-background {
        background: #fafafa;
        padding:  20px 20px 1px 20px;
        margin-bottom: 10px;
        p {
            margin-bottom: 20px;
        }
    }
    .language-flag, .language-name {
        float: left;
        margin-left: 10px;
    }
    .float-right {
        float: right;
        margin-right: 20px;
    }
    .dnn-switch-container {
        margin-top: -10px;
    }
}