@import "~@dnnsoftware/dnn-react-common/styles/index.less";
.user-detail-row {
    .edit-profile {
        float: left;
        padding: 0px;
        width: 100%;
        border: 0px;
        min-height: 700px;
        padding: 10px 25px;
    }
}