.control 
{
    border:solid 1px #857F79;
    display:block;
    padding:5px;
    margin:3px;
}

.control.header 
{
    display:block;
    height:190px;
    width:968px;
    background: transparent url(../Images/header.gif) repeat top left;
}

.control.footer 
{
    display:block;
    height:50px;
    width:968px;
}

.control.sidebar 
{
    float:left;
    width:250px;
    height:100%;
    display:block;
}