<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="7.0.0" targetFramework="net45" />
  <package id="DotNetNuke.Web" version="7.0.0" targetFramework="net45" />
  <package id="DotNetNuke.Web.Client" version="7.4.2.216" targetFramework="net45" />
  <package id="DotNetNuke.WebApi" version="7.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.1" targetFramework="net45" />
</packages>