<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke_Community_DotNetNuke" version="07.00.00" targetFramework="net45" />
  <package id="DotNetNuke_Community_DotNetNuke.Web" version="07.00.00" targetFramework="net45" />
  <package id="DotNetNuke_Community_DotNetNuke.Web.Client" version="07.00.00" targetFramework="net45" />
  <package id="DotNetNuke_Community_System.Net.Http" version="07.00.00" targetFramework="net45" />
  <package id="DotNetNuke_Community_System.Net.Http.Formatting" version="07.00.00" targetFramework="net45" />
  <package id="DotNetNuke_Community_System.Web.Http" version="07.00.00" targetFramework="net45" />
</packages>