@using DotNetNuke.Web.Client.ClientResourceManagement
@model String

@{
    var fieldName = ViewData["FieldName"] as string;

    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/Resources/Shared/Components/SimpleMDE/marked.js");
}
<span id="@fieldName"></span>

<script language="javascript" type="text/javascript">
    jQuery(document).ready(function ($) {

        var multiline = function(f) {
            return f.toString().
                replace(/^[^\/]+\/\*!?/, '').
                replace(/\*\/[^\/]+$/, '');
        };

        var markdown = multiline(function () {/*!@Model*/});

        var $content = $(".dccViewContent #@fieldName");
        $content.html(function() {
            return marked(markdown);
        });
    });
</script>
