<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DNNSelenium.Platform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DNNSelenium.Platform.Properties.Settings>
            <setting name="WaitFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LayoutInstallerDataFile" serializeAs="String">
                <value>LayoutInstallerData.xml</value>
            </setting>
            <setting name="InstallerDataFile" serializeAs="String">
                <value>InstallerData.xml</value>
            </setting>
            <setting name="InstallerLogFile" serializeAs="String">
                <value>InstallerLogData.xml</value>
            </setting>
            <setting name="UpgradeDataFile" serializeAs="String">
                <value>UpgradeData.xml</value>
            </setting>
            <setting name="SmokeDataFile" serializeAs="String">
                <value>SmokeData.xml</value>
            </setting>
            <setting name="BVTDataFile" serializeAs="String">
                <value>BVTData.xml</value>
            </setting>
            <setting name="P1DataFile" serializeAs="String">
                <value>P1Data.xml</value>
            </setting>
        </DNNSelenium.Platform.Properties.Settings>
    </applicationSettings>
</configuration>