/* Edit Bar iFrame */
body {
    margin-bottom: 85px !important;
}
iframe#editBar-iframe{
	width: 100%; 
	position: fixed;
    bottom: 0; 
	height: 85px; 
	z-index: 1105 !important;
}
iframe#editBar-iframe.small {
    height: 170px;
}
iframe#editBar-iframe.middle {
    height: 480px;
}
iframe#editBar-iframe.large {
    height: 100%;
}

