#menu-Preview button {
    background: url('../images/Preview_Sprite.png') no-repeat 0 0;
}
#menu-Preview button:hover {
    background-position: 0 -33px;
}

#menu-Preview ul.menuEditBar  li {
    list-style-type: none;
    list-style: none;
    float: left;
    position: relative;
    padding: 0;
}
#menu-Preview div.caption {
    position: relative;
    float: none;
    margin-bottom: 10px;
    color: #FFFFFF;
    margin-left: -5px;
    text-align: left;
}
#menu-Preview ul.menuEditBar.hover-menu  li.ViewMenuButton {
    float: none;
    color: #727272;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}
#menu-Preview ul.menuEditBar.hover-menu  li.ViewMenuButton.selected {
    font-weight: bolder;
    color: #FFFFFF;
}
#menu-Preview ul.menuEditBar.hover-menu  li.ViewMenuButton:hover {
    font-weight: bolder;
    color: #FFFFFF;
}
#menu-Preview ul.menuEditBar li.DesktopModeButton {
    background-image: url('../images/icon-preview-desktop_off.png');
    background-size: 17px 17px;
}
#menu-Preview ul.menuEditBar li.DesktopModeButton:hover {
    background-image: url('../images/icon-preview-desktop_on.png');
}
#menu-Preview ul.menuEditBar li.TabletModeButton {
    background-image: url('../images/icon-preview-tablet_off.png');
    background-size: 15px 17px;
    background-position-x: 1px;
}
#menu-Preview ul.menuEditBar li.TabletModeButton:hover {
    background-image: url('../images/icon-preview-tablet_on.png');
}
#menu-Preview ul.menuEditBar li.PhoneModeButton {
    background-image: url('../images/icon-preview-phone_off.png');
    background-size: 12px 17px;
    background-position-x: 2px;
}
#menu-Preview ul.menuEditBar li.PhoneModeButton:hover {
    background-image: url('../images/icon-preview-phone_on.png');
}

.previewModeContainer {
    position: fixed;
    display: none;
    background-color: #FFFFFF;
    margin-top:50px;
    top: 0px;
    left: 0px;
    z-index: 1005;
    width: 100%;
    /* Firefox */
    height: -moz-calc(100% - 65px);
    /* WebKit */
    height: -webkit-calc(100% - 65px);
    /* Opera */
    height: -o-calc(100% - 65px);
    /* Standard */
    height: calc(100% - 65px);
    overflow: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
