@import "~@dnnsoftware/dnn-react-common/styles/index.less";
.header-row {
    padding: 10px 0 10px;
    border-bottom: 1px solid @alto;
    .dnn-grid-cell {
        padding: 0 15px;
    }
    .dnn-grid-cell.empty{
        text-indent: -100px;
        overflow: hidden;
    }
    text-transform: uppercase;
}