@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.dnn-servers-info-panel {
  .warningBox {
    border: 1px solid @alto;
    background-color: @gallery;
    width: 100%;
    padding: 15px;
    .warningText {
      font-weight: bolder;
      color: @thunder;
    }
    .warningButton {
      width: 100%;
      .dnn-ui-common-button {
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        &:first-child {
          margin-top: 15px;
        }
      }
    }
  }
}
