@import "~@dnnsoftware/dnn-react-common/styles/index";
.sitegroups-list-container {
  margin-top: 100px;
  float: left;
  & > div {
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: table;
  float: left;
  .container {
    .no-sitegroups-row {
      width: 100%;
      float: left;
      text-align: center;
      font-weight: bold;
      padding: 13px 20px;
      box-sizing: border-box;
      border-bottom: 1px solid @alto;
    }
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-left: 1px solid @alto;
    border-right: 1px solid @alto;
    background-color: white;
    .sitegroups-header-row {
      display: table;
      width: 100%;
      border-bottom: 1px solid @alto;
      border-top: 1px solid @alto;
      width: 100%;
      float: left;
      position: relative;
      padding: 15px 20px;
      box-sizing: border-box;
      text-transform: uppercase;
    }
  }
}
