.dnn-search-box {
    input[type="search"] {
        -moz-appearance: none;
        /* older firefox */
        -webkit-appearance: none;
        /* safari, chrome */
        appearance: none;
        /* rest */
    }
}