/******** Redirection Manager ********/
#dnnMobileManagement .dnnRedirectionTypeOpt { margin: 0px 50px 25px 65px; }
#dnnMobileManagement .dnnRedirectionGrid hr { height:2px; border:0; background-color:#E0E0E0; }

#dnnMobileManagement .dnnRedirectionRuleHeader { width:300px; text-align: left; padding-left:50px; }
#dnnMobileManagement .dnnRedirectionActions { width:100px; float:left; margin-left:10px; }
#dnnMobileManagement .dnnRedirectionActions .action { float:left; margin: 0px 4px 0px 4px; }
#dnnMobileManagement .dnnRedirectionRule { width:300px; text-align: left; font-size:small; padding-left:50px; }
#dnnMobileManagement .dnnRedirectionType { width:250px; text-align: center; font-size:small; }
#dnnMobileManagement .dnnRedirectionIsEnabled { width: 100px; text-align: center; }

#dnnMobileManagement a.delete { display: block;background: url(../../../images/delete.gif) no-repeat;width: 16px;height: 16px;margin: 0 auto; }
#dnnMobileManagement a.enable { display: block;width: 16px;height: 16px;margin: 0 auto; }

#dnnMobileManagement .dnnFormItem .dnnDropDownList{ width: 218px !important; margin-right: 15px; float: left; }
