@import "~@dnnsoftware/dnn-react-common/styles/index";
#scheduler-container {
    .dnn-persona-bar-page-body {
        .react-tabs {
            [hidden] {
                display: none;
            }
            .noData {
                display: block;
                text-align: center; 
                float: left; 
                width: 100%;
                .noTasks {
                    font-size: x-large;
                    color: @thunder;
                    margin-left: 40px;
                    margin-right: 40px;
                    margin-top: 60px;
                    left: 0;
                    right: 0;
                    position: absolute;
                }
                .noTasksMessage {
                    font-size: small;
                    color: @alto;
                    margin-left: 40px;
                    margin-right: 40px;
                    margin-top: 110px;
                    left: 0;
                    right: 0;
                    position: absolute;
                }
            }
        }
    }
}