<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dnn.PersonaBar.Library" version="1.5.0.21" targetFramework="net45" allowedVersions="[1.5.0, 1.5.1)" />
  <package id="DotNetNuke.Bundle" version="9.2.0.18" targetFramework="net45" allowedVersions="[9.2.0, 9.3.0)" />
  <package id="DotNetNuke.Core" version="9.2.0.18" targetFramework="net45" allowedVersions="[9.2.0, 9.3.0)" />
  <package id="DotNetNuke.Instrumentation" version="9.2.0.18" targetFramework="net45" allowedVersions="[9.2.0, 9.3.0)" />
  <package id="DotNetNuke.Web" version="9.2.0.18" targetFramework="net45" allowedVersions="[9.2.0, 9.3.0)" />
  <package id="DotNetNuke.Web.Client" version="9.2.0.18" targetFramework="net45" allowedVersions="[9.2.0, 9.3.0)" />
  <package id="DotNetNuke.Web.Deprecated" version="9.2.0.18" targetFramework="net45" allowedVersions="[9.2.0, 9.3.0)" />
  <package id="DotNetNuke.Web.Mvc" version="9.2.0.18" targetFramework="net45" />
  <package id="DotNetNuke.WebApi" version="9.2.0.18" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" allowedVersions="[5.2.3]" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" allowedVersions="[5.2.3]" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" allowedVersions="[5.2.3]" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" allowedVersions="[5.2.3]" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" allowedVersions="[7.0.1]" />
</packages>