@import "~@dnnsoftware/dnn-react-common/styles/index.less";
:local(.htmlEditorManager) {
    .htmlEditor-back {
        float: left;
        font-weight: bolder;
        color: @thunder;
        margin: 105px 0 10px 0;
        cursor: pointer;
        &:hover {
            color: @curiousBlue;
        }
    }
    .htmlEditorIframe {
        width: 100%;
        height: 800px;
    }
}