.dnn-social-panel-body.socialpanelbody {
    margin-top: 100px;
    > div {
        padding: 25px 30px;
        .normalPanel {
            border-radius: 0;
            padding: 0;
            .searchpanel {
                padding: 0;
                border-radius: 0;
            }
        }
    }
}