@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.dnn-language-resource-editor{
    position: relative;
    .dnn-ui-common-multi-line-input,
    .dnn-ui-common-single-line-input{
        width: 90% !important;
    }

    .dnn-ui-common-multi-line-input{
        min-height: 18px;
    }

    .edit-svg{
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
        position: absolute;
        margin-left: 10px;
        cursor: pointer;
    }

    .fulleditor-controls{
        .btn-group{
            .btn{
                width: 16px;
                display: inline-block;
            }
        }
    }
}