#users-container * {
  box-sizing: border-box;
}
#users-container .create-user-box-collapse {
  float: left;
}
#users-container .create-user-box-collapse > div {
  float: left;
}
#users-container .dnn-persona-bar-page-body.without-margin {
  margin-top: 0;
}
#users-container .dnn-persona-bar-page-body .users-workspace-tray {
  height: 37px;
}
#users-container .dnn-persona-bar-page-body .users-workspace-tray .dnn-grid-cell {
  height: 100%;
  padding-top: 7px;
}
#users-container .dnn-persona-bar-page-body .users-workspace-tray .dnn-grid-cell .users-filter-container .user-filters-filter {
  height: 24px;
}
#users-container .dnn-persona-bar-page-body .users-workspace-tray .dnn-grid-cell .users-filter-container .user-filters-filter .dnn-dropdown .collapsible-label {
  padding-top: 4px;
}
#users-container .dnn-persona-bar-page-body .users-workspace-tray .dnn-grid-cell .users-filter-container .user-filters-filter .dnn-dropdown .dropdown-icon {
  top: 5px;
}
#users-container .dnn-persona-bar-page-body .users-workspace-tray .dnn-grid-cell .dnn-search-box {
  width: 100%;
  height: 24px;
}
#users-container .dnn-persona-bar-page-body .users-paging {
  float: left;
  width: 100%;
  margin: 0 2px;
  padding: 18px;
}
