{
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "MinimumLevel": {
      "Default": "Error"
    },
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "outputTemplate": "{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level:u3}] [{SourceContext}] {Message:lj}{NewLine}{Exception}",
          "path": "%BASEDIR%/Portals/_default/Logs/log.log.resources",
          "rollingInterval": "Day",
          "flushToDiskInterval": "00:00:01",
          "shared": true
        }
      }
    ]
  }
}
