<?xml version="1.0" encoding="utf-8" ?>
<AnalyticsEngineConfig>
	<Engines>
		<AnalyticsEngine>
			<EngineType>DotNetNuke.Services.Analytics.GoogleAnalyticsEngine, DotNetNuke</EngineType>
			<ElementId>Head</ElementId>
			<InjectTop>False</InjectTop>
			<ScriptTemplate>
				<![CDATA[
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=[TRACKING_ID]"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', '[TRACKING_ID]', { 'anonymize_ip': true });
</script>
		  ]]>
			</ScriptTemplate>
		</AnalyticsEngine>
	</Engines>
</AnalyticsEngineConfig>