<?xml version="1.0" encoding="utf-8" ?>
<RewriterConfig>
    <Rules>
        <RewriterRule>
            <LookFor>.*DesktopDefault.aspx(.*)</LookFor>
            <SendTo>~/Default.aspx$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>.*EditModule.aspx(.*)</LookFor>
            <SendTo>~/Default.aspx$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>.*/TabId/(\d+)(.*)/Logoff.aspx</LookFor>
            <SendTo>~/Admin/Security/Logoff.aspx?tabid=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>.*/TabId/(\d+)(.*)/rss.aspx</LookFor>
            <SendTo>~/rss.aspx?TabId=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>.*Telerik.RadUploadProgressHandler.ashx(.*)</LookFor>
            <SendTo>~/Telerik.RadUploadProgressHandler.ashx$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>[^?]*/TabId/(\d+)(.*)</LookFor>
            <SendTo>~/Default.aspx?TabId=$1</SendTo>
        </RewriterRule>
        <RewriterRule>
            <LookFor>.*BannerClickThrough.aspx(.*)</LookFor>
            <SendTo>~/DesktopModules/Admin/Banners/BannerClickThrough.aspx$1</SendTo>
        </RewriterRule>
    </Rules>
</RewriterConfig>