<?xml version="1.0" encoding="utf-8" ?>
<AnalyticsEngineConfig>
	<Engines>
		<AnalyticsEngine>
			<EngineType>DotNetNuke.Services.Analytics.GoogleAnalyticsEngine, DotNetNuke</EngineType>
			<ElementId>Head</ElementId>
			<InjectTop>False</InjectTop>
			<ScriptTemplate>
				<![CDATA[     
        
			    <script type="text/javascript">
			      var _gaq = _gaq || [];
			      _gaq.push(['_setAccount', '[TRACKING_ID]']);
			      _gaq.push(['_trackPageview']);
			 
			      (function() {
				    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			      })();
			    </script>
        
		  ]]>
			</ScriptTemplate>
		</AnalyticsEngine>
	</Engines>
</AnalyticsEngineConfig>