.dnn-ui-common-input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;

        .input-group-addon {
            border-right: 0;
            border-radius: 3px;
            padding: 8px 16px;
            border: 1px solid #CCCCCC;
            border-right: none;
            color: #B3B3B3;
            text-align: center;
            width: 1%;
            white-space: nowrap;
            vertical-align: middle;
            display: table-cell;
            box-sizing: border-box;
            border-collapse: separate;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        
        input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: table-cell;
            position: relative;
            float: left;
            width: 100%;
            border-collapse: separate;
        }
}