<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
  <package id="NUnit" version="2.6.2" targetFramework="net4" userInstalled="true" />
</packages>