<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB" version="5.0.21" targetFramework="net48" />
  <package id="Microsoft.Build.Tasks.Git" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="8.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.556" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.556" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
</packages>