<?xml version="1.0" encoding="utf-8" ?>
<capabilities> 
	<functionality nm="UpLevel" desc="Renders Uplevel">
		<supports>
			<browser nm="IE" minversion="4" />
			<browser nm="Netscape" minversion="5" />
			<browser nm="Gecko" minversion="1" />
			<browser nm="Opera" minversion="7" />
			<browser contains="Konqueror" />
			<browser contains="Safari" />
			<browser contains="FireFox" />
            <browser contains="Camino" />
		</supports>
		<excludes>
		</excludes>
	</functionality>
	<functionality nm="XMLParsing" desc="Client Side XML Parsing">
		<supports>
			<browser nm="IE" minversion="4" />
			<browser nm="Netscape" minversion="5" />
			<browser nm="Gecko" minversion="1" />
			<browser contains="FireFox" />
            <browser contains="Camino" />
		</supports>
		<excludes>
			<browser contains="Konqueror" />
			<browser contains="Mac" />
			<browser contains="Windows CE" />
		</excludes>
	</functionality>
	<functionality nm="XMLDataIslands" desc="XML DataIslands supported (allows caching)">
		<supports>
			<browser nm="IE" minversion="5" />
		</supports>
		<excludes>
			<browser contains="Mac" />
			<browser contains="Windows CE" />
		</excludes>
	</functionality>
	<functionality nm="Transitions" desc="Menu Effects Transitions">
		<supports>
			<browser nm="IE" minversion="5" />
		</supports>
		<excludes>
			<browser contains="Mac" />
		</excludes>
	</functionality>
</capabilities>