
body {
    background: #f4f4f4 url(../portals/_default/skins/Gravity/images/body_bg.jpg) repeat-x 0 0; 
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.dnnForm {
    width: 100%;
}

span#lblDotNetNukeInstalltion {
	font-size: 20pt;
	font-weight: lighter;
	color: gray;
}

.install {
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
	box-shadow: 5px 5px 20px grey;
	/*IE8*/ -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#808080')";
}

div#tabs {
    border: none;
    background-color: white;
}
div#tabs ul {
    border: none;
}
div#tabs .tabSubTitle {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 2.5em;
}
div#tabs .installIntro {
    font-size: 1.5em;
    font-weight: lighter;
	color: grey;
	margin-left: -10px;
}
hr {
    margin: 15px 0px 5px 0px;
}

.dnnFormItem .installRadioButtons label {
    width: 90%;
    text-align: left;
    font-weight: normal;
    margin-left: 5px;
}
.dnnFormItem .permissionsCheckBoxes label {
    width: 200px;
    text-align: left;
    font-weight: normal;
    margin-left: 5px;
    display: inline-block;
}
.dnnInstall .dnnFormItem input[type="checkbox"] {
    width: auto;
    float: none;
    min-width: 25px;
}
.dnnFormItem .databaseRadioButtons {
    width: 50%;
}
.dnnFormItem .fullWidth {
    width: 100%;
    text-align: left;
}
.dnnFormItem .databaseRadioButtons label {
    width: auto;
    text-align: left;
    font-weight: normal;
    margin: 0px 10px 0px 5px;
    display: inline-block;
}

.dnnFormMessage.dnnFormError {
    display: none;
	background-color: rgb(255, 0, 0, 0.15);
	background: rgb(255, 0, 0, 0.15);
}
.dnnFormMessage.dnnFormValidationSummary {
    display: none;
}

A.dnnDisabledAction:link, A.dnnDisabledAction:visited, A.dnnDisabledAction:active, A.dnnDisabledAction:hover {
    text-decoration: none;
    color: Silver;
	opacity: 0.5;
	/*IE8*/ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	
}

.permissionsCheckBoxes .aspNetDisabled, .permissionsCheckBoxe a.aspNetDisabled, .permissionsCheckBoxe .dnnDisabled, a.dnnDisabled {
    color: black;
    display: inline-block;
    width: 300px;
}

div#installation-buttons {
	margin-top: 1em;
    margin-bottom: 2em;
}

div#percentage {
	font-size: smaller;
    margin: 0 0 1em 0;
    color: #666;
}

div#installation-progress {	
    width: 520px;
    float: left;
	margin-left: -20px;	
}
div#installation-progress hr {
	margin-left: 0px;
}

div#installation-steps {
    width: 290px;
    float: right;    
    padding: 15px;
    background-color: #eee;
}

div#installation-steps > p {
    padding: 0 0 0 0;
    margin: 0 0 8px 8px;
}

div#installation-steps > p > span{
    display: inline-block;    
}
span.states-icons{
    width: 25px;
    height: 16px;
    background-image: url("../images/installer-feedback-states-sprite.png");
    background-repeat: no-repeat;
}

div#installation-steps > p.step-notstarted {
    color: #bbb;
}

div#installation-steps > p.step-running {
    color: #666;
}

div#installation-steps > p.step-done {
    color: #666;
}

div#installation-steps > p.step-error {
    color: #666;
}

p.step-notstarted > span.states-icons{
    background-position: -1000px -1000px;
}

p.step-running > span.states-icons{
    background-position: -48px 4px;
}

p.step-done > span.states-icons{
    background-position: 0 3px;
}

p.step-error > span.states-icons{
    background-position: -99px 3px;
}

div#installation-log-container{
    margin: -1.6em 0 1em 0;
    height: 15em;
	width: 505px;
    overflow: auto;
    border: 1px solid #aaa;
    display: none;
    padding: .5em;
}
div#installation-log { 
    white-space: nowrap;
}

/* update form style */
.dnnFormItem input[type="checkbox"] + span, .dnnFormItem input[type="radio"] + span {
    display: inline-block;
    margin: 7px 5px 10px 5px;
    width: auto;
}

img#bannerImage {
	width: 520px;
	height: 120px;
}
div#banners{
	margin-left: -20px;
}

.visitSiteLink {
	float: right;
	min-width: 150px;
}

.dnnFormItem hr {
	margin-left: -20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#timer, #percentage {
	font-size: smaller;
	font-style: italic;
}
img#finishImage
{
	border: 0;
	padding-top: 8px;
	padding-right: 5px;	
}

.promptMessage {
	display: inline-block;
	padding-top: 13px;
	background-color: #FFFF81;
	width: 394px;
	text-align: center;
}
.promptMessageError{
	display: inline-block;
	padding-top: 13px;
	background-color: rgba(255, 0, 0, 0.15);
	width: 394px;
	text-align: center;
}
.permission {
	margin-top: 5px;
}
.permission img {
	margin: 0 5px;
}
#permissionCheckMessage {
	display: none;
}
.permissionCheck {
	width: 100%;
	margin-bottom: 4px;
	text-align: left;
	padding-left: 4px;
}
.inProgress {
	display: block;
	width: 100%;
	background-image: url(../images/progress.gif);
    background-repeat: repeat-x;
}
.stoppedProgress {
	display: block;
	width: 100%;
	background-image: none;
}
.flagimage{
	height: 14px;
	vertical-align: top;
	padding-bottom: 5px;
}
.selectedFlag
{
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #3792ED;
}
.dnnFormPopup .ui-dialog-titlebar-close {
  visibility: hidden;
}
.dnnFormPopup .ui-dialog-titlebar {
	cursor: default;
}
a.videoLink {
	background: url(../images/videoIcon.png) no-repeat;
	display: inline-block;
	padding-left: 24px;
	height: 24px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	margin-left: 20px;
}
a.videoLink:hover {
	text-decoration: underline;
}