@import "~@dnnsoftware/dnn-react-common/styles/index.less";

.translation-progress-bars {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid @curiousBlue;
    margin-bottom: 30px;
    &.error {
        border: 1px solid red;
    }
    .text {
        font-weight: 600;
        float: left;
        &.time {
            margin-top: 20px;
        }
    }
}