<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" allowedVersions="[1.0.0.0]" />
</packages>