@import "~@dnnsoftware/dnn-react-common/styles/index";
.current-theme{
    width: 168px;
    height: 168px;
    background-color: @mercury;

    img{
        vertical-align: top;
        width: 100%;
    }
    svg, &:hover svg{
        fill: @alto;
    }

    
}