*,
*:before,
*:after {
  box-sizing: border-box;
}



// Base Styles
//–––––––––––––––––––––––––––––––––––––––––––––––––

body {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  font-family: $ubuntu;
  color: color('foreground');
  background-color: color('background');
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ubuntu;
  font-weight: 500;
}

h1 {
  font-size: 2.67rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.67rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.33rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 2rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.33rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

.lead {
  font-size: 1.22rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1.5rem;
}



// Sanitation
//–––––––––––––––––––––––––––––––––––––––––––––––––

ul ul,
ol ol,
ul ol,
ol ul {
  margin:0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -.4em;
}

sub {
  top: .4em;
}



// Links
//–––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: color('primary');
  text-decoration:none;
  transition:.25s ease-in-out all;

  &:hover {
    color: color('primary-light');
    text-decoration:none;
  }
}
header a, footer a {
	color: color('tertiary-contrast');
	font-weight: 400;
}



// hr and pre
//–––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  display:block;
  height:1px;
  width:25%;
  border:0;
  border-top:1px solid color('primary');
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  padding: 0;
}

pre {
  background: color('neutral');
  padding:10px 15px;
}