@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.licensingPlatform) {
    border-bottom: none;
    .intro-header-row {
        padding: 10px;
        float: right;
        overflow: hidden;
        color: @mountainMist;
        border-left: 1px solid @alto;
        border-bottom: 1px solid @alto;
    }
    .intro {
        text-align: center;
        padding: 50px 0;
        border: 1px solid @alto;
        .intro-header {
            margin: 0 0 15px 0;
            font-size: 25px;
            color: @thunder;
        }
        .intro-body {
            font-size: 15px;
            color: @mountainMist;
            margin: 0 50px;
        }
        .dnn-technology-editorial-icon {
            width: 250px;
            float: right;
            margin: 0 20px;
            /*> svg {
                width: 250px;
            }*/
        }
    }
    .links-wrapper {
        float: left;
        margin-top: 30px;
        border: 1.5px solid @alto;
        font-weight: bolder;
        display: flex;
        .link-github-wrapper {
            float: left;
            width: 265px;
            margin: 25px 0;
            .link-github {
                height: 100%;
                cursor: pointer;
                float: left;
                margin: 0 20px;
                text-align: center;
                border: 1px solid #fafafa;
                min-height: 290px;
                &:hover {
                    border: 1px solid @cerulean;
                    background-color: @alabaster;
                }
                .link-github-header {
                    margin: 10px 0 20px 0;
                    color: @thunder;
                }
                .link-github-desc {
                    margin: 0 25px 20px 25px;
                }
                .github-icon {
                    margin-top: 10px;
                    > svg {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        .link-community-wrapper {
            border-right: 1px solid @alto;
            float: left;
            width: 264px;
            margin: 25px 0;
            .link-community {
                height: 100%;
                cursor: pointer;
                float: left;
                margin: 0 20px;
                text-align: center;
                border: 1px solid #fafafa;
                min-height: 290px;
                &:hover {
                    border: 1px solid @cerulean;
                    background-color: @alabaster;
                }
                .link-community-header {
                    margin: -10px 0 20px 0;
                    color: @thunder;
                }
                .link-community-desc {
                    margin: 0 25px 20px 25px;
                }
                .dnn-icon {
                    > svg {
                        width: 110px;
                        height: 110px;
                    }
                }
            }
        }
        .link-docs-wrapper {
            border-right: 1px solid @alto;
            float: left;
            width: 265px;
            margin: 25px 0;
            .link-docs {
                height: 100%;
                cursor: pointer;
                float: left;
                margin: 0 20px;
                text-align: center;
                border: 1px solid #fafafa;
                min-height: 290px;
                &:hover {
                    border: 1px solid @cerulean;
                    background-color: @alabaster;
                }
                .link-docs-header {
                    margin: 10px 0 20px 0;
                    color: @thunder;
                }
                .link-docs-desc {
                    margin: 0 25px 20px 25px;
                }
                .docs-icon {
                    margin-top: 20px;
                    > svg {
                        height: 69px;
                    }
                }
            }
        }
    }
}