@import "~@dnnsoftware/dnn-react-common/styles/index";
.middle-actions{
    margin: 30px 0 15px 0;
    border-bottom: 1px solid @alto;
    padding-bottom: 10px;
    .search-filter {
        float: left;
        width: 100%;
        & > div {
            display: block !important;
            border-left: 1px solid @alto;
            input {
                display: block;
                width: 100%;
                position: inherit !important;
                border: none;
                border-radius: none;
                background-color: transparent;
                outline: none;
                padding-right: 45px;
            }
        }
    }
}