<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net48" />
  <package id="Moq" version="4.20.72" targetFramework="net48" />
  <package id="NUnit" version="4.3.2" targetFramework="net48" />
  <package id="NUnit.Analyzers" version="4.6.0" targetFramework="net48" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="5.0.0" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.556" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.556" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.2" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>