<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" allowedVersions="[4.0.8876.1]" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" allowedVersions="[4.2.1502.0911]" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" allowedVersions="[2.6.4]" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net45" allowedVersions="[2.1.1]" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" allowedVersions="[0.86.0]" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net472" developmentDependency="true" />
</packages>