:host {
  display: block;
  padding-right: 2em
}
.container{
  display: flex;
  gap: 1em;
  margin-top: 1em;
  flex-wrap: wrap;
  .card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
    border: none;
    background-color: transparent;
    transition: all 150ms ease-in-out;
    width: calc(110px + 2em);
    justify-content: flex-end;
    &:hover, &:focus{
      transform: scale3d(1.1, 1.1, 1.1);
    }
    img{
      width: 110px;
      max-height: 110px;
      margin: auto;
    }
  }
}