<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Sample Snippet</Title>
        </Header>
        <Snippet>
            <Code Language="">
                <![CDATA[@Dnn.LocalizeString("key")]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
