@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.editModule) {
    .box-title {
        font-size: 15px;
    }
    .premium-module {
        .dnn-switch-container {
            width: 50%;
            .dnn-switch {
                float: right;
            }
        }
    }
    .module-definitions {
        .header-container {
            padding: 0;
            .box-title {
                float: left;
                margin-bottom: 20px;
            }
            a.add-button {
                float: right;
                cursor: pointer;
                color: @mountainMist;
                &.add-active, &:hover {
                    color: @curiousBlue;
                    font-weight: bold;
                    svg {
                        fill: @curiousBlue;
                    }
                }
                svg {
                    width: 16px;
                    height: 16px;
                    fill: @mountainMist;
                    float: left;
                    margin-right: 5px;
                }
            }
        }
    }
    .with-right-border {
        .dnn-switch-container {
            width: 100%;
            margin-bottom: 32px;
            padding-top: 15px;
            .dnn-switch {
                float: right;
            }
        }
    }
}