@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.basicPackageInformation) {
    .extension-type {
        margin-bottom: 34px;
    }
    .version-dropdown {
        width: 30%;
        box-sizing: border-box;
        margin-right: 5%;
        vertical-align: bottom;
        &:last-child {
            margin-right: 0;
        }
    }
}