@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Dnn.Modules.Html.Models.Settings>

@using DotNetNuke.Web.Mvc.Helpers

<p> This is an MVC Settings Control</p>

<fieldset>
    <div class="dnnFormItem">

        <div class="dnnLabel" style="position: relative;">
            @Html.LabelFor(m => Model.SupportsTokens, new { @class = "col-md-2 control-label" })
        </div>
        @Html.CheckBoxFor(m => Model.SupportsTokens, new { id = "SupportsSettings" })
    </div>  
</fieldset>
