<div id="upload">

    <div test-cheese></div>

    <!-- Header -->
    <div class="row">
        <div class="col-xs-12">
            <h2>Upload</h2>
        </div>
    </div>
    <!-- /Header -->

    <!-- Errors -->
    <div ng-show="errors.length > 0" class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <ul>
                    <li ng-repeat="errorMessage in errors">
                        {{ errorMessage }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Errors -->

    <!-- Content -->
    <div ng-if="uploader" class="row">

        <!-- Upload and Controls -->
        <div class="col-xs-12 col-md-4">

            <!-- Drop Zone -->
            <div ng-show="uploader.isHTML5">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Drop Files</h3>
                        <div class="drop-zone" nv-file-drop nv-file-over="" uploader="uploader">
                            Drop files here.
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Drop Zone -->

            <!-- TODO: Sort DNN messing up the file uploader appearance. -->
            <!-- Regular
            <div class="row">
                <div class="col-xs-12">
                    <h3>Select Files</h3>
                    <input type="file" nv-file-select="" uploader="uploader" multiple />
                </div>
            </div>
            /Regular -->

            <!-- Controls -->
            <div class="row">
                <div class="col-xs-12">
                    <h3>Controls</h3>
                    <button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload</button>
                    <button type="button" class="btn btn-primary" ui-sref="install.summary">Continue</button>
                </div>
            </div>
            <!-- /Controls -->

        </div>
        <!-- /Upload and Controls -->

        <!-- Queue -->
        <div class="col-xs-12 col-md-8">

            <h3>Upload Queue</h3>

            <!-- Files -->
            <div class="row">
                <div class="col-xs-12">
                    <ul class="file-list">
                        <li ng-repeat="item in uploader.queue">
                            <ul>
                                <li><h4>{{ item.file.name }}</h4></li>
                                <li><strong>Size:</strong> {{ item.file.size / 1024 / 1024 | number: 2 }} MB</li>
                            </ul>
                            <div class="progress-bar">
                                <span style="width: {{ item.progress }}%;"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Files -->
            
        </div>
        <!-- /Queue -->

    </div>
    <!-- /Content -->

</div>