@import "~dnn-global-styles/index";

:local(.saveAsTemplate){
    padding: 30px;
    border: 1px solid #C8C8C8;
    .dnn-multi-line-input-with-error,
    .dnn-single-line-input-with-error {
        display: block;
    } 

    .buttons-box {
        clear: both;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        .dnn-ui-common-button {
            margin: 5px;
        }
    }
}