@import "~@dnnsoftware/dnn-react-common/styles/index";
#seo-container {
    .dnn-persona-bar-page-body {
        .persona-bar-page-body {
            .row-opened {
                margin-top: -1px;
                margin-bottom: -1px;
                border-top: 2px solid @curiousBlue;
                border-bottom: 2px solid @curiousBlue !important;
            }
        }
    }
}