@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.moduleContainer) {
    & > .dnn-grid-cell {
        margin-bottom: 20px;
    }

    .no-appearance-items {
        width: 100%;
        font-weight: bold;
        padding: 13px 20px;
        box-sizing: border-box;
    }
}