@import "~@dnnsoftware/dnn-react-common/styles/index";
.jobs-filter-container {
    float: left;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid @alto;
    padding-bottom: 5px;
    .dnn-grid-cell {
        margin-bottom: 5px;
        .job-filters-filter {
            width: 100%;
            border-right: 1px solid @alto;
            font-size: 13px;
            font-family: inherit;
            float: left;
            height: 32px;
            padding-top: 4px;
            .dnn-dropdown {
                .collapsible-label {
                    padding-top: 4px;
                    padding-left: 0;
                }
                .dropdown-icon {
                    top: 5px;
                }
            }
            .dnn-search-box {
                width: 100%;
                height: 24px;
                input {
                    padding: 0px 16px;
                }
            }
            .dnn-dropdown {
                .collapsible-toggle {
                    width: auto;
                }
            }
        }
        .search-filter {
            float: left;
            width: 100%;
            > div {
                display: block !important;
                border-left: 1px solid @alto;
                input {
                    display: block;
                    width: 100%;
                    position: inherit !important;
                    border: none;
                    border-radius: none;
                    background-color: transparent;
                    outline: none;
                    padding-right: 45px;
                }
            }
        }
    }
}