@import "~dnn-global-styles/index";
:local(.privacySettings) {
    margin: 30px 30px;
    * {
        box-sizing: border-box;
    }
    .dnn-ui-common-input-group {
        padding: 0 0 15px 0;
        .dnn-label {
            label {
                font-weight: bolder;
                float: left;
            }
        }
        .dnn-label-long {
            width: 70%;
            label {
                width: 70%;
            }
        }
        .dnn-single-line-input-with-error {
            width: 100%;
            float: left;
        }
        .dnn-dropdown {
            width: 681px;
        }
        input {
            width: auto;
        }
        .dnn-switch-container {
            float: right;
        }
        .privacySettings-row_switch {
            border-bottom: 1px solid @alto;
            margin: 10px 0 0 0;
            display: table;
            width: 100%;
            padding: 0 0 10px 0;
        }
    }
    .sectionTitle {
        font-weight: bolder;
        text-transform: uppercase;
        float: left;
        width: 100%;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 6px;
    }
    .buttons-box {
        float: left;
        width: 100%;
        text-align: center;
        margin: 20px 0;
        .dnn-ui-common-button {
            margin: 5px;
        }
    }
    .dnn-grid-system {
        .left-column {
            padding-right: 30px;
            .dnn-dropdown {
                width: 100%;
            }
        }
        .right-column {
            padding-left: 30px;
            border-left: 1px solid @alto;
        }
    }
}