.extension-list {
    .filter-dropdown {
        width: auto;
        .dropdown-tooltip-container {
            width: 275px;
            .dnn-dropdown {
                .collapsible-label {
                    white-space: nowrap;
                }
            }
        }
    }
}