.dnnSearchBox {
    display: inline-block;
    margin: 0;
    padding: 5px;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;
    vertical-align: top;
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

    .dnnSearchBox > .dnnSearchBox_advanced_query {
        display: block;
	    float: left;
        color: #aaa;
        z-index: 10;
	    position: relative;
        top: 0px;
        font-size: 12px;
        padding: 3px 20px 3px 8px;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        border-radius: 3px;
	    background-color: #fff;
    }

     .dnnSearchBox > .dnnSearchBox_advanced_query b {
         color: #666666;
     }
     
     .dnnSearchBox > input[type="text"]::-ms-clear {
        display: none;
     }
    .dnnSearchBox > input[type="text"],
    .dnnSearchBox > input[type="text"]:focus {
        border: none;
        background: #fff;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        outline: none;
        vertical-align: top;
        height: 25px;
        left: 5px;
        display: block;
        position: absolute;
    }

        .dnnSearchBox > input[type="text"].dnnPlaceholder {
            color: #666;
        }

    .dnnSearchBox > a.dnnSearchBoxClearText
     {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        background: none;
        vertical-align: top;
        margin: 4px 0 0 0;
        z-index: 5;
    }

        .dnnSearchBox > a.dnnSearchBoxClearText.dnnShow{
            background: url(../../../images/search/clearText.png) center center no-repeat;
            cursor: pointer;
        }

    .dnnSearchBox > a.dnnSearchBoxClearAdvanced {
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        background: none;
        vertical-align: top;
        margin: 10px 0 0 0;
        z-index: 15;
    }

    .dnnSearchBox > a.dnnSearchBoxClearAdvanced.dnnShow {
         background: url(../../../images/dnnTagClose.png) center center no-repeat;
         cursor: pointer;
    }

    .dnnSearchBox > a.dnnSearchButton {
        display: block;
	    position: absolute;
	    top: 4px;
	    right: 0;
        width: 18px;
        height: 18px;
        background-image: url(../../../images/search/searchButton.png);
        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: top;
        cursor: pointer;
        margin: 4px 0 0 4px;
    }

    .dnnSearchBox > .dnnSearchBox_advanced {
	    position: absolute;
	    top: 4px;
	    right: 24px;
        margin: 0 0 0 10px;
    }

        .dnnSearchBox > .dnnSearchBox_advanced > .dnnSearchBox_advanced_label {
            display: block;
            border-left: 1px solid #ccc;
            padding: 3px 15px 0 10px;
            margin-right: 3px;
            color: #999;
            cursor: pointer;
            background: url(../../../images/dnnSpinnerDownArrow.png) no-repeat;
            background-position: right center;
            height: 22px;
        }

            .dnnSearchBox > .dnnSearchBox_advanced > .dnnSearchBox_advanced_label.dnnExpanded {
                color: #666;
                background: url(../../../images/dnnSpinnerUpArrow.png) no-repeat;
                background-position: right center;
            }

        .dnnSearchBox > .dnnSearchBox_advanced > .dnnSearchBox_advanced_dropdown {
            display: none;
            position: absolute;
            background: #fff;
            border: 1px solid #c9c9c9;
            right: 0;
            top: 28px;
            margin: 0;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 2px 0px 0px #bbb;
            box-shadow: 0px 2px 0px 0px #bbb;
            z-index: 215;
            padding: 8px;
        }

    .dnnSearchBox > ul.dnnSearchBox_preview {
        position: absolute;
        top: 35px;
        left: 0;
        background: #fff;
        margin: 0;
        list-style: none;
        border: 1px solid #c9c9c9;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        -webkit-box-shadow: 0px 2px 0px 0px #bbb;
        box-shadow: 0px 2px 0px 0px #bbb;
        min-width: 300px;
        z-index: 200;
    }

        .dnnSearchBox > ul.dnnSearchBox_preview > li {
            list-style: none;
            padding: 6px 12px 6px 22px;
            border-top: 1px solid #c9c9c9;
            color: #666;
            cursor: pointer;
            position: relative;
        }

            .dnnSearchBox > ul.dnnSearchBox_preview > li:hover {
                background-color: #e8f1fa;
                color: #333;
            }

            .dnnSearchBox > ul.dnnSearchBox_preview > li > span {
                white-space: nowrap;
            }

                .dnnSearchBox > ul.dnnSearchBox_preview > li > span > b {
                    font-weight: bold;
                    color: #000;
                }

            .dnnSearchBox > ul.dnnSearchBox_preview > li > p {
                margin: 0;
                font-size: 10px;
                line-height: 1.2em;
                color: #999;
                font-style: italic;
                white-space: normal;
            }

                .dnnSearchBox > ul.dnnSearchBox_preview > li > p > b {
                    color: #000;
                }

            .dnnSearchBox > ul.dnnSearchBox_preview > li.dnnSearchBox_preview_group {
                padding: 6px 12px 6px 12px;
                font-weight: bold;
                color: #000;
                border-bottom: 2px solid #000;
                cursor: inherit;
            }

                .dnnSearchBox > ul.dnnSearchBox_preview > li.dnnSearchBox_preview_group:hover {
                    background-color: #fff;
                    color: #000;
                }
