@import "~@dnnsoftware/dnn-react-common/styles/index";
#scheduler-container {
    .dnn-persona-bar-page-body {
        .react-tabs {
            .schedule-items {
                width: 100%;
                display: block;
                float: left;
                padding: 0 20px;
                box-sizing: border-box;
                * {
                    box-sizing: border-box;
                }
                .schedule-items-grid {
                    border: solid 1px @alto;
                    width: 100%;
                    float: left;
                    margin-bottom: 20px;
                }
                .header-row {
                    border-bottom: 1px solid @alto;
                    padding: 10px 0 10px 0;
                    width: 100%;
                    float: left;
                    overflow: hidden;
                    text-transform: uppercase;
                }
                .header-FriendlyName {
                    width: 28%;
                    float: left;
                    font-weight: bolder;
                    padding-left: 15px;
                }
                .header-Frequency {
                    width: 17%;
                    float: left;
                    font-weight: bolder;
                }
                .header-RetryTimeLapse {
                    width: 17%;
                    float: left;
                    font-weight: bolder;
                }
                .header-NextStart {
                    width: 19%;
                    float: left;
                    font-weight: bolder;
                }
                .header-Enabled {
                    width: 10%;
                    float: left;
                    font-weight: bolder;
                    margin-left: 12px;
                }
                .header-LogSettingEditButton {
                    float: left;
                    font-weight: bolder;
                }
                .collapsible-component {
                    .collapsible-header {
                        text-align: right;
                        text-transform: none;
                        padding-right: 40px;
                        .collapse-icon {
                            display: none;
                            &.collapsed {
                                display: none;
                            }
                        }
                    }
                }
                .servergroup-filter-container {
                    width: 30%;
                    float: left;
                    margin: 10px 0 15px 0;
                    border-bottom: 1px solid @alto;
                    height: 37px;
                    font-weight: bolder;
                }
                .AddItemRow {
                    text-align: right;
                    width: 70%;
                    float: right;
                    margin: 10px 0 15px 0;
                    font-weight: bolder;
                    border-bottom: 1px solid @alto;
                    overflow: hidden;
                    height: 37px;
                    .AddItemBox {
                        width: auto;
                        float: right;
                        color: @thunder;
                        cursor: pointer;
                        margin-top: 8px;
                        .add-icon {
                            margin-left: 20px;
                            margin-right: 5px;
                            float: left;
                            cursor: pointer;
                            svg {
                                width: 16px;
                                float: left;
                                height: 16px;
                                fill: @thunder;
                            }
                        }
                    }
                    .AddItemBox-active {
                        width: auto;
                        float: right;
                        color: @curiousBlue;
                        .add-icon {
                            margin-left: 20px;
                            margin-right: 5px;
                            float: left;
                            svg {
                                width: 16px;
                                float: left;
                                height: 16px;
                                fill: @curiousBlue;
                            }
                        }
                    }
                }
                .schedule-item {
                    color: @thunder;
                    word-break: keep-all;
                    word-wrap: break-word;
                }
            }
        }
    }
}