@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.fromControl) {
    padding: 0;
    .dnn-radio-buttons {
        margin-top: 32px;
        > label {
            font-weight: bold;
        }
    }
    .dnn-switch-container {
        width: 100%;
        margin-top: -11px;
        .dnn-switch {
            float: right;
        }
    }
}