:local(.usersList) {
    .dnn-grid-cell {
        overflow-wrap: break-word;
        &.no-users {
            float: left;
            width: 100%;
            text-align: center;
            padding: 10px;
        }
    }
}