<div id="manage-users">
    
    <!-- Header -->
    <div class="row">
        <div class="col-xs-12">
            <h2>Manage API Users</h2>
        </div>
    </div>
    <!-- /Header -->

    <!-- Content -->
    <div class="row">

        <!-- Create User -->
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New API User</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newUserName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-success" ng-click="createUser(newUserName)">Create</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Create User -->

        <!-- Users Table -->
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">API Users</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>API Key</th>
                                <th>Encryption Key</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{ user.Name }}</td>
                                <td>{{ user.APIKey }}</td>
                                <td>{{ user.EncryptionKey }}</td>
                                <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteUser(user)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Users Table -->

    </div>
    <!-- /Content -->

</div>