<?xml version="1.0" encoding="utf-8" ?>
<AnalyticsEngineConfig>
	<Engines>
		<AnalyticsEngine>
			<EngineType>DotNetNuke.Services.Analytics.GoogleAnalytics4Engine, DotNetNuke</EngineType>
			<ElementId>Head</ElementId>
			<InjectTop>True</InjectTop>
			<ScriptTemplate>
				<![CDATA[     
          <!-- Google tag (gtag.js) -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=[GA4_ID]"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '[GA4_ID]');
          </script>
        ]]>
			</ScriptTemplate>
		</AnalyticsEngine>
	</Engines>
</AnalyticsEngineConfig>
