@import "~dnn-global-styles/index";
:local(.sitesHeader) {
    padding: 0px 30px;
    z-index: 99999;
    position: fixed;
    width: 860px;
    background-color: #fff;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    .site-selection {
        width: 50%;
        float: left;
        .dnn-ui-common-input-group {
            width: auto;
            .dnn-label {
                margin-right: 0;
                label {
                    font-weight: bolder;
                    float: left;
                }
            }
            .dnn-dropdown {
                width: 250px;
                .language-flag {
                    float: left;
                    height: 16px;
                }
                .language-name {
                    float: left;
                    margin-left: 10px;
                }
                .collapsible-label {
                    .language-name {
                        width: 240px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                li {
                    float: left;
                    width: 100%;
                }
            }
        }
    }
    .site-selection, .language-selection {
        .dnn-ui-common-input-group {
            label {
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
            }
            .dnn-dropdown {
                min-width: 240px;
                max-width: 240px;
                border: none;
                width: auto;
                .collapsible-label {
                    color: @curiousBlue;
                    text-transform: uppercase;
                    font-weight: 900;
                    
                }
                .collapsible-content {
                    min-width: 250px;
                    right: 0px;
                    left: auto;
                }
                .open {
                    border: none;
                    margin-left: 1px;
                    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    .language-selection {
        width: 50%;
        float: right;
        .dnn-ui-common-input-group {
            width: auto;
            float: right;
            .dnn-label {
                margin-right: 0;
                label {
                    font-weight: bolder;
                    float: left;
                }
            }
            .dnn-dropdown {
                width: 250px;
                .language-flag {
                    float: left;
                    height: 16px;
                }
                .language-name {
                    float: left;
                    margin-left: 10px;
                }
                .collapsible-label {
                    .language-name {
                        width: 240px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                li {
                    float: left;
                    width: 100%;
                }
            }
        }
    }
}