.qsContainer .dnnForm .dnnFormMessage {
  margin-top: 20px;
  min-width: 400px;
  white-space: normal;
}
.dccEditContent .dccContainer {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 150px;
  border-bottom: 1px solid #cccccc;
}
.dccEditContent .dccFooter {
  margin-top: 6px;
  padding-bottom: 6px;
  clear: both;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.dccEditContent .dccFooter input {
  margin-left: 10px;
  margin-right: 10px;
}
.dccEditContent .dccFooter input.primarybtn {
  background: #0087c6 none repeat scroll 0% 0%;
  border: none;
  color: #ffffff !important;
  display: inline-block;
  padding: 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
.dccEditContent .dccFooter input.secondarybtn {
  background: #e4e4e4 none repeat scroll 0% 0%;
  border: none;
  color: #333333 !important;
  display: inline-block;
  padding: 9px;
  cursor: pointer;
  min-width: 75px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}
