@primarybtn_backgroundColor: #0087c6;
@primarybtn_color: #fff;
@secondarybtn_backgroundColor: #e4e4e4;
@secondarybtn_color: #333333;

@quickSettings_marginBottom: 20px;
@quickSettings_marginTop: 20px;
@quickSettings_minHeight: 400px;

@border_color: #ccc;


.qsContainer .dnnForm .dnnFormMessage {
    margin-top: @quickSettings_marginTop;
    min-width: @quickSettings_minHeight;
    white-space: normal;
}

.dccEditContent .dccContainer {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 150px;
    border-bottom: 1px solid @border_color;
    overflow: auto;
    padding-bottom: @quickSettings_marginBottom;
}

.dccEditContent .dccFooter {
    margin-top: 6px;
    padding-bottom: 6px;
    clear: both;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.dccEditContent .dccFooter input {
    margin-left: 10px;
    margin-right: 10px;
}

.dccEditContent .dccFooter input.primarybtn {
    background: @primarybtn_backgroundColor none repeat scroll 0% 0%;
    border: none;
    color: @primarybtn_color !important;
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    min-width: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

.dccEditContent .dccFooter input.secondarybtn {
    background: @secondarybtn_backgroundColor none repeat scroll 0% 0%;
    border: none;
    color: @secondarybtn_color !important;
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    min-width: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}


.dccEditContent .dnnFormEditor {
    width: 63%;
    float: right;
}