@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.newModuleModal) {
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    .box-title {
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .new-module-box {
        padding: 25px;
        .create-new-module-dropdown {
            padding-bottom: 45px;
            border-bottom: 1px solid @alto;
        }
        .new-module-dropdown-container {
            .dnn-ui-common-button {
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-top: 15px;
            }
        }
    }
}