/* RadComboBox Default skin */
/*global*/

.selectize-control {
    font-size: 12px; /*font-family:Verdana, Arial, Helvetica, sans-serif;*/
    color: #999; /*padding: 8px; 	border: 1px solid #c9c9c9;*/
    display: inline-block !important;
}

.dnnFormItem > .selectize-control, .dnnFormItem select {
    width: 47%;
    margin-bottom: 18px;
    max-width: 461px;
}