@import "~dnn-global-styles/index";

.dnn-persona-bar-treeview {
    cursor: pointer;
    margin-top:120px;
    padding: 15px;

    .collapse-expand {
        font-size: 12px;
        font-weight:bold;
        color:@curiousBlue;
        padding-bottom: 20px;
        padding-left:20px;
    }

    .item-name {
        position:relative;
        top:-5px;
        font-weight:bold;
        margin-left:5px;
    }

    .parent-expand-button {
        display:inline-block;
        position: relative;
        top:-8px;
    }

    .parent-expand-icon {
        display:inline-block;
        width:10px;
        margin-right:10px;
        font-size:14px;
    }

    .selection-arrow {
        display:inline-block;
        position:relative;
        left:30px;
        font-size:18px;
        width:20px;
        font-weight:bold;
        color: @curiousBlue;
        float:right;
    }
}

.dnn-persona-bar-treeview-ul {

    ul{
        margin-left:20px;
        padding:0;
    }
    li {
        width:100%;
        padding: 2px;
        list-style:none;
        padding:0;

    }

}

.dnn-persona-bar-treeview-icon {
    width:20px;
    display:inline-block;
}