<configuration>
    <nodes>
        <node path="/configuration/dotnetnuke/htmlEditor/providers" action="update" key="name" collision="ignore">
            <add name="DNNConnect.CKE" type="DNNConnect.CKEditorProvider.CKHtmlEditorProvider, DNNConnect.CKEditorProvider" providerPath="~/Providers/HtmlEditorProviders/DNNConnect.CKE/" settingsControlPath="~/Providers/HtmlEditorProviders/DNNConnect.CKE/Module/EditorConfigManager.ascx" />
        </node>
    </nodes>
</configuration>