@import "~@dnnsoftware/dnn-react-common/styles/index";
.extension-form {
    .module-definition-row {
        padding: 10px 15px;
        border-top: 1px solid @alto;
        .module-definition-name {
            padding: 0;
        }
        .edit-module-definition {
            > div {
                float: left;
            }
            .edit-module-definition-box {
                padding: 0;
                margin-top: 20px;
            }
        }
        .action-buttons {
            padding: 0;
            > div {
                float: right;
                cursor: pointer;
                > svg {
                    margin-left: 5px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}