<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Moq" version="4.20.72" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NUnit" version="4.4.0" targetFramework="net48" />
  <package id="NUnit.Analyzers" version="4.11.2" targetFramework="net48" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="5.2.0" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.556" targetFramework="net48" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.556" targetFramework="net48" developmentDependency="true" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.2" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.2" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>