@import "../../less/globals.less";
@import "~dnn-global-styles/index";
.page-language {
    background: @gallery;
    float: left;
    width: 100%;
    * {
        float: left;
    }
    .page-language-row {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid @alto;
        span {
            margin-left: 4px;
        }
        input {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 0;
        }
        textarea {
            border: 1px solid #ddd;
            width: 100%;
            height: 100px;
            resize: none;
        }
        .icon {
            float: right;
            width: 18px;
            cursor: pointer;
            margin-left: 2px;
        }
        .page-language-row-header {
            .icon {
                float: left !important;
                width: 29px;
                height: 13px;
                margin-top: -7px;
                svg {
                    fill: black;
                }
            }
        }
        .module-row {
            margin-top: 10px;
            .dnn-ui-common-tooltip {
                float: left;
                position: static;
                margin-top: 7px;
                margin-right: 10px;
            }
            input {
                width: ~"calc(100% - 45px)";
                margin: 0px;
            }
        }
    }
}