@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.vocabulariesLeftPane) {
    padding: 0 30px 30px 40px;
    display: block;
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: auto;
    border-right: 1px solid #ddd;
    margin-bottom: 15px;
    .dnn-editable-field:first-child{
        padding-top: 2px;
    }
}