<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
  </configSections>

  <clientDependency version="123456" fileDependencyExtensions=".js,.css">

    <!-- Add filters -->
    <!-- Add loggerType-->
    
    <fileRegistration defaultProvider="PageHeaderProvider">
      <providers>
        <add name="PageHeaderProvider" type="ClientDependency.Core.FileRegistration.Providers.PageHeaderProvider, ClientDependency.Core"
             enableCompositeFiles="true"/>
        <add name="LazyLoadProvider" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadProvider, ClientDependency.Core"
             enableCompositeFiles="true"/>
        <add name="LoaderControlProvider" type="ClientDependency.Core.FileRegistration.Providers.LoaderControlProvider, ClientDependency.Core"
             enableCompositeFiles="true"/>
      </providers>
    </fileRegistration>

    <mvc defaultRenderer="LazyLoadRenderer">
      <renderers>
        <add name="StandardRenderer" type="ClientDependency.Core.FileRegistration.Providers.StandardRenderer, ClientDependency.Core"
             enableCompositeFiles="true"/>
        <add name="LazyLoadRenderer" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadRenderer, ClientDependency.Core"
             enableCompositeFiles="true"/>
      </renderers>
    </mvc>

    <compositeFiles defaultFileProcessingProvider="CompositeFileProcessor" compositeFileHandlerPath="~/DependencyHandler.axd">
      <fileProcessingProviders>
        <add name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core"
             enableCssMinify="true"
             enableJsMinify="true"
             persistFiles="true"
             compositeFilePath="~/App_Data/ClientDependency"
             bundleDomains="localhost:54153" 
            urlType="Base64QueryStrings"
            pathUrlFormat="{dependencyId}/{version}/{type}"/>
      </fileProcessingProviders>

      <fileMapProviders>
        <add name="XmlFileMap"
              type="ClientDependency.Core.CompositeFiles.Providers.XmlFileMapper, ClientDependency.Core"
              mapPath="~/App_Data/ClientDependency"/>
      </fileMapProviders>

      <mimeTypeCompression>
        <add type="application/json" path="^.*?/Services/.*"/>
        <add type="application/json" path="^.*?/testFolder/.*"/>
      </mimeTypeCompression>

      <rogueFileCompression>
        <add path="*" compressJs="true" compressCss="true" jsExt=".js,asmx/js" cssExt=".css">
          <exclusions>
            <add path="^.*test.aspx.*" />
          </exclusions>
        </add>
      </rogueFileCompression>

    </compositeFiles>

  </clientDependency>

</configuration>