<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
  </configSections>

  <clientDependency version="123456">

    <fileRegistration defaultProvider="LoaderControlProvider" fileDependencyExtensions=".js,.css">
      <providers>
        <add name="PageHeaderProvider" type="ClientDependency.Core.FileRegistration.Providers.PageHeaderProvider, ClientDependency.Core"
             enableCompositeFiles="true"/>
        <add name="LazyLoadProvider" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadProvider, ClientDependency.Core"
             enableCompositeFiles="true"/>
        <add name="LoaderControlProvider" type="ClientDependency.Core.FileRegistration.Providers.LoaderControlProvider, ClientDependency.Core"
             enableCompositeFiles="true"/>
      </providers>
    </fileRegistration>

    <mvc defaultRenderer="StandardRenderer">
      <renderers>
        <add name="StandardRenderer" type="ClientDependency.Core.FileRegistration.Providers.StandardRenderer, ClientDependency.Core"
             enableCompositeFiles="true"/>
        <add name="LazyLoadRenderer" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadRenderer, ClientDependency.Core"
             enableCompositeFiles="true"/>
      </renderers>
    </mvc>

    <compositeFiles defaultProvider="CompositeFileProcessor" compositeFileHandlerPath="~/DependencyHandler.axd">
      <providers>
        <add name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core"
             enableCssMinify="true"
             enableJsMinify="true"
             persistFiles="true"
             compositeFilePath="~/App_Data/ClientDependency"/>
      </providers>

      <mimeTypeCompression>
        <add type="application/json" path="^.*?/Services/.*"/>
      </mimeTypeCompression>

      <rogueFileCompression>
        <add path="*" compressJs="true" compressCss="true" jsExt=".js,asmx/js" cssExt=".css">
          <exclusions>
            <add path="^.*test.aspx.*" />
          </exclusions>
        </add>
      </rogueFileCompression>

    </compositeFiles>

  </clientDependency>

</configuration>