<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
  </configSections>

  <clientDependency version="11111">
  </clientDependency>

</configuration>