/Dnn.AdminLogs/scripts/bundles/*.js
/Dnn.AdminLogs/css/AdminLogs.css
/Dnn.AdminLogs/static/
/Dnn.Extensions/scripts/bundles/*.js
/Dnn.Extensions/css/extensions.css
/Dnn.Extensions/static/
/Dnn.Licensing/scripts/bundles/*.js
/Dnn.Licensing/css/Licensing.css
/Dnn.Licensing/static/
/Dnn.Pages/scripts/bundles/*.js
/Dnn.Pages/css/Pages.css
/Dnn.Pages/static/
/Dnn.Prompt/scripts/bundles/*.js
/Dnn.Prompt/css/Prompt.css
/Dnn.Prompt/static/
/Dnn.Roles/scripts/bundles/*.js
/Dnn.Roles/scripts/bundles/rw-widgets.svg
/Dnn.Roles/css/Roles.css
/Dnn.Roles/static/
/Dnn.Security/scripts/bundles/*.js
/Dnn.Security/css/Security.css
/Dnn.Security/static/
/Dnn.Seo/scripts/bundles/*.js
/Dnn.Seo/css/Seo.css
/Dnn.Seo/static/
/Dnn.Servers/scripts/bundles/*.js
/Dnn.Servers/css/Servers.css
/Dnn.Servers/static/
/Dnn.SiteGroups/scripts/bundles/*.js
/Dnn.SiteGroups/css/SiteGroups.css
/Dnn.SiteGroups/static/
/Dnn.SiteImportExport/scripts/bundles/*.js
/Dnn.SiteImportExport/css/SiteImportExport.css
/Dnn.SiteImportExport/static/
/Dnn.Sites/scripts/bundles/*.js
/Dnn.Sites/css/Sites.css
/Dnn.Sites/static/
/Dnn.SiteSettings/scripts/bundles/*.js
/Dnn.SiteSettings/css/SiteSettings.css
/Dnn.SiteSettings/static/
/Dnn.TaskScheduler/scripts/bundles/*.js
/Dnn.TaskScheduler/css/TaskScheduler.css
/Dnn.TaskScheduler/static/
/Dnn.Themes/scripts/bundles/*.js
/Dnn.Themes/css/Themes.css
/Dnn.Themes/static/
/Dnn.Users/scripts/bundles/*.js
/Dnn.Users/scripts/exportables/Users/*.js
/Dnn.Sites/scripts/exportables/Sites/*.js
/Dnn.Users/css/Users.css
/Dnn.Users/static/
/Dnn.Vocabularies/scripts/bundles/*.js
/Dnn.Vocabularies/css/vocabularies.css
/Dnn.Vocabularies/static/

