@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.moduleContainer) {
    width: 100%;
    overflow: hidden;

    .container {
        background-color: @gallery;
        border: solid 1px @mercury;
    }
}