:host {
  display: block;
}

table{
  thead{
    font-weight: bold;
  }
  tbody{
    td{
      &:first-child{
        img{
          height: 2.5em;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}