@import "~dnn-global-styles/index";
:local(.languageVerifier) {
    margin: 30px 30px;    
    .languageVerifier-back {
        float: left;
        font-weight: bolder;
        color: @thunder;
        margin: 105px 0 10px 0;
        cursor: pointer;
        &:hover {
            color: @curiousBlue;
        }
        width: 100%;
    }
    .languageVerifier-wrapper {
        border: 1px solid @alto;
        float: left;
        background-color: #fff;
        width: 100%;
    }
}