/* Person Bar iFrame */
.dnnEditState iframe#personaBar-iframe{
	width: 85px;
}
iframe#personaBar-iframe{
	width: 0; 
	position: fixed; 
	left: 0; top: 0; 
	height: 100%; 
	z-index: 9999999;
}

.pb-scroll-wrapper {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: visible;
}
.pb-scroll-wrapper iframe#personaBar-iframe.ipad {
    position: relative !important;
}

.personabar-visible {
    margin-left: 80px;
}

.personabar-placeholder {
    width: 80px;
    background-color: #3d3c3c;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
