
@import "~@dnnsoftware/dnn-react-common/styles/index";
#security-container {
    .dnn-persona-bar-page {
        border-bottom: 0;
        .primary {
            > .ReactTabs__TabList {
                > .ReactTabs__Tab {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        .row-opened {
            margin-top: -1px;
            margin-bottom: -1px;
            border-top: 2px solid @curiousBlue;
            border-bottom: 2px solid @curiousBlue !important;
        }
    }
}