@import "~dnn-global-styles/index";
.ReactModalPortal {
    position: relative;
    .modal-header {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid @alto;
        h3 {
            font-size: 18px;
            padding: 15px 30px;
            float: left;
            color: @bulgarianRose;
        }
        .close-modal-button{
            width: 16px;
            height: 16px;
            float: right;
            padding: 17px 20px;
            cursor: pointer;
        }
    }
}