@import "~dnn-global-styles/index";


.pages-app {
    .page-container {
        margin-top: 105px;
        background-color:#fff;
        border: 1px solid @alto;
    }

    .empty-page-state {
        height: 300px;
        border: 1px solid @alto;
        text-align:center;
        font-family: inherit;

        h1{
            margin:30px 0px 10px 0px;
            font-size:24px;
            font-family: inherit;
        }

        p{
            color: @alto;
        }
    }

    .treeview-page-details {
        padding:20px;
    }



}
