@import "~dnn-global-styles/index";

.pages-app {
    .search-container{
        border-bottom: 1px solid @alto;
        height:40px;
        margin-top: 110px;

        .btn{
            float:left;
            cursor: pointer;
            width:30px;
            height:30px;
            padding-top:5px;

            svg{
                width:100%;
                fill:#000;
            }
        }

        div{
            display:block;
        }

        .search-box{
            float:right;
            border-left: 1px solid @alto;
            width: 300px;

            .search-input {
                width:230px;
                float:left;
                input{
                    border:none;
                    background-color:transparent;
                    width:100%;
                    outline:none;
                }

                input::-ms-clear {
                    display: none;
                }
            }
        }

        .search-btn {
            padding: 0 5px;
        }
    }

    .page-container {
        background-color:#fff;
        border: 1px solid @alto;

        .fade-in{
           transition: all .15s forwards ease-in;
           animation: fadeIn .15s;
        }

        .tree-container{
            transition: all .5s;
            opacity:1;
            cursor: auto;
        }

        .disabled{
            opacity:0.5;

            .dnn-persona-bar-treeview{
                cursor:not-allowed;
                .collapse-expand { pointer-events:none;}
                li{pointer-events:none;}
            }
        }
    }

    .empty-page-state {
        height: 300px;
        border: 1px solid @alto;
        text-align:center;
        font-family: inherit;

        h1{
            margin:30px 0px 10px 0px;
            font-size:24px;
            font-family: inherit;
        }

        p{
            color: @alto;
        }
    }

    .treeview-page-details {
        padding:20px;
    }

}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}