nav.dnnBreadcrumb ol {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav.dnnBreadcrumb ol li span {
    margin-inline-start: 0.5rem;
    display: inline-block;
}
