@using DotNetNuke.Common;

@*Copyright (c) [YEAR] by [OWNER] *@

<div class="dnnForm dnnEdit dnnClear" id="dnnEdit">

    <fieldset>

        <div class="dnnFormItem">

            <div><label class="dnnLabel" id="lblField" for="txtField">Field:</label></div>
            <input type="text" name="txtField" maxlength="255" value="" />

        </div>

   </fieldset>

    <ul class="dnnActions dnnClear">
         <li><a id="cmdSave" class="dnnPrimaryAction" href="" title="Save">Save</a></li>
        <li><a id="cmdCancel" class="dnnSecondaryAction" href="" title="Cancel">Cancel</a></li>
    </ul>
</div>


