/* ===========   Admin Settings Module Styling   =========== */
.dnnSiteSettings, .dnnPortalSignup, .dnnExportPortal {
    width: 95%;
    margin: 2em auto;
}
.dnnSiteSettings div.ssBasicSettings, .dnnSiteSettings div.ssAdvancedSettings, .dnnSiteSettings div.ssStylesheetEditor {
    padding: 0;
    margin-top: 1em;
}
.dnnSiteSettings .dnnFormItem input[type="text"], .dnnSiteSettings .dnnFormItem .dnnFormInput, .dnnSiteSettings .dnnFormItem textarea, .dnnPortalSignup .dnnFormItem input[type="text"], .dnnPortalSignup .dnnFormItem .dnnFormInput, .dnnPortalSignup .dnnFormItem textarea, .dnnExportPortal .dnnFormItem input[type="text"], .dnnExportPortal .dnnFormItem textarea {
    width: 45%;
}
.dnnSiteSettings textarea {
    min-height: 100px;
}
.dnnForm input[type="checkbox"] {
    width: auto;
}
.dnnForm .dnnGrid td input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}
.ssbsPortalAppearance td span, .ssbsPortalAppearance td span.NormalBold {
    font-weight: normal;
}
.dnnFormItem.ssbsAppearance label {
    width: 20%;
    text-align: right;
    padding-right: 2%;
    font-weight: bold;
}
.dnnFormItem.ssbsAppearance label label {
    width: 100%;
}
.dnnSiteSettings .ssseContent textarea {
    margin: 1em;
    min-width: 52em;
}
.ssseContent ul.dnnActions {
    padding: 0em 2em 3em;
    border: none;
    overflow: hidden;
    clear: both;
}
.ssasPremiumModule td.dnnFormLabel {
    width: 45%;
    text-align: left;
    font-weight: normal;
    margin: 0;
}
.ssasPremiumModule .RadComboBox > table {
    width: 100% !important;
}
.dnnSiteSettings div.dnnssStat {
    border-top: 1px #ccc solid;
    padding: 1em 0 4em;
    overflow: hidden;
}
.dnnssStat p {
    float: left;
    padding-right: 2em;
}
p.dnnFormRequired span {
    border-left: 5px #F00 solid;
    padding-left: 0.5em;
}

.dnnGrid.dnnPermissionsGrid {
    float: none;
}
.dnnGrid label {
    width: auto;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
}
.dnnGrid td input.dnnFormInput {
    width: 42%;
}
.dnnPortalSignup .dnnFormMessage.dnnFormWarning {
    max-width: 100%;
}
#dnnPortals .vLetterSearch li {
    list-style-type: none;
    display: inline;
    padding-left: 1em;
}
.vLetterSearch {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.dnnPortalSignup h2.dnnFormSectionHead a:hover {
    background: #f1f1f1;
}
.dnnPortalSignup h2.dnnFormSectionHead a.dnnSectionExpanded {
    background: inherit;
}
.dnnPortalSignup h2.dnnFormSectionHead a.dnnSectionExpanded:hover {
    background: #f1f1f1;
}
.dnnPortalSignup .dnnFormRadioButtons input[type=radio] {
    float: none;
    clear: none;
}
.dnnPortalSignup .dnnFormRadioButtons label {
    float: none;
    display: inline;
}

.dnnPortalSignup .dnnFormItem textarea {
    min-height: 40px;
}
.crmHostSettingsSummary ul {
    padding: 10px 0px 0px 40px;
}
.aspNetDisabled .dnnTooltip label span {
    color: #999;
}

fieldset .dnnForm {
    width: inherit;
}
/* ===========   End Admin Settings Module Styling   =========== */

.dnnLabel{
    width: 25%;
}

.dnnFormItem .dnnFormGroup .dnnLabel {
    width: auto;
    padding-top: 10px;
}

.dnnFormItem .dnnFormGroup a.dnnFormHelp {
    position: relative;
}

.dnnFormItem .dnnFormGroup select.dnnCharacterList {
    width: 150px;
}

.dnnFormItem .dnnFormGroup .dnnExtensionsList {
    width: 150px;
}


/* clean some form style */
.dnnSiteSettings span.CommandButton input[type="image"]{
    display: none;
}

.dnnSiteSettings span.CommandButton{
    border: none;
}

.dnnSiteSettings a.CommandButton{
    background: whiteSmoke;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#DFDFDF));
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
    text-shadow: 0px 1px 0px white;
    color: #555;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
    border: 1px solid #C2C2C2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

a[id$='IncrementCrmVersionButton']{
    margin-left: 25px;
}

.asContentFriendlyUrls > .dnnFormItem > .dnnCheckbox {
    padding-left: 10px;
}

.ssasPortalAlias .dnnFormItem div.dnnFormGroup {
    width: 68.5%;
    padding-left: 0px;
    padding-right: 0px;
}
.ssasPortalAlias .dnnFormItem .dnnFormGroup .dnnAliasesHeader {
    clear: both;
    overflow: hidden;
    display: block;
    margin-right: 5%;
    margin-bottom: 10px;
    text-align: right;
}

.ssasPortalAlias .dnnFormItem .dnnGridItem input[type="text"],
.ssasPortalAlias .dnnFormItem .dnnGridAltItem input[type="text"]{
    margin-bottom: 0px;
    width: 90%;
}

.ssasPortalAlias .dnnFormItem .dnnFormGroup .dnnAliasesHeader .dnnSecondaryAction {
    margin-bottom: 0px;
}

.suTemplateInfo {
    width:379px; display:inline-block
}

.dnnLanguageCombo {
    width: 450px;
    float: left;
}

.ssasPortalAlias .dnnGridItem .dnnLabel  {
    float: none;
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
  
}

#dnnSiteSettings .dnnUserVanityUrl {
    width: 25%;
}

#ssStylesheetEditor .editor {
    margin-bottom: 2em;
}
.dnnSiteSettings br {
display: none !important;
font-size: 0;
line-height: 0;
border-collapse: collapse;
}
.dnnSiteSettings .dnnFormItem .dnnHSRadioButtons {
    overflow: hidden;
}
.dnnSiteSettings .dnnFormItem .dnnHSRadioButtons label{
    width: auto;
    padding: 0 5px 0 0;
    margin-left: 3px;
    text-align: left;
    font-weight: normal;
    margin-top: 0;
}