@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.DeleteExtension) {
    .dnn-persona-bar-page-body {
        .delete-extension-box {
            .dnn-grid-system.with-right-border.top-half {
                padding-bottom: 0;
            }
            .release-notes, .extension-license {
                padding: 10px 25px 15px;
            }
            .delete-files-box{
                text-align: center;
                margin-top: 25px;
            }
        }
    }
}