<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1"
    targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1"
    targetFramework="net472" />
  <package id="StyleCop.Analyzers" version="1.2.0-beta.556" targetFramework="net48"
    developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.556" targetFramework="net48"
    developmentDependency="true" />
</packages>