:local(.permissionGrid) {
    margin-top: -50px;
    margin-bottom: 20px;
    .dnn-suggestion {
        .rw-popup-container {
            .rw-list-option {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}