.extensions-app {
    .extension-form{
        .extension-license{
            padding: 50px;
        }
    }
    .extension-license {
        padding: 50px;
        >h6 {
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        > p {
            margin-bottom: 25px;
        }
        .read-only-license {
            padding: 25px;
        }
        .dnn-multi-line-input-with-error {
            .dnn-label {
                text-transform: uppercase;
                padding-bottom: 5px;
            }
        }
    }
    .install-extension-box {
        .extension-license {
            .dnn-checkbox-container {
                float: none;
                text-align: center;
            }
        }
    }
}