<?xml version="1.0" encoding="utf-8" ?>
<capabilities xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <functionality nm="DHTML" desc="Dynamic HTML">
        <supports>
            <browser nm="IE" minversion="4" />
            <browser nm="FireFox" minversion="1" />
            <browser nm="Netscape" minversion="5" />
            <browser nm="Gecko" minversion="1" />
            <browser nm="Opera" minversion="7" />
            <browser contains="Konqueror" />
            <browser contains="Safari" />
            <browser contains="Camino" />
        </supports>
        <excludes>
        </excludes>
    </functionality>
    <functionality nm="XML" desc="Client Side XML Parsing">
        <supports>
            <browser nm="IE" minversion="4" />
            <browser nm="FireFox" minversion="1" />
            <browser nm="Netscape" minversion="5" />
            <browser nm="Opera" minversion="7" />
            <browser nm="Gecko" minversion="1" />
            <browser contains="Konqueror" />
            <browser contains="Safari" />
            <browser contains="Camino" />
        </supports>
        <excludes>
            <browser contains="Mac_PowerPC)" />
        </excludes>
    </functionality>
    <functionality nm="XMLJS" desc="Requires Javascript Client Side XML Parsing">
        <supports>
            <browser contains="Opera" />
            <browser contains="Konqueror" />
            <browser contains="Safari" />
        </supports>
    </functionality>
    <functionality nm="XMLHTTP" desc="Client Side HTTP Requests">
        <supports>
            <browser nm="IE" minversion="4" />
            <browser nm="FireFox" minversion="1" />
            <browser nm="Netscape" minversion="5" />
            <browser nm="Opera" minversion="7" />
            <browser nm="Gecko" minversion="1" />
            <browser contains="Camino" />
            <browser contains="Konqueror" />
            <browser contains="Safari" />
        </supports>
        <excludes>
            <browser contains="Mac_PowerPC)" />
        </excludes>
    </functionality>
    <functionality nm="XMLHTTPJS" desc="Requires Javascript HTTP Requests">
        <supports>
            <browser contains="Opera" />
            <browser contains="Konqueror" />
            <browser contains="Safari" />
        </supports>
    </functionality>
    <functionality nm="XSLT" desc="Client Side XSLT Processing">
        <supports>
            <browser nm="IE" minversion="4" />
        </supports>
        <excludes>
            <browser nm="FireFox" minversion="1" />
            <browser nm="Netscape" minversion="6" />
            <browser nm="Opera" minversion="7" />
            <browser nm="Gecko" minversion="1" />
            <browser contains="Konqueror" minversion="5" />
            <browser contains="Safari" />
            <browser contains="Mac_PowerPC)" />
            <browser contains="Camino" />
        </excludes>
    </functionality>
    <functionality nm="Positioning" desc="Dynamic Positioning of Elements">
        <supports>
            <browser nm="IE" minversion="4" />
            <browser nm="FireFox" minversion="1" />
            <browser nm="Netscape" minversion="5" />
            <browser nm="Opera" minversion="7" />
            <browser nm="Gecko" minversion="1" />
            <browser contains="Konqueror" />
            <browser contains="Safari" />
            <browser contains="Camino" />
        </supports>
        <excludes>
        </excludes>
    </functionality>
	<functionality nm="Motion" desc="Animation of elements">
		<supports>
			<browser nm="IE" minversion="4" />
			<browser nm="Netscape" minversion="5" />
			<browser nm="Opera" minversion="7" />
			<browser nm="Gecko" minversion="1" />
			<browser contains="Konqueror" />
			<browser contains="Safari" />
			<browser contains="FireFox" />
		</supports>
		<excludes>
		</excludes>
	</functionality>
	<functionality nm="SingleCharDelimiters" desc="Supports single character delimiters (i.e. Char(18))">
		<supports>
			<browser nm="None" />
		</supports>
		<excludes>
		</excludes>
	</functionality>
	<functionality nm="UseExternalScripts" >
		<supports>
			<browser nm="*" />
		</supports>
		<excludes>
		</excludes>
	</functionality>
</capabilities>