.dnnFormPopup.fileManagerPopup{min-width:620px;}
.dnnFileManager{background:#fff;min-width:620px;}
	.dnnFileManager h2{padding:0.8em 1.2em;position:relative;background:#4E4E4E;background:-moz-linear-gradient(top, #4E4E4E 0%, #282828 100%);overflow:hidden;margin:0;
					background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4E4E4E), color-stop(100%,#282828));
					filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E4E4E', endColorstr='#282828',GradientType=0 );
					color:#fff;font-weight:bold;text-shadow:0px 1px 1px #000;cursor:move;-moz-border-radius-topleft: 6px;-moz-border-radius-topright: 6px;
					-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 6px 6px 0px 0px;border-radius: 6px 6px 0px 0px;}
					
	.fileManagerPopup .ui-dialog-title{background:url(Images/clip-icn.png) no-repeat left;padding-left:25px;display:block;}
	.dnnFormPopup.fileManagerPopup .ui-resizable-se{position:absolute;bottom:0;right:0;}
	.dnnFormPopup.fileManagerPopup .ui-dialog-buttonpane{padding:0;margin:0;}

	.fm-explorer-wrap {width:65%;background:url(Images/border-img.jpg) right;min-height:300px;}
		.fm-breadcrumb{background:#e1e4e6;padding:10px;margin-bottom:1px;}
			.fm-breadcrumb p{margin:0;padding:0;font-weight:bold;}
			.fm-breadcrumb a{zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	                    *display: inline;display:inline-block;padding:5px 10px;background:#efefef;background:-moz-linear-gradient(top, #efefef 0%, #dddddd 100%);
						background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#dddddd));
						filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dddddd',GradientType=0 );
						border:1px #b4b4b4 solid;-moz-border-radius:3px;border-radius:3px;margin-bottom:5px;}
		span.fm-folder{background:url(Images/folder-icn.png) left no-repeat;padding-left:25px;}
	.fm-preview-area{width:34%;overflow:hidden;}
		.fm-file-preview, .fm-file-info{margin:80px auto 0;text-align:center}
		.fm-file-preview {margin-bottom:10px;}
		.fm-file-preview img{border:1px #ccc solid;padding:6px;background:#fff;max-width:180px;}
		.fm-file-info{margin-top:0;}
.dnnFileManager .fm-explorer{ height: 350px;overflow: auto;}
.dnnFileManager .fm-explorer table th{background:#e1e4e6;border-right:1px #cfd2d4 solid;border-left:1px #fff solid;padding:10px;text-align:left;font-family:inherit;}
.dnnFileManager .fm-explorer table th.fm-number{border-left:none;}
.dnnFileManager .fm-explorer table th.fm-last-modified{border-right:none;}

.dnnFileManager .fm-explorer table td{padding:6px 10px;text-align:left;border-top:1px #fff solid;border-bottom:1px #e1e4e6 solid;font-size:11px;}
	.dnnFileManager .fm-explorer table td.fm-modified-time, .dnnFileManager .fm-explorer table td.fm-file-type, .dnnFileManager .fm-explorer table td.fm-number{font-size:10px;}
	.dnnFileManager .fm-explorer table tbody tr:hover{background:#e1e4e6;cursor:pointer}

.fm-actions{padding:0.8em 1.2em;position:relative;background:#4E4E4E;background:-moz-linear-gradient(top, #4E4E4E 0%, #282828 100%);overflow:hidden;
					background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4E4E4E), color-stop(100%,#282828));
					filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E4E4E', endColorstr='#282828',GradientType=0 );
					color:#fff;font-weight:bold;text-shadow:0px 1px 1px #000;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;
					-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-radius: 0px 0px 6px 6px;border-radius:0px 0px 6px 6px;}
	.fm-actions ul.dnnActions{border:none;margin:0;padding:0;overflow:hidden;float:right}
	.fm-actions ul.dnnActions a.dnnSecondaryAction{margin-right: 10px;}