@using DotNetNuke.Web.Client.ClientResourceManagement
@model String

@{
    var fieldName = ViewData["FieldName"] as string;

    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/Resources/Shared/Components/CodeEditor/lib/codemirror.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/Resources/Shared/Components/CodeEditor/lib/codemirror.css");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/Resources/Shared/Components/SimpleMDE/simplemde.css");
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/Resources/Shared/Components/SimpleMDE/simplemde.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
}

<div class="dnnFormEditor">
    @Html.TextArea(fieldName, Model)
</div>

<script language="javascript" type="text/javascript">
    jQuery(document).ready(function ($) {
        new SimpleMDE({ element: $(".dccEditContent #@fieldName")[0] });
    });
</script>