@font-face {
    font-family: 'pb_regular';
    src: url('open-sans.semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pb_semibold';
    src: url('open-sans.semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: roboto, Arial;
    font-size: 12px;
}

body {
    height: 100%;
    overflow: hidden;
    background: none transparent;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    visibility: hidden;
}

/* remove iPad select style */
.mac select,
.touch select,
.safari select {
    -webkit-appearance: none;
}

select {
    border-radius: 2px;
}
/* buttons */
a.primarybtn {
    background: #0087c6;
    color: #fff !important;
    display: inline-block;
    padding: 9px 9px;
    cursor: pointer;
    min-width: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

    a.primarybtn:hover {
        background: #2fa6eb;
    }

    a.primarybtn:active {
        background: #006594;
    }
    a.primarybtn.disabledbtn {
        opacity: 0.75;
        cursor: default;
        color: #cccccc !important;
    }

a.secondarybtn {
    background: #e4e4e4;
    color: #0e181c !important;
    display: inline-block;
    padding: 9px 9px;
    cursor: pointer;
    min-width: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

    a.secondarybtn:hover {
        background: #d9ecfa;
    }

    a.secondarybtn:active {
        background: #d8d8d8;
    }

a.plainbtn {
    background: #fff;
    color: #666 !important;
    display: inline-block;
    padding: 9px 9px;
    cursor: pointer;
    min-width: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ddd;
}

    a.plainbtn:hover {
        background: #d9eeff;
    }

    a.plainbtn:active {
        background: #d9eeff;
    }
/* mask */
#mask {
    position: absolute;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
}
/* notification dialog */
#notification-dialog {
    display: none;
    position: fixed;
    background-color: #092836;
    opacity: .9;
    width: 385px;
    padding: 50px;
    top: 30%;
    left: 315px;
    opacity: .9;
    z-index: 99999;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
}

#notification-dialog > div.buttonpanel {
    width: 200px;
    margin: 20px auto 0 auto;
}
#notification-dialog.large {
    width: 485px;
    left: 265px;
}

#notification-message-container {
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: auto;
}
#notification-message {
    color: white;
    font-size: 15px;
    line-height: 22px;
}


#notification-dialog.close-hidden #close-notification {
    display: none;
}

#notification-dialog > img {
    width: 35px;
    height: 30px;
    margin-bottom: 10px;
}

#notification-dialog.errorMessage > .notify-check {
    display: none;
}

#notification-dialog.errorMessage > .notify-error {
    display: block;
    margin: 0 auto 10px;
    width: 22px;
    height: 30px;
}

#notification-dialog > .notify-error {
    display: none;
}

#confirmation-dialog {
    left: 265px;
    box-sizing: border-box;
    width: 485px;
    padding: 50px;
    background-color: #002e47;
    opacity: .9;
    z-index: 99999;
    border-radius: 3px;
    color: #fff;
    display: none;
    position: fixed;
    top: 30%;
    word-wrap: break-word;
    text-align: center;
    display: none;
}

#confirmation-dialog > img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#confirmation-dialog>p {
    color: white;
    font-size: 15px;
    line-height: 22px;
}

#confirmation-dialog>div.buttonpanel {
    width: 200px;
    margin: 20px auto 0 auto;
}

#confirmation-dialog>div.buttonpanel>a {
    background-color: #fafafa;
    color: #333;
    display: inline-block;
    padding: 7px 7px;
    cursor: pointer;
    width: 75px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ddd;
    margin-left: 14px
}

#confirmation-dialog>div.buttonpanel #cancelbtn {
    margin-left: 4px
}

#confirmation-dialog>div.buttonpanel>a:hover {
    background: #d9ecfa
}

#confirmation-dialog>div.buttonpanel>#confirmbtn {
    background-color: #0281c6;
    border: solid 1px #0281c6;
    color: #FFF;
    margin-left: 4px
}

#confirmation-dialog>div.buttonpanel #confirmbtn:hover {
    background-color: #028ed9
}

/* basic layout */
.two-columns {
    display: block;
    width: 400px;
    float: left;
}

.two-columns > h3 {
    font-size: 20px;
    margin: 3px 0 20px 0;
    letter-spacing: .5px;
    font-weight: normal;
}

.two-columns > ul.right.pager {
    margin-right: 30px;
}

.two-columns > ul.right.pager > li > a {
    margin-right: -3px;
}

.two-columns > ul.right.pager > li > a.prev {
    border-right: none;
}

.three-columns {
    display: block;
    width: 266px;
    float: left;
    margin-bottom: 25px;
}

.four-columns {
    display: block;
    width: 199px;
    float: left;
}

.four-columns > h4 {
    display: block;
    margin: 15px;
}

.four-columns > select {
    margin: 0 10px 0 10px;
    padding: 4px;
    border: 1px solid #ddd;
    width: 170px;
}

.four-columns > ul {
    list-style-type: none;
    margin: 15px;
    padding: 5px 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.four-columns > ul > li {
    list-style-type: none;
    display: block;
    padding: 8px 10px 0 10px;
}

.four-columns > ul > li > input[type="checkbox"] {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.four-columns > ul > li > label {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    max-width: 150px;
}

/* pager buttons */
ul.pager {
    display: block;
    list-style-type: none;
    margin: 0 5px 0 8px;
    padding: 0;
}

ul.pager > li {
    display: inline-block;
    list-style-type: none;
}

a.prev, a.next {
    background-image: url('../images/left.png');
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
}

a.next {
    background-image: url('../images/right.png');
}

a.prev.disabled, a.next.disabled {
    opacity: 0.50;
    cursor: default;
}

/* hover tooltip */
.tag-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    bottom: 100%;
    left: 10px;
    color: #ddd;
    display: none;
    font-size: 11px;
    padding: 10px 10px 10px 15px;
    position: absolute;
    text-align: left;
    width: 250px;
    z-index: 1000;
}

.tag-menu > p {
    font-size: 11px;
    line-height: 1.5em;
}

.tag-menu > p > span {
    display: block;
    float: right;
    font-size: 11px;
    text-align: right;
}

.tag-menu:after {
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #000000;
    bottom: -7px;
    content: "";
    height: 0;
    left: 65px;
    opacity: 0.75;
    position: absolute;
    width: 0;
}

/* error tooltip */
span.dnnFormError {
    display: block;
    position: absolute !important;
    overflow: visible;
    bottom: 95% !important;
    right: 0;
    margin-bottom: 0 !important;
    padding: 10px !important;
    border: none !important;
    border-radius: 3px !important;
    background: rgba(255,0,0,0.75) !important;
    font-size: 12px;
    color: #fff !important;
    font-weight: normal !important;
    text-align: left;
}

span.dnnFormError:after {
    position: absolute;
    bottom: -7px;
    left: 15px;
    content: "";
    width: 0;
    height: 0;
    opacity: 0.75;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid red;
}

/* select */
/* FLAT style */
.flat,
.flat div,
.flat li,
.flat div::after,
.flat .carat,
.flat .carat:after,
.flat .selected::after,
.flat:after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.flat .selected::after,
.flat.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

/* WRAPPER */
.flat {
    position: relative;
    width: 120px;
    cursor: pointer;
    background: #1c465e;
    padding: 2px 0px 2px;
    border-radius: 3px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #5f899c;
}

.flat.open {
    z-index: 2;
}

.flat:hover,
.flat.focus {
    background: #1c465e;
}

/* CARAT */
.flat .carat,
.flat .carat:after {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -3px;
    border: 6px solid transparent;
    border-top: 6px solid #FFF;
    z-index: 1;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%;
}

.flat:hover .carat:after {
    border-top-color: #f4f4f4;
}

.flat.focus .carat {
    border-top-color: #f8f8f8;
}

.flat.focus .carat:after {
    border-top-color: #0180d1;
}

.flat.open .carat {
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */
.flat .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.flat select {
    position: absolute;
    left: 0px;
    top: 0px;
}

.flat.touch select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* SELECTED FEEDBACK ITEM */
.flat .selected {
    color: #f4f4f4;
}

.flat .selected,
.flat li {
    display: block;
    font-size: 12px;
    line-height: 1;
    padding: 8px 12px;
    overflow: hidden;
    white-space: nowrap;
}

.flat .selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    border-radius: 0 3px 3px 0;
    box-shadow: inset -55px 0 25px -20px #1c465e;
}

.flat:hover .selected::after,
.flat.focus .selected::after {
    box-shadow: inset -55px 0 25px -20px #1c465e;
}

/* DROP DOWN WRAPPER */
.flat div {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 1px;
    background: #1c465e;
    overflow: hidden;
    opacity: 0;
    color: #aaa;
    border-radius: 3px;
}

.flat:hover div {
    background: #1c465e;
    border-radius: 3px;
}

/* Height is adjusted by JS on open */
.flat.open div {
    opacity: 1;
    z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */
.flat.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    box-shadow: inset 0 -50px 30px -35px #00c384;
}

.flat.scrollable:hover div::after {
    box-shadow: inset 0 -50px 30px -35px #00c384;
}

.flat.scrollable.bottom div::after {
    opacity: 0;
}

/* DROP DOWN LIST */
.flat ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
}

.flat.scrollable.open ul {
    overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */
.flat li {
    list-style: none;
    padding: 8px 8px;
    border-bottom: 1px solid #5f899c;
}

.flat li:last-child {
    border-bottom: 0;
}

/* .focus class is also added on hover */
.flat li.focus {
    background: #1c465e;
    position: relative;
    z-index: 3;
    color: #fff;
}

.flat li.active {
    background: #1c465e;
    color: #fff;
}

/* persona bar Menu*/
.personabar {
    width: 80px;
    background-color: #3d3c3c;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100px;
    z-index: 1000;display: none;
}
.personabar .personabarLogo {
    width: 80px;
    height: 103px;
    background: #515050 url('../images/Logo.svg') no-repeat center center;
    -ms-background-size: 32px auto;
    background-size: 32px auto;
}
.personabar .personabarLogo:hover {
    background-color: #2f2f2f;
}
.personabarnav {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #373737;
}

.personabarnav > li {
    list-style-type: none;
    margin: 0;
    padding: 28px;
    cursor: pointer;
    text-align: center;
    background-repeat: repeat-x;
    background-position: -8px 10px;
    color: #737171;
    font-weight: 600;
    position: relative;
    border-top: 1px solid #373737;
    height: 80px;
    transition: background-color 200ms linear, color 200ms linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.personabarnav > li > span {
    display: none;
}
.personabarnav > li.btn_panel.disabled {
    cursor: default;
}

.personabarnav > li.btn_panel.disabled:hover {
    background-position: -8px 10px;
    color: #6a6d6d;
}
.personabarnav > li:hover,.personabarnav > li.active {
    color: #fff;
    background-color: #2f2f2f;
    border-right: none !important;
}
.personabarnav > li:before {
    display: block;
    content: "";
    width:24px;
    height: 24px;
    margin: 0;
}
.personabarnav > li.pending {
    border-right: 3px solid #9FDBF0;
}
.personabarnav > li#Content:before {
    background: url('../images/nav_content.svg') no-repeat;
}
.personabarnav > li#Content:hover:before,
.personabarnav > li#Content.active:before,
.personabarnav > li#Content.selected:before{
    background: url('../images/nav_content_selected.svg') no-repeat;
}
.personabarnav > li#Content.pending:before{
    background: url('../images/nav_content_pending.svg') no-repeat;
}


.personabarnav > li#Manage:before {
    background: url('../images/nav_manage.svg') no-repeat;
}
.personabarnav > li#Manage:hover:before,
.personabarnav > li#Manage.active:before,
.personabarnav > li#Manage.selected:before{
    background: url('../images/nav_manage_selected.svg') no-repeat;
}
.personabarnav > li#Manage.pending:before{
    background: url('../images/nav_manage_pending.svg') no-repeat;
}

.personabarnav > li#Settings:before {
    background: url('../images/nav_settings.svg') no-repeat;
}
.personabarnav > li#Settings:hover:before,
.personabarnav > li#Settings.active:before,
.personabarnav > li#Settings.selected:before{
    background: url('../images/nav_settings_selected.svg') no-repeat;
}
.personabarnav > li#Settings.pending:before{
    background: url('../images/nav_settings_pending.svg') no-repeat;
}

.personabarnav > li#Edit.selected {
    color: #737171;
    background-color: transparent;
}
.personabarnav > li#Edit:before {
    background: url('../images/nav_edit.svg') no-repeat;
}
.personabarnav > li#Edit:hover:before,
.personabarnav > li#Edit.active:before,
.personabarnav > li#Edit.selected:before{
    background: url('../images/nav_edit_selected.svg') no-repeat;
}

.personabarnav > li#showsite {
    background: url('../images/close_thin.svg') no-repeat center center;
    position: absolute;
    padding: 0;
    width: 12px;
    height: 12px;
    left: 921px;
    top: 9px;
    border: none;
    display: none;
}
.personabarnav > li#showsite:hover {
    background-image: url('../images/close_thin-hover.svg')
}

.personabarnav > li#Logout, .personabarnav > li#Edit {
    width: 100%;
}
.personabarnav > li#Logout {
    display: none;
}

@media all and (min-height: 680px) {
    .personabarnav > li#Logout {
        bottom: 80px;
        position: absolute;
    }
    .personabarnav > li#Edit {
        bottom: 0px;
        position: absolute;
    }
}

.hovermenu {
    position: absolute;
    left: 80px;
    padding: 0 0px 42px 37px;
    background-color: #2f2f2f;
    display: none;
    /* display: none; IE not apply list-style-type: none; with this active
       it will be applied in js
     */
    top: -1px;
    width: 200px;
    box-sizing: border-box;
}
.hovermenu > label {
    height: 80px;
    line-height: 80px;
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
}
.hovermenu > ul {
    margin: 0;
    padding: 0;
}

.hovermenu > ul > li {
    cursor: pointer;
    font-family: pb_semibold, arial;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    text-align: left;
    color: #868484;
}
.hovermenu > ul > li:first-child {
    margin-top: 0;
}
.hovermenu > ul > li.disabled {
    cursor: default;
}

.hovermenu > ul > li.disabled:hover {
    color: #c8c8c8;
}

.hovermenu > ul > li:hover {
    color: #fff;
}

.hovermenu > ul > li.selected {
    color: white;
    cursor: default;
}
.hovermenu > ul > li.pending {
    color: #9FDBF0;
}

.hovermenu > ul > li:first-child {
    margin-top: 0;
}

.hovermenu > ul > li.highligthedItem {
    background-color: #01161E;
    color: #787878;
    margin-left: -18px;
    padding-left: 18px;
    margin-top: 0;
    padding-top: 20px;
    margin-right: -24px;
}

.hovermenu > ul > li.highligthedItem:last-child {
    margin-bottom: -25px;
    padding-bottom: 25px;
    border-radius: 3px;
}

.hovermenu > ul > li.highligthedItem:hover {
    color: #ffffff;
}

.hovermenu > ul > li.highligthedItem.nonActive {
    cursor: default;
}
.hovermenu > ul > li.highligthedItem.nonActive:hover {
    color: #787878;
}

.hovermenu > ul > li.itemsSeparator{
    margin-top: 20px;
    padding-top: 20px;
}
.btn_panel.two-columns-menu .hovermenu {
    width: 363px;
}
.btn_panel.three-columns-menu .hovermenu {
    width: 491px;
}
.btn_panel.two-columns-menu .hovermenu > ul, .btn_panel.three-columns-menu .hovermenu > ul {
    width: 163px;
    float: left;
}
.btn_panel.two-columns-menu .hovermenu > ul:first-of-type, .btn_panel.three-columns-menu .hovermenu > ul:first-of-type {
    width: 163px;
}

.socialpanel {
    background-color: #fafafa;
    min-height: 100%;
    width: 860px;
    left: -860px;
    top: 0px;
    position: absolute;
    z-index: 999;
    border-right: 1px solid #eee;
    display: none;
}

.socialpanel-placeholder {
    background-color: #fafafa;
    width: 861px;
    left: 80px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    display: none;
    z-index: 999;
    border-right: 1px solid #eee;
}

#personaBar-loadingbar {
    position: fixed;
    top: 0;
    left: 80px;
    z-index: 99999;
    width: 860px;
    height: 4px;
    display: none;
    background-color: #fafafa;
}

    #personaBar-loadingbar > div {
    background-color: #21A3Da;
        position: absolute;
        top: 0;
        left: 0;
    height: 5px;
    box-sizing: border-box;
}
#personaBar-loadingbar > span {
    position: absolute;
    top: 3px;
    left: 10px;
    font-size: 13px;
    color: white;
    z-index: 2;
    line-height: 16px;
}
#personaBar-loadingbar > #close-load-error {
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    right: 10px;
    top: 6px;
    display: none;
}
#personaBar-loadingbar > div.load-error{
    background-color: #EA2134;
    }

.socialmask {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: none;
    opacity: 0;
}

/* PANEL HEADER */

.ie .socialpanelheader {
    position: relative;
}

.socialpanelheader {
    padding: 28px 30px 10px 30px;
    position: fixed;
    width: 860px;
    z-index: 1001;
    background-color: #FFF;
    min-height: 103px;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2);
}

.socialpanelheader > span {
    color: #b2aeae;
    text-transform: uppercase;
    display: block;
    font-family: pb_semibold;
    letter-spacing: 2px;
}
.socialpanelheader > .qaTooltip {
    float: left;
}
.socialpanelheader > .qaTooltip > h3.title, .socialpanelheader > h3 {
    overflow: hidden;
    max-width: 495px;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 36px;
    min-height: 48px;
    margin: 0;
    font-family: roboto, arial;
    font-weight: normal;
}
.socialpanelheader > .qaTooltip > .tag-menu {
    position: fixed;
    top: 75px;
    left: 116px;
    width: auto;
    max-width: 780px;
    bottom: auto;
    word-wrap: break-word;
}
.socialpanelheader > .qaTooltip > .tag-menu:after {
    border-bottom: 7px solid #000000;
    border-top: none;
    left: 10%;
    bottom: auto;
    top: -7px;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px),
only screen and (min-width: 768px) and (max-width: 1024px)   { 

   .socialpanelheader > h3.title-small {
        font-size: 20px !important;
    }
    .socialpanelheader > div.xtra-margin-top {
        margin-top:23px !important;
    }
    #dashboard .socialpanelheader, #dashboard-header.socialpanelheader {
        padding: 24px 30px 4px 30px;
        height: 72px;
    }
    #dashboard .socialpanelheader h3, #dashboard-header.socialpanelheader h3 {
        font-size: 25px;
    }

    #dashboard .socialpanelheader .dashboard-period,
    #dashboard-header.socialpanelheader .dashboard-period {
        margin-top: 8px;
    }
}
.socialpanelheader .personaBar-input.search { 
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: 95% center;
}

.socialpanelheader .personaBar-input.primary {
    background-color: #0087c6;
    border: none;
    padding: 9px 16px;
    color: #f4f4f4;
    text-decoration: none;
}

.socialpanelheader .personaBar-input.primary:hover {
    background-color: #2fa6eb;
}

.socialpanelheader .personaBar-input.secondarybtn {
    color: #0e181c !important;
    background-color: #e4e4e4;
    border: none;
    padding: 9px 16px;
    color: #f4f4f4;
    text-decoration: none;
}

.socialpanelheader .personaBar-input.secondarybtn:hover {
    background-color: #d9ecfa;
}

.socialpanelheader .personaBar-input, input, select {
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #fff;
}

.socialpanelheader .personaBar-input {
    margin-left: 5px;
}

.socialpanelheader a {
    cursor: pointer;
}

.socialpanelheader > div.right-container {
    float: right;
    margin-top: 5px;
    position: absolute;
    max-width: 80%;
    right: -10px;
    margin-right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);    
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* END - PANEL HEADER */

.socialpanelbody {
    z-index: 1000;
	margin-top: 103px;
}

.ie .socialpanelbody {
    /*margin-top: 0;*/
}

.socialpanelbody > div {
    padding: 20px 30px 30px 30px;
}

    .socialpanelbody > div  h3 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: normal;
        letter-spacing: .5px;
    }

.notification-from > .useravatar {
    margin-left: 0;
}

.notification-from > .username {
    margin: 0 0 0 50px;
}

    .notification-from > .username > label {
        font-size: 14px;
        padding-top: 5px;
        color: #000;
    }

    .notification-from > .username > span {
        margin-top: 5px;
        text-transform: uppercase;
    }

.notification-body {
    clear: both;
    margin: 15px 0 20px 0;
}

    .notification-body > div {
        margin-top: 15px;
    }

        .notification-body > div:first-child {
            margin-top: 0;
        }

        .notification-body > div:last-child > a {
            color: #0087c6;
            text-decoration: none;
            display: inline-block;
            background-image: url(../images/icon-arrow-read-more.png);
            background-repeat: no-repeat;
            background-position: center right;
            padding: 2px 14px 0 0;
        }

        .notification-body > div:last-child > a:hover {
            color: #2fa6eb;
            text-decoration: underline;
        }

        .notification-body * {
            max-width: 100% !important;
        }

.notification-actions a {
    display: inline-block;
    vertical-align: top;
}

    .notification-actions a.primarybtn {
        margin-right: 10px;
    }

.notification-footer {
    margin: 15px -15px -15px -15px;
    background-color: rgba(0,0,0,0.04);
    padding: 15px;
}

    .notification-footer > span {
        display: block;
        margin-right: 90px;
        font-family: pb_semibold;
        text-transform: uppercase;
    }

    .notification-footer > div.right {
        width: 90px;
        margin: -15px;
    }

        .notification-footer > div.right > a {
            width: 42px;
            height: 42px;
            border: none;
            display: inline-block;
            background-color: #fafafa;
            margin-right: -2px;
        }

            .notification-footer > div.right > a.prev {
                border-right: 2px solid #ccc;
            }
/* tab inside social panel */
ul.tabControl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    ul.tabControl > li {
        display: inline-block;
        padding: 8px 15px 8px 15px;
        cursor: pointer;
    }

        ul.tabControl > li.selected {
            background-color: #fff;
            color: #0996d8;
        }

        ul.tabControl > li:first-child {
            border-top-left-radius: 5px;
        }

.tabPanel {
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

    .tabPanel > h4 {
        display: block;
        padding: 20px 0 20px 14px;
        font-size: 20px;
        font-family: pb_semibold;
        font-weight: normal;
    }

    .tabPanel .searchpanel {
        padding: 0 15px 15px 15px;
        border-bottom: 1px solid #ddd;
    }

.normalPanel {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

    .normalPanel .searchpanel {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        background: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

.searchpanel > .searchbox {
    padding: 8px;
    border: 1px solid #ddd;
    width: 250px;
    border-radius: 3px;
    display: inline-block;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 240px 8px;
}

.searchpanel > .filterbox {
    padding: 8px;
    border: 1px solid #ddd;
    width: 250px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 15px;
}

/* View iPad  - landscape */

#personabar-panels.view-ipad.landscape > .socialpanel { width: 700px;}
#personabar-panels.view-ipad.landscape > .socialpanel  .socialpanelheader {width: 641px;}
/* View iPad  - Portrait */

#personabar-panels.view-ipad.portrait > .socialpanel { width: 500px;}
#personabar-panels.view-ipad.portrait > .socialpanel .socialpanelheader {width: 441px;}


/* customised modal dialog style */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
	z-index: 9999;
}
.dnnFormPopup {
    position: absolute;
    padding: 18px;
    background: #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
    border-radius: 7px;
    outline: none;
	z-index: 100000;
}
    /* Popup header */
.dnnFormPopup .ui-dialog-titlebar {
    position: relative;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    margin: -18px -18px 0 -18px;
    padding: 22px 0 18px 22px;
    background-color: #092836;
    color: #ffffff;
    border: none;
    cursor: move;
    font-weight: normal;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.ui-dialog-titlebar > .ui-dialog-titlebar-close {
    display: block;
    position: absolute;
    margin: 0px;
    overflow: hidden;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-position: 4px 4px;
    border: 3px solid #fff;
    text-indent: -9999em;
	min-width: 0 !important;
    top: 20px;
	right: 22px;
	background: #092836 url('../images/icon-close-dialog.png') no-repeat;
	border: none;
	width: 20px;
	height: 20px;
    outline: none;
}
div.ui-dialog-titlebar > .ui-dialog-titlebar-close:hover {
	background-color: #092836;
	cursor: pointer;
}
.dnnFormPopup .ui-resizable-se {
	display: none !important;
}
.dnnFormPopup .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0px;
    overflow: auto;
    background: #fff;
    zoom: 1;
    margin: 0 -18px -18px -18px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dnnFormPopup .ui-dialog-buttonpane {
    margin: .5em 0 0 0;
    padding: .3em 1em 0em 0em;
    overflow: hidden;
    border-width: 1px 0 0 0;
    background-image: none;
    text-align: left;
    border-top: 1px solid #ddd;
}

.dnnFormPopup .ui-dialog-buttonpane button {
    margin: 0.5em 0.4em 0.5em 0em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: none;
    outline: none;
}
.dnnFormPopup .dnnDialog {
    padding: 10px;
}
.dnnLoading {
    background: #fff url(../../images/loading.gif) no-repeat center center;
    position: absolute;
    z-index: 9999;
}
.dnnCheckbox {
    display: inline-block;
    width: 41px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #ccc;
    margin: 0;
    cursor: pointer;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
}
.dnnCheckbox .mark {
    width: 22px;
    height: 22px;
    display: inline-block;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    background-color: #fff;
    border: 2px solid #b5b5b5;
    position: relative;
    top: -2px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: left 100ms linear;
    -moz-transition: left 100ms linear;
    -o-transition: left 100ms linear;
    transition: left 100ms linear;
}
.dnnCheckbox.dnnCheckbox-checked {
    background-color: #48d348;
}
.dnnCheckbox.dnnCheckbox-checked .mark {
    left: 19px;
}
.dnnCheckbox .mark img {
    display: none;
}
/* MESSAGE STYLES */
.dnnFormMessage {
    display: block;
    padding: 17px 18px;
    margin-bottom: 18px;
    border: 1px solid rgba(2,139,255,0.2); /* blue */
    background: rgba(2,139,255,0.15); /* blue */
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 980px;
}
    .dnnFormMessage.dnnFormError,
    .dnnFormMessage.dnnFormValidationSummary {
        background-color: rgba(255,0,0,0.15); /* red */
        border-color: rgba(255,0,0,0.2); /* red */
    }

    .dnnFormMessage.dnnFormWarning {
        background-color: rgba(255,255,0,0.15); /* yellow */
        border-color: #CDB21F; /* yellow */
    }

    .dnnFormMessage.dnnFormSuccess {
        background-color: rgba(0,255,0,0.15); /* green */
        border-color: rgba(0,255,0,0.5); /* green */
    }

/* MESSAGE STYLES END */


/* BREADCRUMB STYLES */
.breadcrumbs-container {	
	font-size: 0;
	line-height: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.breadcrumbs-container div {
	display: inline-block;	
	height: 32px;
	line-height: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
    max-width: 20%;
    color: #4B4E4F;
}
.breadcrumbs-container div:hover {
    color: #959695;
}
.breadcrumbs-container .more {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../images/more.svg);
    background-repeat: no-repeat;
    cursor: default;
}
.breadcrumbs-container .more:hover {
    background-image: url(../images/more_hover.svg); 
}
.breadcrumbs-container > div:first-child:last-child {	
	width: 150px;
	margin-left: 0;
}
.breadcrumbs-container > div:first-child:not(:last-child) {
	padding-right: 10px;
	position: relative;
	display: inline-block;
	cursor: default;
}

.breadcrumbs-container > div:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -15px;
    top: 0;
    width: 20px;
    height: 32px;
    background-image: url(../images/arrow_forward.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs-container > div:not(:first-child):not(:last-child) {
	padding-right: 10px;
	position: relative;
	margin-left: 18px;
	box-sizing: border-box;
	cursor: default;
}

.breadcrumbs-container > div:last-child {
    color: #1E88C3;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
	padding-right: 10px;
	position: relative;
	margin-left: 18px;
}

.breadcrumbs-container div > span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* BREADCRUMB STYLES END*/

/* PREVIEW PAGE - Thumbnail */
.pages-preview {
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 1005;
    padding: 4px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(192,192,192,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(192,192,192,1);
    box-shadow: 0px 0px 3px 1px rgba(192,192,192,1);
}
.pages-preview:before, .pages-preview:after {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 50%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 10px 9px 0;
    border-color: transparent #fff transparent transparent;
    transform: translate(0, -50%);
}
.pages-preview:before {
    left: -11px;
    border-color: transparent #ccc transparent transparent;
}
.pages-preview.top:before {
    top: 26px;
    transform: none;
}
.pages-preview.bottom:before {
    top: auto;
    bottom: 26px;
    transform: none;
}
.pages-preview img {
    vertical-align: top;
    width: 640px;
    height: 480px;
}
.CodeMirror{ border: 1px solid #e6e6e6;}
.CodeMirror-gutters {
    min-height: 100% !important;
}
.CodeMirror-simplescroll-vertical{ 
    background: none !important;
    margin: 0px 5px 0px 0 !important;
}
.CodeMirror-simplescroll-vertical div {
    background-color: #808587 !important;
    -ms-border-radius: 5px !important;
    border-radius: 5px !important;
}
.loading {
    position: relative;
}
.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7) url('../images/loading.gif') no-repeat center center;
    z-index: 99999;
}

/* SCROLL BAR Style */

.jspContainer .jspPane {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.jspVerticalBar, .jspHorizontalBar {
    background: none !important;
}
.jspVerticalBar .jspTrack {
    width: 7px !important;
}
.jspHorizontalBar .jspTrack .jspDrag {
    height: 7px !important;
}
.jspVerticalBar .jspTrack .jspDrag, .jspHorizontalBar .jspTrack .jspDrag {
    filter: alpha(opacity=50) !important;
    opacity: 0.5 !important;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 11px;
    height: 100%;
    background: #ccc;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11px;
    background: #ccc;
}

    .jspVerticalBar *,
    .jspHorizontalBar * {
        margin: 0;
        padding: 0;
    }

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: transparent;
    position: relative;
}

.jspVerticalBar .jspTrack {
    width: 10px;
    margin: 0 0 0 3px;
}

.jspHorizontalBar .jspTrack {
    height: 5px;
    margin: 3px 0 3px 0;
}

.jspVerticalBar .jspCap {
    display: block;
    height: 3px;
    width: 11px;
}

.jspHorizontalBar .jspCap {
    display: block;
    width: 3px;
    height: 11px;
}

.jspDrag {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    opacity: .75;
    background: #000;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 5px;
}
/* SCROLL BAR Style END */

/* Popup Style Start */

.hoverSummaryMenu {
    position: absolute;
    width: 200px;
    background-color: #2f2f2f;
    padding: 27px 37px 42px 37px;
    left: 80px;
    top: 0;
    opacity: 0;
    display: none;
    box-sizing: border-box;
    animation: summarymenu 200ms linear;
    animation-fill-mode: forwards;
    text-align: left;
    cursor: default;
}
.hoverSummaryMenu * {
    font-family: pb_semibold, Arial;
}
.hoverSummaryMenu.shown {
    display: block !important;
}
@keyframes summarymenu {
    0%{ opacity: 0;display: none;}
    1%{ opacity: 0;display: block;}
    100%{ opacity: 1;display: block;}
}

.hoverSummaryMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hoverSummaryMenu ul li {
    font-family: roboto, Arial;
    font-size: 11px;
    color: #fff;
    margin-top: 18px;
    cursor: default;
}
.hoverSummaryMenu ul li span, .hoverSummaryMenu ul li label {
    display: block;
    line-height: 13px;
    word-break: break-all;
}
.hoverSummaryMenu ul li a {
    color: #fff;
    text-decoration: none;
}
.hoverSummaryMenu ul li label {
    font-size: 12px;
    color: #868484;
    padding: 2px 0 13px 0;
    border-bottom: 1px solid #868484;
    text-transform: uppercase;
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
}
.hoverSummaryMenu ul li:last-child label {
    border-bottom: none;
    padding-bottom: 0;
}
.hoverSummaryMenu ul li span.bigtext {
    font-size: 24px;
    line-height: 24px;
}
.hoverSummaryMenu li.title {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 0;
}
.hoverSummaryMenu li.separator {
    height: 18px;
    line-height: 0;
    margin: 0;
}
.server-summary li.version-info {
    margin-top: 11px;
}
.server-summary li.framework {
    margin-top: 36px;
}
.server-summary li.doc-center a, 
.server-summary li.logout {
    font-size: 14px;
    color: #6F7273;
    text-decoration: none;
    cursor: pointer;
}
.server-summary li.doc-center a:hover, 
.server-summary li.logout:hover {
    color: #FFF;
}
.server-summary li.logout {
    margin-top: 12px;
}

/* Popup Style END */