:local(.extensionDetailRow) {
    .install-download-button {
        float: right;
        margin-right: 5px;
    }
    img {
        width: 100%;
    }
    .package-name {
        word-wrap: break-word;
        display: inline;
        vertical-align: top;
    }
    > .dnn-grid-cell {
        padding: 0 15px;
    }
}