<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="NUnit">
            <section name="TestRunner" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <clear/>
        <add name="SiteSqlServer" providerName="System.Data.SqlClient"
             connectionString="Server=(local);Database=testsitece;Integrated Security=True;Application Name=TestSiteCE" />
        <add name="PetaPoco" connectionString="Data Source=Test.sdf" providerName="System.Data.SqlServerCe.4.0" />
        <add name="Test" connectionString="Data Source=Test.sdf" providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
    <NUnit>
        <TestRunner>
            <!-- Valid values are STA,MTA. Others ignored. -->
            <add key="ApartmentState" value="STA" />
        </TestRunner>
    </NUnit>
    <appSettings>
        <add key="objectQualifier" value="dnn_" />
        <add key="siteUrl" value="http://testsitece.lvh.me" />
        <add key="hostUserName" value="host" />
        <add key="hostPassword" value="dnnhost" />
        <add key="loginCookie" value=".DOTNETNUKE" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>