<?xml version="1.0"?>
<configuration>

  <!-- These configuration sections tell .NET how to handle the FiftyOne.Foundation.Mobile
  configuration settings further down the web.config file -->
  <configSections>
    <sectionGroup name="fiftyOne">
      <section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="detection" type="FiftyOne.Foundation.Mobile.Detection.Configuration.DetectionSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
    </sectionGroup>
  </configSections>

  <fiftyOne>

    <detection enabled="false" autoUpdate="true" binaryFilePath="~/App_Data/51Degrees-Lite.dat"
               bandwidthMonitoringEnabled="false"
               featureDetectionEnabled="false"
               memoryMode="false" 
               shareUsage="false"
               />
  </fiftyOne>
</configuration>
