<div id="menu">

    <div class="row">

        <!-- Menu -->
        <div class="col-sm-2">
            <ul>
                <li><a ui-sref="menu.welcome">Welcome</a></li>
                <li><a ui-sref="menu.users">API Users</a></li>
                <li><a ui-sref="menu.whitelist">IP Whitelist</a></li>
                <li><a ui-sref="menu.events">Event Log</a></li>
            </ul>
        </div>
        <!-- /Menu -->

        <!-- Menu -->
        <div class="col-sm-10">
            <div ui-view></div>
        </div>
        <!-- /Menu -->

    </div>

</div>