<div id="menu">

    <div class="row">

        <!-- Menu -->
        <div class="col-sm-2">
            <div class="list-group">
                <a class="list-group-item" ui-sref-active="active" ui-sref="menu.welcome">Welcome</a>
                <a class="list-group-item" ui-sref-active="active" ui-sref="menu.users">API Users</a>
                <a class="list-group-item" ui-sref-active="active" ui-sref="menu.whitelist">IP Whitelist</a>
                <a class="list-group-item" ui-sref-active="active" ui-sref="menu.events">Event Log</a>
            </div>
        </div>
        <!-- /Menu -->

        <div class="col-sm-10">

            <!-- Warnings -->
            <div ng-controller="WarningController">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger" ng-repeat="warning in warnings" ng-if="warning.active">
                            <strong>Warning!</strong> {{ warning.message }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Warnings-->

            <!-- Content -->
            <div ui-view></div>
            <!-- /Content -->

        </div>

    </div>

</div>