<div id="whitelist">

    <!-- Content -->
    <div class="row">

        <!-- Disable/Enable Whitelist -->
        <div class="col-xs-12 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Whitelist Configuration</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-middle">
                        <label class="col-sm-4 col-md-3 control-label">State</label>
                        <div class="col-sm-8 col-md-9">
                            <select>
                                <option ng-repeat="opt in whitelistStates" value="{{ opt.value }}">{{ opt.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9 col-sm-offset-4 col-md-offset-3">
                        <div class="controls">
                            <button type="button" class="btn btn-success">Save</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- /Disable/Enable Whitelist -->

        <!-- Create Whitelist Entry -->
        <div class="col-xs-12 col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Whitelist Entry</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-middle">
                        <label class="col-sm-3 col-lg-2 control-label">Address</label>
                        <div class="col-sm-9 col-lg-10">
                            <input type="text" ng-model="newIpv4Address" />
                        </div>
                    </div>
                    <div class="col-sm-9 col-lg-10 col-sm-offset-3 col-lg-offset-2">
                        <div class="controls">
                            <button type="button" class="btn btn-success" ng-click="createSpec(newIpv4Address)">Create</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Create User -->

        <!-- Users Table -->
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Whitelist Entries</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>IPv4 Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="spec in specs">
                                <td>{{ spec.Address }}</td>
                                <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteSpec(spec)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Users Table -->

    </div>
    <!-- /Content -->

</div>