<div id="whitelist">

    <!-- Content -->
    <div class="row">

        <!-- Create Whitelist Entry -->
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Whitelist Entry</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">IPv4 Address</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="newIpv4Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-success" ng-click="createSpec(newIpv4Address)">Create</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Create User -->

        <!-- Users Table -->
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Whitelist Entries</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>IPv4 Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="spec in specs">
                                <td>{{ spec.Address }}</td>
                                <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteSpec(spec)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Users Table -->

    </div>
    <!-- /Content -->

</div>