 @import "~dnn-global-styles/index";
 .dnn-social-panel-body {
     padding: 0
 }

.normalPanel {
    background-color: initial;
    .searchpanel {
        background-color: initial;
    }
}

.search-container {
    float: left;
    margin: 0 30px;
    width: ~"calc(100% - 60px)";
    border-bottom: 1px solid #c8c8c8;    
    margin-bottom: 15px;    
    padding-bottom: 5px;
}

.search-filter {
    float: left;
    width: 100%;
    > div {
        display: block !important;
        border-left: 1px solid @alto;
        input {
            display: block;
            width: 100%;
            position: inherit !important;
            border: none;
            border-radius: none;
            background-color: transparent;
            outline: none;
            padding-right: 45px;
        }
    }
}