@import "../../less/globals.less";
@import "~dnn-global-styles/index";
#security-container {
    .socialpanelbody {
        > div {
            .normalPanel {
                .searchpanel {
                    border-bottom: 0;
                    .primary {
                        > .ReactTabs__TabList {
                            > .ReactTabs__Tab {
                                padding-left: 30px;
                                padding-right: 30px;
                            }
                        }
                    }
                    .row-opened {
                        margin-top: -1px;
                        margin-bottom: -1px;
                        border-top: 1px solid @curiousBlue;
                        border-bottom: 1px solid @curiousBlue !important;
                    }
                }
            }
        }
    }
}