:local(.sitesPortalList) {
    .dnn-persona-bar-page-body {
        .persona-bar-page-body {
            background: transparent;
            border: none;
        }
    }
    .load-more-button {
        text-align: center;
    }
}