@import "~@dnnsoftware/dnn-react-common/styles/index";
.extensions-app {
    .module-definitions {
        .module-definitions-table {
            padding: 0;
            border: 1px solid @alto;
            margin-top: 25px;
            .module-definition-row:first-child {
                border: none;
            }
        }
        .add-module-definition-box {
            padding: 15px 25px;
        }
    }
}