@import "~@dnnsoftware/dnn-react-common/styles/index.less";
#siteSettings-container {
    .dnn-persona-bar-page-body {
        border-bottom: 0;
        .row-opened {
            margin-top: -1px;
            margin-bottom: -1px;
            border-top: 2px solid @curiousBlue;
            border-bottom: 2px solid @curiousBlue !important;
        }
    }
}