<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>9b5e75ae-f7d3-4c53-a01f-fa073762dd4c</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>9b5e75ae-f7d3-4c53-a01f-fa073762dd4c</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>9b5e75ae-f7d3-4c53-a01f-fa073762dd4c</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>4A9ED374D61A582BB9EF939AF1C04105</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
