@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.extensionUrlProviders) {
    margin: 30px 30px;
    float: left;
    * {
        box-sizing: border-box;
    }
    .columnTitle {
        font-weight: bolder;
        padding: 0 0 10px 0;
        margin: 0 0 5px 0;
        border-bottom: 1px solid @alto;
    }
    .provider-items-grid {
        border: solid 1px @alto;
        margin: 15px 0;
        float: left;
        width: 735px;
        .header-row {
            border-bottom: 1px solid @alto;
            padding: 10px 0 10px 0;
            width: 100%;
            float: left;
            overflow: hidden;
            text-transform: uppercase;
            .header-Name {
                width: 60%;
                float: left;
                font-weight: bolder;
                padding-left: 15px;
            }
            .header-Enabled {
                width: 30%;
                float: left;
                font-weight: bolder;
                text-align: center;
            }
        }
        .no-extension-url-providers {
            float: left;
            width: 100%;
            text-align: center;
            padding: 10px;
        }
    }
}