@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.extensionDetailRow) {
    border-bottom: 1px solid @alto;
    .extension-action {
        width: 16px;
        height: 16px;
        float: right;
        cursor: pointer;
        margin-right: 5px;
    }
    .dnn-grid-cell > img {
        max-width: 100%;
    }
    .package-name {
        display: inline-block;
        word-break: keep-all;
        white-space: normal;
        max-width: 100%;
        word-wrap: break-word;
        vertical-align: top;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .in-use{
        color: @curiousBlue;
        cursor: pointer;
    }
    > .dnn-grid-cell {
        padding: 0 15px;
    }
}