<configuration>
	<nodes configfile="Web.config">
		<node path="/configuration/dotnetnuke/htmlEditor/providers/add[@name='FckHtmlEditorProvider']" action="updateattribute"  name="ShowModuleType" value="true" />
		<node path="/configuration/dotnetnuke/htmlEditor/providers/add[@name='FckHtmlEditorProvider']" action="updateattribute"  name="FixOldDNNPostback" value="false" />
		<node path="/configuration/dotnetnuke/htmlEditor/providers/add[@name='FckHtmlEditorProvider']" action="updateattribute"  name="StylesDefaultMode" value="dynamic" />
		<node path="/configuration/dotnetnuke/htmlEditor/providers/add[@name='FckHtmlEditorProvider']" action="updateattribute"  name="CSSDefaultMode" value="dynamic" />
	</nodes>
</configuration>
