<configuration>
	<nodes configfile="DotNetNuke.config">
		<node path="/configuration" action="update" targetpath="/configuration/skinningdefaults" collision="overwrite">
			<skinningdefaults>
				<skininfo folder="/DNN-Blue/" default="Horizontal Menu - Fixed Width.ascx" admindefault="Horizontal Menu - Fixed Width.ascx" />
				<containerinfo folder="/DNN-Blue/" default="Image Header - Color Background.ascx" admindefault="Image Header - Color Background.ascx" />
			</skinningdefaults>
		</node>
	</nodes>
</configuration>
