<configuration>
  <nodes configfile="Web.config">
    <!-- Remove preCondition=runtimeVersionv2.0 on handlers -->
    <node path="/configuration/system.webServer/handlers/add[@path='Logoff.aspx']" action="updateattribute" name="preCondition" value="integratedMode" />
    <node path="/configuration/system.webServer/handlers/add[@name='RSSHandler']" action="updateattribute" name="preCondition" value="integratedMode" />
    <node path="/configuration/system.webServer/handlers/add[@name='LinkClickHandler']" action="updateattribute" name="preCondition" value="integratedMode" />
    <node path="/configuration/system.webServer/handlers/add[@name='CaptchaHandler']" action="updateattribute" name="preCondition" value="integratedMode" />
    <node path="/configuration/system.webServer/handlers/add[@name='SitemapHandler']" action="updateattribute" name="preCondition" value="integratedMode" />
    <node path="/configuration/system.webServer/handlers/add[@name='UserProfilePageHandler']" action="updateattribute" name="preCondition" value="integratedMode" />
    <node path="/configuration/appSettings/add[@key='EnableWebFarmSupport']" action="updateattribute"  name="key" value="IsWebFarm" />
  </nodes>
  <nodes configfile="Web.config" productName="DNNCORP.PE,DNNCORP.XE">
    <node path="/configuration/system.webServer/handlers/add[@name='CacheSynchonizationHandler']" action="updateattribute" name="preCondition" value="integratedMode" />
  </nodes>
</configuration>
