<configuration>
  <nodes configfile="Web.config" productName="DNNCORP.PE,DNNCORP.XE">
    <!-- reorder compression and caching nodes -->
    <node path="/configuration/system.web/httpModules/add[@name='OutputCaching']" action="remove" />
    <node path="/configuration/system.web/httpModules/add[@name='Compression']" action="remove" />
    <node path="/configuration/system.web/httpModules" action="update" key="add" collision="overwrite">
      <add name="OutputCaching" type="DotNetNuke.Professional.HttpModules.OutputCache.OutputCacheModule, DotNetNuke.Professional" />
      <add name="Compression" type="DotNetNuke.HttpModules.Compression.CompressionModule, DotNetNuke.HttpModules" />
    </node>
  </nodes>
</configuration>