<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/runtime/ab:assemblyBinding" action="update" targetpath="/configuration/runtime/ab:assemblyBinding[ab:dependentAssembly/ab:assemblyIdentity/@name='Telerik.Web.UI']" collision="ignore"  nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" />
        <bindingRedirect oldVersion="2007.1.1.20-2011.4.2000.20" newVersion="2009.3.1104.35" />
      </dependentAssembly>
    </node>
    <node path="/configuration/system.web/httpHandlers" action="update" key="path" collision="overwrite">
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="true" />
    </node>
    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="Telerik.Web.UI.ChartHttpHandler" verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
    </node>
  </nodes>
</configuration>
