<configuration>
	<nodes configfile="web.config">
    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="UserProfilePageHandler"
           verb="*"
           path="User.aspx"
           type="DotNetNuke.Services.UserProfile.UserProfilePageHandler, DotNetNuke"
           preCondition="integratedMode,runtimeVersionv2.0" />
    </node>
    <node path="/configuration/system.web/httpHandlers" action="update" key="path" collision="overwrite">
      <add verb="*"
           path="User.aspx"
           type="DotNetNuke.Services.UserProfile.UserProfilePageHandler, DotNetNuke" />
    </node>
    <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
      <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </node>
  </nodes>
</configuration>
