<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/system.web/httpHandlers" action="update" key="path" collision="overwrite">
      <add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
    </node>
    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="RadProgressHandler" verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
    </node>
  </nodes>
</configuration>
