<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="overwrite">
      <section name="moduleCaching" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="overwrite">
      <section name="outputCaching" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/moduleCaching" collision="ignore">
      <moduleCaching defaultProvider="FileModuleCachingProvider">
        <providers>
          <clear />
          <add name="MemoryModuleCachingProvider"
               type="DotNetNuke.Services.ModuleCache.MemoryProvider, DotNetNuke.Provider.ModuleCaching.MemoryProvider"
               providerPath="~\Providers\ModuleCachingProviders\MemoryModuleCachingProvider\" />
          <add name="FileModuleCachingProvider"
               type="DotNetNuke.Services.ModuleCache.FileProvider, DotNetNuke.Provider.ModuleCaching.FileProvider"
               providerPath="~\Providers\ModuleCachingProviders\FileModuleCachingProvider\" />
        </providers>
      </moduleCaching>
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/outputCaching" collision="ignore">
      <outputCaching defaultProvider="FileOutputCachingProvider">
        <providers>
          <clear />
        </providers>
      </outputCaching>
    </node>
    <node path="/configuration/system.web/httpHandlers" action="update" key="path" collision="overwrite">
        <add verb="*" path="Telerik.Web.UI.WebResource.axd" validate="false" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />      
    </node>
    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
        <add name="Telerik.Web.UI.WebResource" verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" /> 
    </node>
    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
        <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="managedHandler" />
    </node>
    <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
        <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" />
    </node>
  </nodes>
</configuration>
