<configuration>
	<nodes configfile="web.config">
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="permissions" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/permissions" collision="ignore">
      <permissions defaultProvider="CorePermissionProvider">
        <providers>
          <clear />
          <add name="CorePermissionProvider" type="DotNetNuke.Security.Permissions.CorePermissionProvider, DotNetNuke.Provider.CorePermissionProvider" providerPath="~\Providers\PermissionProviders\CorePermissionProvider\" />
        </providers>
      </permissions>
    </node>
    <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
      <add name="Analytics" type="DotNetNuke.HttpModules.Analytics.AnalyticsModule, DotNetNuke.HttpModules" />
    </node>
    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
      <add name="Analytics" type="DotNetNuke.HttpModules.Analytics.AnalyticsModule, DotNetNuke.HttpModules" preCondition="managedHandler" />
    </node>
  </nodes>
</configuration>
