<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="overwrite">
      <section name="folder" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/folder" collision="ignore">
      <folder defaultProvider="StandardFolderProvider">
        <providers>
          <clear />
          <add name="StandardFolderProvider" type="DotNetNuke.Services.FileSystem.StandardFolderProvider, DotNetNuke" />
          <add name="SecureFolderProvider" type="DotNetNuke.Services.FileSystem.SecureFolderProvider, DotNetNuke" />
          <add name="DatabaseFolderProvider" type="DotNetNuke.Services.FileSystem.DatabaseFolderProvider, DotNetNuke" />
        </providers>
      </folder>
    </node>
    <node path="/configuration/system.web/compilation" action="update" targetpath="/configuration/system.web/compilation/expressionBuilders" collision="ignore">
      <expressionBuilders />
    </node>
    <node path="/configuration/system.web/compilation/expressionBuilders" action="update" key="expressionPrefix" collision="overwrite">
      <add expressionPrefix="dnnLoc" type="DotNetNuke.Services.Localization.LocalizationExpressionBuilder"/>
    </node>
  </nodes>
</configuration>
