<configuration>
  <nodes configfile="Web.config">

      <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
          <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />          
      </node>
      <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
          <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
          <add name="Services" type="DotNetNuke.HttpModules.Services.ServicesModule, DotNetNuke.HttpModules" />
      </node>
      <node path="/configuration/system.webServer/modules" action="update" key="name" collision="ignore">
          <remove name="FormsAuthentication" />
          <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" preCondition="" />
      </node>
      <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
          <add name="RoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
          <remove name="FormsAuthentication" />
          <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
          <add name="Services" type="DotNetNuke.HttpModules.Services.ServicesModule, DotNetNuke.HttpModules" />
      </node>
      <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
          <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </node>

      <!-- we're adding a new file processor, with default settings. is it appropriate to set this as the default now? -->
      <node path="/configuration/clientDependency/compositeFiles/fileProcessingProviders" action="update" key="name" collision="overwrite">
        <add name="DnnCompositeFileProcessor" type="DotNetNuke.Web.Client.Providers.DnnCompositeFileProcessingProvider, DotNetNuke.Web.Client" enableCssMinify="false" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/ClientDependency" bundleDomains="" urlType="MappedId" />
      </node>
      <node path="/configuration/clientDependency/fileRegistration" action="updateattribute" name="defaultProvider" value="DnnPageHeaderProvider" />
      <node path="/configuration/clientDependency/compositeFiles" action="updateattribute" name="defaultFileProcessingProvider" value="DnnCompositeFileProcessor" />

    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="UserProfilePicHandler" path="ProfilePic.ashx" verb="*" type="DotNetNuke.Services.UserProfile.UserProfilePicHandler, DotNetNuke" preCondition="integratedMode" />
    </node>

    <!-- there is no name attribute for handlers in system.web, so match on type -->
    <node path="/configuration/system.web/httpHandlers" action="update" key="type" collision="overwrite">
      <add path="ProfilePic.ashx" verb="*" type="DotNetNuke.Services.UserProfile.UserProfilePicHandler, DotNetNuke" />
    </node>
    
    <node path="/configuration/system.web/httpModules/add[@name='Compression']" action="remove" />
    <node path="/configuration/system.webServer/modules/add[@name='Compression']" action="remove" />

  </nodes>
</configuration>
