<configuration>
  <nodes configfile="Web.config">
    <!-- add assembly redirect for WebFormsMVP-->
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
          targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='WebFormsMvp']"
          collision="overwrite" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="WebFormsMvp" publicKeyToken="537f18701145dff0" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.999.999" newVersion="1.4.1.0" />
      </dependentAssembly>
    </node>
  </nodes>
</configuration>