<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/appSettings" action="update" key="key" collision="ignore">
      <add key="Telerik.Web.SkinsAssembly" value="Telerik.Web.UI.Skins, Version=2013.2.717.40, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
    </node>
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="cryptography" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/cryptography" collision="ignore">
      <cryptography defaultProvider="CoreCryptographyProvider">
        <providers>
          <clear />
          <add name="CoreCryptographyProvider" type="DotNetNuke.Services.Cryptography.CoreCryptographyProvider, DotNetNuke" providerPath="~\Providers\CryptographyProviders\CoreCryptographyProvider\" />
        </providers>
      </cryptography>
    </node>
    <!-- add assembly redirect for WebPages-->
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
          targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='System.Web.WebPages']"
          collision="overwrite" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </node>
    <node path="/configuration/system.web/httpModules/add[@name='Detector']" action="remove"/>
    <node path="/configuration/system.webServer/modules/add[@name='Detector']" action="remove"/>
  </nodes>
</configuration>