<configuration>
  <nodes configfile="Web.config">
      <!-- we're adding a new file processor, with default settings. is it appropriate to set this as the default now? -->
      <node path="/configuration/clientDependency/compositeFiles/fileProcessingProviders" action="update" key="name" collision="overwrite">
        <add name="DnnCompositeFileProcessor" type="DotNetNuke.Web.Client.Providers.DnnCompositeFileProcessingProvider, DotNetNuke.Web.Client" enableCssMinify="false" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/ClientDependency" bundleDomains="" urlType="MappedId" />
      </node>
      <node path="/configuration/clientDependency/compositeFiles" action="updateattribute" name="defaultFileProcessingProvider" value="DnnCompositeFileProcessor" />
  </nodes>
</configuration>
