<configuration>
  <nodes configfile="Web.config">

    <node path="/configuration/system.codedom/compilers/compiler[@language='vb;vbs;visualbasic;vbscript']" action="remove" />
    <node path="/configuration/system.codedom/compilers/compiler[@language='c#;cs;csharp']" action="remove" />

    <node path="/configuration/system.webServer/modules/add[@name='ScriptModule']" action="remove" />

    <node path="/configuration/system.webServer/handlers/add[@name='ScriptHandlerFactory']" action="remove" />
    <node path="/configuration/system.webServer/handlers/add[@name='ScriptHandlerFactoryAppServices']" action="remove" />
    <node path="/configuration/system.webServer/handlers/add[@name='ScriptResource']" action="remove" />

    <node path="/configuration/system.web/httpModules/add[@name='ScriptModule']" action="remove" />

    <node path="/configuration/system.web/httpHandlers/remove[@path='*.asmx']" action="remove" />
    <node path="/configuration/system.web/httpHandlers/add[@path='*.asmx']" action="remove" />
    <node path="/configuration/system.web/httpHandlers/add[@path='*_AppService.axd']" action="remove" />
    <node path="/configuration/system.web/httpHandlers/add[@path='ScriptResource.axd']" action="remove" />

    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'Microsoft.VisualBasic')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.DirectoryServices')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Design')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Management')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Core')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Web.Extensions')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Xml.Linq')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Data.DataSetExtensions')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Data.Linq')]" action="remove" />
    <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Web.Abstractions')]" action="remove" />

    <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
      <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
    </node>
	<node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
      <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </node>

    <node path="/configuration/system.web/compilation/expressionBuilders" action="update" key="expressionPrefix" collision="save">
      <add expressionPrefix="dnnLoc" type="DotNetNuke.Services.Localization.LocalizationExpressionBuilder, DotNetNuke" />
    </node>

    <node path="/configuration/system.web/pages/controls/add[@namespace ='System.Web.UI']" action="remove" />
    <node path="/configuration/system.web/pages/controls/add[@namespace ='System.Web.UI.WebControls']" action="remove" />

    <node path="/configuration/dotnetnuke/data/providers/add[@name='SqlDataProvider']" action="updateattribute"  name="type" value="DotNetNuke.Data.SqlDataProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/logging/providers/add[@name='DBLoggingProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.Log.EventLog.DBLoggingProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/scheduling/providers/add[@name='DNNScheduler']" action="updateattribute"  name="type" value="DotNetNuke.Services.Scheduling.DNNScheduler, DotNetNuke" />
    <node path="/configuration/dotnetnuke/permissions/providers/add[@name='CorePermissionProvider']" action="updateattribute"  name="type" value="DotNetNuke.Security.Permissions.CorePermissionProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/searchIndex/providers/add[@name='ModuleIndexProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.Search.ModuleIndexer, DotNetNuke" />
    <node path="/configuration/dotnetnuke/searchDataStore/providers/add[@name='SearchDataStoreProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.Search.SearchDataStore, DotNetNuke" />
    <node path="/configuration/dotnetnuke/sitemap/providers/add[@name='coreSitemapProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.Sitemap.CoreSitemapProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/caching/providers/add[@name='FileBasedCachingProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.Cache.FBCachingProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/moduleCaching/providers/add[@name='FileModuleCachingProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.ModuleCache.FileProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/moduleCaching/providers/add[@name='MemoryModuleCachingProvider']" action="updateattribute"  name="type" value="DotNetNuke.Services.ModuleCache.MemoryProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/members/providers/add[@name='AspNetMembershipProvider']" action="updateattribute"  name="type" value="DotNetNuke.Security.Membership.AspNetMembershipProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/roles/providers/add[@name='DNNRoleProvider']" action="updateattribute"  name="type" value="DotNetNuke.Security.Roles.DNNRoleProvider, DotNetNuke" />
    <node path="/configuration/dotnetnuke/profiles/providers/add[@name='DNNProfileProvider']" action="updateattribute"  name="type" value="DotNetNuke.Security.Profile.DNNProfileProvider, DotNetNuke" />

    <node path="/configuration/configSections" action="update" key="name" collision="save">
      <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
        <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
      </sectionGroup>
    </node>

    <node path="/configuration" action="update" collision="overwrite" targetpath="/configuration/system.web.webPages.razor">
      <system.web.webPages.razor>
        <pages pageBaseType="DotNetNuke.Web.Razor.DotNetNukeWebPage">
          <namespaces>
            <add namespace="WebMatrix.Data" />
            <add namespace="Microsoft.Web.Helpers" />
          </namespaces>
        </pages>
      </system.web.webPages.razor>    
    </node>

    <!-- Convert Service Framework from MVC to WebAPI -->
    <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
        <remove name="UrlRoutingModule-4.0" />
        <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </node>
    
    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </node>
    <node path="/configuration/system.webServer/handlers/add[@name='UrlRoutingHandler']" action="remove" />
    <node path="/configuration/system.webServer/modules/add[@name='UrlRoutingModule']" action="remove" />

    <!-- Add SF trace app setting-->
    <node path="/configuration/appSettings" action="update" key="key" collision="overwrite">
        <add key="EnableServicesFrameworkTracing" value="false" />
    </node>
    
    <!-- udpate sitemap handler -->
    <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
      <add name="SitemapHandler" path="Sitemap.aspx" verb="*" type="DotNetNuke.Services.Sitemap.SitemapHandler, DotNetNuke" preCondition="integratedMode" />
    </node>
  </nodes>
</configuration>
