<configuration>
	<nodes configfile="web.config">
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="cryptography" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/cryptography" collision="ignore">
      <cryptography defaultProvider="CoreCryptographyProvider">
        <providers>
          <clear />
          <add name="CoreCryptographyProvider" type="DotNetNuke.Services.Cryptography.CoreCryptographyProvider, DotNetNuke" providerPath="~\Providers\CryptographyProviders\CoreCryptographyProvider\" />
        </providers>
      </cryptography>
    </node>
  </nodes>
</configuration>