<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
          targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='Newtonsoft.Json']"
          collision="ignore" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </node>
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
        targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='System.Web.Http']"
        collision="overwrite" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </node>
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
        targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='System.Net.Http.Formatting']"
        collision="overwrite" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </node>
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
        targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='System.Web.Http.WebHost']"
        collision="overwrite" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </node>
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="authServices" requirePermission="false" type="DotNetNuke.Web.ConfigSection.AuthServicesConfiguration, DotNetNuke.Web" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/authServices" collision="ignore">
      <authServices>
        <messageHandlers>
          <clear />
          <add name="BasicAuth" type="DotNetNuke.Web.Api.Auth.BasicAuthMessageHandler, DotNetNuke.Web" enabled="true" defaultInclude="true" forceSSL="false" />
          <add name="DigestAuth" type="DotNetNuke.Web.Api.Auth.DigestAuthMessageHandler, DotNetNuke.Web" enabled="true" defaultInclude="true" forceSSL="false" />
        </messageHandlers>
      </authServices>
    </node>
  </nodes>
</configuration>
