<configuration>
  <nodes configfile="web.config">
	  <node path="/configuration/system.webServer/modules/add[@name='Compression']" action="remove" />
	  <node path="/configuration/system.webServer/modules" action="update" key="name" collision="overwrite">
		  <add name="OutputCaching" type="DotNetNuke.HttpModules.OutputCaching.OutputCacheModule, DotNetNuke.HttpModules" preCondition="managedHandler" />
		  <add name="Compression" type="DotNetNuke.HttpModules.Compression.CompressionModule, DotNetNuke.HttpModules" preCondition="managedHandler" />
	  </node>
	  <node path="/configuration/system.web/httpModules/add[@name='Compression']" action="remove" />
	  <node path="/configuration/system.web/httpModules" action="update" key="name" collision="overwrite">
		  <add name="OutputCaching" type="DotNetNuke.HttpModules.OutputCaching.OutputCacheModule, DotNetNuke.HttpModules" />
		  <add name="Compression" type="DotNetNuke.HttpModules.Compression.CompressionModule, DotNetNuke.HttpModules" />
	  </node>
	  <node path="/configuration/dotnetnuke/outputCaching" action="updateattribute"  name="defaultProvider" value="FileOutputCachingProvider" />
	  <node path="/configuration/dotnetnuke/outputCaching/providers" action="update" key="name" collision="overwrite">
		  <add name="MemoryOutputCachingProvider"
			   type="DotNetNuke.Services.OutputCache.Providers.MemoryProvider, DotNetNuke"
			   providerPath="~\Providers\OutputCachingProviders\MemoryOutputCachingProvider\" />
	  </node>
	  <node path="/configuration/dotnetnuke/outputCaching/providers" action="update" key="name" collision="overwrite">
		  <add name="FileOutputCachingProvider"
			   type="DotNetNuke.Services.OutputCache.Providers.FileProvider, DotNetNuke"
			   providerPath="~\Providers\OutputCachingProviders\FileOutputCachingProvider\" />
	  </node>
	  <node path="/configuration/dotnetnuke/outputCaching/providers" action="update" key="name" collision="overwrite">
		  <add name="DatabaseOutputCachingProvider"
			   type="DotNetNuke.Services.OutputCache.Providers.DatabaseProvider, DotNetNuke"
			   providerPath="~\Providers\OutputCachingProviders\DatabaseOutputCachingProvider\" />
	  </node>
  </nodes>
</configuration>