<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/dotnetnuke/cryptography/providers" action="update" key="name" collision="overwrite">
      <add name="FipsCompilanceCryptographyProvider" type="DotNetNuke.Services.Cryptography.FipsCompilanceCryptographyProvider, DotNetNuke" providerPath="~\Providers\CryptographyProviders\FipsCompilanceCryptographyProvider\" />
    </node>
    <node path="/configuration/system.webServer/httpProtocol/customHeaders" action="update" key="name" collision="overwrite">
      <remove name="X-XSS-Protection" />
      <remove name="X-Frame-Options" />
      <add name="X-XSS-Protection" value="1; mode=block"/>
      <add name="X-Frame-Options" value="SAMEORIGIN" />
    </node>
  </nodes>
</configuration>