<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/dotnetnuke/cryptography/providers" action="update" key="name" collision="overwrite">
      <add name="FipsCompilanceCryptographyProvider" type="DotNetNuke.Services.Cryptography.FipsCompilanceCryptographyProvider, DotNetNuke" providerPath="~\Providers\CryptographyProviders\FipsCompilanceCryptographyProvider\" />
    </node>
  </nodes>
</configuration>