<configuration>
  <nodes configfile="Web.config">   
    <node path="/configuration/system.webServer/handlers/add[@name='Telerik.Web.UI.WebResource']" action="remove" />
    <node path="/configuration/system.web/httpHandlers/add[@name='Telerik.Web.UI.WebResource']" action="remove" />
  </nodes>
</configuration>