<configuration>
  <nodes configfile="Web.config">
      <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
          <add name="OutputCacheSynchonizationHandler"
               verb="*"
               path="SynchronizeOutputCache.aspx"
               type="DotNetNuke.Services.OutputCache.Providers.MemoryCacheSynchonizationHandler, DotNetNuke"
               preCondition="integratedMode" />
      </node>
      <node path="/configuration/system.web/httpHandlers" action="update" key="path" collision="overwrite">
          <add verb="*"
               path="SynchronizeOutputCache.aspx"
               type="DotNetNuke.Services.OutputCache.Providers.MemoryCacheSynchonizationHandler, DotNetNuke" />
      </node>
  </nodes>
</configuration>