<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/system.webServer/modules/add[@name='UrlRewrite']" action="insertafter">
      <add name="Localization" type="DotNetNuke.HttpModules.Localization.LocalizationModule, DotNetNuke.HttpModules" preCondition="managedHandler" />
    </node>
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="mail" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/mail" collision="ignore">
      <mail defaultProvider="CoreMailProvider">
        <providers>
          <clear />
          <add name="CoreMailProvider" type="DotNetNuke.Services.Mail.CoreMailProvider, DotNetNuke" hideCoreSettings="False" />
        </providers>
      </mail>
    </node>
  </nodes>
</configuration>
