<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="databaseConnection" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/databaseConnection" collision="ignore">
      <databaseConnection defaultProvider="SqlDatabaseConnection">
        <providers>
          <clear />
          <add name="SqlDatabaseConnection" type="DotNetNuke.Data.SqlDatabaseConnectionProvider, DotNetNuke" />
        </providers>
      </databaseConnection>
    </node>
  </nodes>
</configuration>
