<configuration>
	<nodes configfile="Web.config">
		<!-- Add mobile view cookie names setting-->
		<node path="/configuration/appSettings" action="update" key="key" collision="ignore">
            <add key="MobileViewSiteCookieName" value="dnn_IsMobile" />
            <add key="DisableMobileViewSiteCookieName" value="dnn_NoMobile" />
		</node>
	</nodes>
</configuration>
