<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/system.web/httpModules/add[@name='Compression']" action="remove" />
    <node path="/configuration/system.webServer/modules/add[@name='Compression']" action="remove" />
    <node path="/configuration/runtime/ab:assemblyBinding" action="update"
      targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='Newtonsoft.Json']"
      collision="overwrite" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </node>
  </nodes>
</configuration>