<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/configSections/sectionGroup[@name='dotnetnuke']" action="update" key="name" collision="ignore">
      <section name="tokens" requirePermission="false" type="DotNetNuke.Framework.Providers.ProviderConfigurationHandler, DotNetNuke" />
    </node>
    <node path="/configuration/dotnetnuke" action="update" targetpath="/configuration/dotnetnuke/tokens" collision="ignore">
      <tokens defaultProvider="CoreTokenProvider">
        <providers>
          <clear />
          <add name="CoreTokenProvider" type="DotNetNuke.Services.Tokens.CoreTokenProvider, DotNetNuke" />
        </providers>
      </tokens>
    </node>
  </nodes>
</configuration>