<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/system.web/httpHandlers/add[@name='Telerik.Web.UI.ChartHttpHandler']" action="remove" />
    <node path="/configuration/system.webServer/handlers/add[@name='Telerik.Web.UI.ChartHttpHandler']" action="remove" />
    <node path="/configuration/system.web/httpModules/add[@name='RadUploadModule']" action="remove" />
    <node path="/configuration/system.webServer/modules/add[@name='RadUploadModule']" action="remove" />
    <node path="/configuration/appSettings" action="update" key="key" collision="overwrite">
      <add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />
      <add key="UpdateServiceUrl" value="https://dnnplatform.io" />
    </node>
  </nodes>
</configuration>