<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/dotnetnuke/mail/providers" action="update" key="name" collision="ignore">
      <add name="MailKitMailProvider" type="DotNetNuke.Services.Mail.MailKitMailProvider, DotNetNuke" hideCoreSettings="False" />
    </node>
    <node path="/configuration/system.web/httpModules" action="remove" />
    <node path="/configuration/system.web/httpHandlers" action="remove" />
  </nodes>
</configuration>
