<configuration>
  <nodes configfile="dotnetnuke.config">
    <node path="/configuration/skinningdefaults/skininfo[@folder='/Gravity/']" action="remove" />
    <node path="/configuration/skinningdefaults/containerinfo[@folder='/Gravity/']" action="remove" />
    <node path="/configuration/skinningdefaults" targetpath="/configuration/skinningdefaults/skininfo" action="update" key="" collision="ignore">
        <skininfo folder="/Xcillion/" default="Inner.ascx" admindefault="Admin.ascx" />
    </node>
    <node path="/configuration/skinningdefaults" targetpath="/configuration/skinningdefaults/containerinfo" action="update" key="" collision="ignore">
        <containerinfo folder="/Xcillion/" default="Title_h2.ascx" admindefault="Title_h2.ascx" />
    </node>
  </nodes>
</configuration>
