<configuration>
  <nodes configfile="Web.config">
	<node path="/configuration/system.webServer" targetpath="/configuration/system.webServer/staticContent" action="update" collision="ignore">
		<staticContent>
		</staticContent>
	</node>
    <node path="/configuration/system.webServer/staticContent" action="update" key="fileExtension" collision="ignore">
		<remove fileExtension=".webp" />
		<mimeMap fileExtension=".webp" mimeType="image/webp" />
	</node>
  </nodes>
</configuration>
