<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/system.webServer/modules/add[@name='RequestFilter']" action="insertbefore">
      <add name="ServiceRequestScopeModule" type="DotNetNuke.HttpModules.DependencyInjection.ServiceRequestScopeModule, DotNetNuke.HttpModules" preCondition="managedHandler" />
    </node>
    <node path="/configuration/dotnetnuke/authServices/messageHandlers" action="update" targetpath="/configuration/dotnetnuke/authServices/messageHandlers/add[@name='ApiTokenAuth']" collision="ignore">
      <add name="ApiTokenAuth" type="DotNetNuke.Web.Api.Auth.ApiTokenAuthMessageHandler, DotNetNuke.Web" enabled="false" defaultInclude="true" forceSSL="true" />
    </node>
  </nodes>
</configuration>
