<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/system.webServer/modules/add[@name='RequestFilter']" action="insertbefore">
      <add name="ServiceRequestScopeModule" type="DotNetNuke.HttpModules.DependencyInjection.ServiceRequestScopeModule, DotNetNuke.HttpModules" preCondition="managedHandler" />
    </node>
    <node path="/configuration/dotnetnuke/authServices/messageHandlers" action="update" targetpath="/configuration/dotnetnuke/authServices/messageHandlers/add[@name='ApiTokenAuth']" collision="ignore">
      <add name="ApiTokenAuth" type="DotNetNuke.Web.Api.Auth.ApiTokenAuthMessageHandler, DotNetNuke.Web" enabled="false" defaultInclude="true" forceSSL="true" />
    </node>
    <node path="/configuration/dotnetnuke/permissions" action="updateattribute"  name="defaultProvider" value="AdvancedPermissionProvider" />
    <node path="/configuration/dotnetnuke/permissions/providers" action="update" key="name" collision="overwrite">
      <add name="AdvancedPermissionProvider" type="DotNetNuke.Security.Permissions.AdvancedPermissionProvider, DotNetNuke" providerPath="~\Providers\PermissionProviders\AdvancedPermissionProvider\" />
    </node>
    
    <!-- Prevents Roslyn from running to avoid potential compilation errors
         when a newer version of Roslyn is installed in the next steps.-->
    <node path="/configuration/system.codedom/compilers/compiler[@extension='.cs']" action="remove" />
    <node path="/configuration/system.codedom/compilers/compiler[@extension='.vb']" action="remove" />
    
  </nodes>
</configuration>
