<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/runtime/ab:assemblyBinding" action="update" 
          targetpath="/configuration/runtime/ab:assemblyBinding[ab:dependentAssembly/ab:assemblyIdentity/@name='Microsoft.Extensions.DependencyInjection']" 
          collision="ignore" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-32767.32767.32767.32767" newVersion="3.0.0.0" />
      </dependentAssembly>
    </node>
    <node path="/configuration/runtime/ab:assemblyBinding" action="update" 
          targetpath="/configuration/runtime/ab:assemblyBinding[ab:dependentAssembly/ab:assemblyIdentity/@name='Microsoft.Extensions.DependencyInjection.Abstractions']" 
          collision="ignore" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-32767.32767.32767.32767" newVersion="3.0.0.0" />
      </dependentAssembly>
    </node>
  </nodes>
</configuration>
