<configuration>
  <nodes configfile="web.config">
    <node path="/configuration/appSettings" action="add">
      <add key="AllowDnnUpgradeUpload" value="true" />
    </node>
    <node path="/configuration/system.web/httpRuntime" action="updateattribute"  name="requestLengthDiskThreshold" value="80" />
  </nodes>
</configuration>