<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/runtime/ab:assemblyBinding" 
          action="update" 
          collision="save" 
          targetpath="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='$$name$$'][ab:assemblyIdentity/@publicKeyToken='$$publicKeyToken$$']" 
          nameSpace="urn:schemas-microsoft-com:asm.v1" 
          nameSpacePrefix="ab">
      <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
        <assemblyIdentity name="$$name$$" publicKeyToken="$$publicKeyToken$$" />
        <bindingRedirect oldVersion="$$oldVersion$$" newVersion="$$newVersion$$"/>
      </dependentAssembly>
    </node>
  </nodes>
</configuration>
