<configuration>
	<nodes configfile="Web.config">
        <!-- Remove vb Compiler node -->
        <node path="/configuration/system.codedom/compilers/compiler[@language='vb']" action="remove" />
        <!-- Add new vb and cs Compiler nodes -->
        <node path="/configuration/system.codedom/compilers" action="update" key="language" collision="overwrite">
            <compiler language="vb;vbs;visualbasic;vbscript" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" extension=".vb" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="OptionInfer" value="true"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </node>

        <!-- Update System.WebServer Modules to latest version of AJAX -->
        <node path="/configuration/system.webServer/modules/add[@name='ScriptModule']" action="insertBefore">
            <remove name="ScriptModule"/>
        </node>
        <node path="/configuration/system.webServer/modules/add[@name='ScriptModule']" action="updateattribute"  name="type" value="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_ScriptResourceHandler']" action="insertBefore">
            <remove name="WebServiceHandlerFactory-Integrated"/>
        </node>
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_ScriptResourceHandler']" action="insertBefore">
            <remove name="ScriptHandlerFactory"/>
        </node>
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_ScriptResourceHandler']" action="insertBefore">
            <remove name="ScriptHandlerFactoryAppServices"/>
        </node>
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_ScriptResourceHandler']" action="insertBefore">
            <remove name="ScriptResource"/>
        </node>

        <!-- Update System.WebServer Handlers to latest version of AJAX -->
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_ScriptResourceHandler']" action="remove" />
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_AppServiceHandler']" action="remove" />
        <node path="/configuration/system.webServer/handlers/add[@name='AJAX_WebServiceHandler']" action="remove" />
        <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </node>
        <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </node>
        <node path="/configuration/system.webServer/handlers" action="update" key="name" collision="overwrite">
            <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </node>

        <!-- Update System.Web HttpModules to latest version of AJAX -->
        <node path="/configuration/system.web/httpModules/add[@name='ScriptModule']" action="updateattribute"  name="type" value="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

        <!-- Update System.Web HttpHandlers to latest version of AJAX -->
        <node path="/configuration/system.web/httpHandlers/add[@path='*.asmx']" action="updateattribute"  name="type" value="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <node path="/configuration/system.web/httpHandlers/add[@path='*_AppService.axd']" action="updateattribute"  name="type" value="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <node path="/configuration/system.web/httpHandlers/add[@path='ScriptResource.axd']" action="updateattribute"  name="type" value="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

        <!-- Update Assemblies to .NET 3.5 -->
        <node path="/configuration/system.web/compilation/assemblies/add[starts-with(@assembly,'System.Web.Extensions')]" action="updateattribute"  name="assembly" value="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </node>
        <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </node>
        <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
            <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        </node>
        <node path="/configuration/system.web/compilation/assemblies" action="update" key="assembly" collision="overwrite">
            <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        </node>

        <!-- Update Controls to .NET 3.5 -->
        <node path="/configuration/system.web/pages/controls" action="update" key="namespace" collision="overwrite">
            <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </node>
        <node path="/configuration/system.web/pages/controls" action="update" key="namespace" collision="overwrite">
            <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </node>

        <!-- Update AssemblyBinding to .NET 3.5 -->
        <node path="/configuration/runtime/ab:assemblyBinding/ab:probing" action="insertAfter" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
            <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
                <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </node>
        <node path="/configuration/runtime/ab:assemblyBinding/ab:probing" action="insertAfter" nameSpace="urn:schemas-microsoft-com:asm.v1" nameSpacePrefix="ab">
            <dependentAssembly xmlns="urn:schemas-microsoft-com:asm.v1">
                <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </node>
    </nodes>
</configuration>
