<configuration>
  <nodes configfile="Web.config">
	<node path="/configuration/system.web/httpRuntime" action="updateattribute"  name="targetFramework" value="4.5" />
	<node path="/configuration/system.web/compilation" action="updateattribute"  name="targetFramework" value="4.5" />
    </node>
  </nodes>
</configuration>
