<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[ab:assemblyIdentity/@name='$$name$$'][ab:assemblyIdentity/@publicKeyToken='$$publicKeyToken$$']" 
          action="remove" 
          nameSpace="urn:schemas-microsoft-com:asm.v1" 
          nameSpacePrefix="ab" />
  </nodes>
</configuration>
