<configuration>
  <nodes configfile="Web.config">
    <node path="/configuration/runtime/ab:assemblyBinding/ab:dependentAssembly[translate(ab:assemblyIdentity/@name, 'abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')=translate('$$name$$', 'abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')][translate(ab:assemblyIdentity/@publicKeyToken, 'abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')=translate('$$publicKeyToken$$', 'abcdefghijklmnopqrstuvwxyz', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')][ab:bindingRedirect]"
          action="remove"
          nameSpace="urn:schemas-microsoft-com:asm.v1"
          nameSpacePrefix="ab" />
  </nodes>
</configuration>
