// text classes from current color scheme
@each $color, $value in $colors {
    .text-#{$color} {
        color: color($color) !important;
    }
    .border-#{$color} {
        border-color: color($color) !important;
    }
}

.dnn-d-none {
    display: none;
}

@media (min-width: 48rem) {
    .dnn-d-sm-block {
        display: block!important;
    }
}

@media (min-width: 62rem) {
    .dnn-d-md-block {
        display: block!important;
    }
}

@media (min-width: 75rem) {
    .dnn-d-lg-block {
        display: block!important;
    }
}

@media (min-width: 90rem) {
    .dnn-d-xl-block {
        display: block!important;
    }
}

.dnn-d-inline-block {
    display: inline-block!important;
}

.dnn-d-inline {
    display: inline!important;
}

.dnn-d-block {
    display: block!important;
}

.dnn-d-flex {
    display: flex!important;
}

.dnn-d-inline-flex {
    display: inline-flex!important;
}

.dnn-d-flex {
    display: flex;
}
.dnn-flex-nowrap {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
}

