.ReactModalPortal {
    .modal-header {
        background-color: #092836;
        border: none;

        h3 {
            color: white;
            margin: 0;
        }
    }

    .rm-dialog-modal-label {
        float: none;
        width: 100%;
        text-align: center;
        label {
            margin: 0;
        }
    }

    .rm-form-buttons-container {
        text-align: center;
        margin-top: 20px;

        .rm-common-button {
            margin-left: 10px;
        }
    }
}
