.extension-install-logs {
    >h6 {
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    > p {
        margin-bottom: 25px;
    }
    .package-installation-report {
        padding: 25px;
    }
}