@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.taskStatusItemRow) {
    border: solid 1px @alto;
    margin: 15px 15px 0px 15px;
    float: left;
    &:not(:first-child) {
        margin-top: 15px;
    }
    &:last-child {
        margin-bottom: 15px;
    }
}