@import "~@dnnsoftware/dnn-react-common/styles/index";
#extensions-container {
    .extensions-app {
        .dnn-persona-bar-page-body {
            .collapse-section {
                padding: 20px 25px;
                font-weight: bold;
                cursor: pointer;
                color: @rollingStone;
            }
        }
    }
}