{
  "plugins": [
    "babel"
  ],
  "env": {
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-dnn"
  ],
  "settings": {
    "import/resolver":{
      "node":{
        "extensions":[".js", ".jsx"]
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "spread": true,
      "superInFunctions": false,
      "templateStrings": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}