@import "~@dnnsoftware/dnn-react-common/styles/index";
#scheduler-container {
    .dnn-persona-bar-page-body {
        padding: 10px 30px 25px 30px;
        .persona-bar-page-body {
            padding: 0;
            border: none;
            background-color: @alabaster;
            .react-tabs {
                float: left;
                border: solid 1px @alto;
                width: 100%;
                box-sizing: border-box;
                .ReactTabs__TabPanel {
                    float: left;
                    background-color: #fff;
                    width: 100%;
                }
            }
            .row-opened {
                margin-top: -1px;
                margin-bottom: -1px;
                border-top: 2px solid @curiousBlue;
                border-bottom: 2px solid @curiousBlue !important;
            }
        }
    }
}