/* START EVOQ COLOR PALETTE */

@blackPearl: #0b1c24;
@firefly: #0e2936;
@astronautBlue: #1e485e;
@matisse: #226f9b;
@curiousBlue: #1e88c3;
@curiousBlueSolid: rgba(30, 136, 195, 0.6);
@curiousBlueWithOpacity: rgba(30, 136, 195, 0.6);
@cerulean: #21a3da;
@seagull: #79bfdb;
@nonPhotoBlue: #9fdbf0;
@solitude: #eaf1fa;

@gondola: #261516;
@bulgarianRose: #46292b;

@astral: #3c7a9a;
@regentGray: #8191a4;

@thunder: #4b4e4f;
@rollingStone: #6f7273;
@mountainMist: #959695;
@alto: #c8c8c8;
@mercury: #e5e7e6;
@gallery: #eff0f0;
@alabaster: #fbfcfc;
@white: #ffffff;

/* END EVOQ COLOR PALETTE */

/* START ATTENTION COLORS */

@alizarinCrimson: #ea2134;
@cranberry: #d9577a;

@amazon: #368254;
@mantis: #78c16b;

/* END ATTENTION COLORS */

/* SVG HOVER STATES */

svg {
  fill: @alto;
  &:hover {
    fill: @rollingStone;
  }
  &:active {
    fill: @curiousBlue;
  }
}

/* END SVG HOVER STATES */

.prefixes(@property, @value) {
  -webkit-@{property}: @value;
  -khtml-@{property}: @value;
  -moz-@{property}: @value;
  -ms-@{property}: @value;
  @{property}: @value;
}
