.searchInputContainer {
    display: inline-block;
    margin-block-start: 0;
    margin-inline-end: -3px;
    margin-block-end: 0;
    margin-inline-start: 0;
    position: relative;
}

.searchInputContainer > input[type="text"]::-ms-clear {
    display: none;
}

.searchInputContainer button.dnnSearchBoxClearText {
    display: block;
    position: absolute;
    inset-inline-end: 10px;
    inline-size: 16px;
    block-size: 16px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-block-start: 7px;
    margin-inline-end: 0;
    margin-block-end: 7px;
    margin-inline-start: 0;
    z-index: 20;
}

.searchInputContainer button.dnnSearchBoxClearText.dnnShow {
    background: url(../../../images/search/clearText.png) center center no-repeat;
}

/* ---------------------------------- */

ul.searchSkinObjectPreview {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-end: 0;
    background: #fff;
    margin: 0;
    list-style: none;
    border: 1px solid #c9c9c9;
    inline-size: 350px;
    z-index: 200;
    padding: 0;
}

ul.searchSkinObjectPreview li {
    list-style: none;
}

ul.searchSkinObjectPreview > li {
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-block-end: 6px;
    padding-inline-start: 22px;
    border-block-start: 1px solid #c9c9c9;
    color: #666;
    cursor: pointer;
    position: relative;
    margin: 0;
    text-transform: none;
    word-wrap: break-word;
}

ul.searchSkinObjectPreview > li:hover {
    background-color: #e8f1fa;
    color: #333;
}

ul.searchSkinObjectPreview > li > span img.userpic {
    inline-size: 32px;
    block-size: 32px;
    display: block;
    float: inline-start;
    margin-inline-end: 4px;
}

ul.searchSkinObjectPreview > li > span > b {
    font-weight: bold;
    color: #000;
}

ul.searchSkinObjectPreview > li p {
    margin: 0;
    font-size: 10px;
    line-height: 1.2em;
    color: #999;
    font-style: italic;
    white-space: normal;
}

ul.searchSkinObjectPreview > li p b {
    color: #000;
}

ul.searchSkinObjectPreview > li.searchSkinObjectPreview_group {
    padding-block-start: 6px;
    padding-inline-end: 12px;
    padding-block-end: 6px;
    padding-inline-start: 12px;
    font-weight: bold;
    color: #000;
    border-block-end: 2px solid #000;
    cursor: inherit;
}

ul.searchSkinObjectPreview > li.searchSkinObjectPreview_group:hover {
    background-color: #fff;
    color: #000;
}

ul.searchSkinObjectPreview > li > a.searchSkinObjectPreview_more {
    display: inline;
    position: static;
    background: none;
    z-index: inherit;
    inline-size: auto;
    block-size: auto;
    text-indent: inherit;
    float: none;
}
