
@import "~@dnnsoftware/dnn-react-common/styles/index.less";
:local(.siteAliasSettings) {
    margin: 30px 30px;
    * {
        box-sizing: border-box;
    }
    .urlMappingSettings {
        .dnn-ui-common-input-group {
            .dnn-label.inline {
                width: 35%;
                label {
                    font-weight: bolder;
                    float: left;
                }
            }
            .dnn-radio-buttons {
                margin-top: 3px;
                width: auto;
                label {
                    margin-right: 15px;
                }
            }
            .dnn-switch-container {
                float: left;
                padding: 0;
                .dnn-switch {
                    margin-left: 15px;
                }
            }
        }
    }
    .sectionTitleNoBorder {
        font-weight: bolder;
        float: left;
        width: 100%;
        padding: 40px 0 20px 0;
    }
    .buttons-box {
        width: 100%;
        float: left;
        text-align: center;
        margin: 30px 0;
        .dnn-ui-common-button {
            margin: 5px;
        }
    }
}