@import "~@dnnsoftware/dnn-react-common/styles/index";
:local(.folderDropdown) {
    position: relative;
    .dnn-dropdown-with-error {
        width: 100%;
        margin-bottom: 32px;
    }
    .add-new-folder-box {
        position: absolute;
        z-index: 50;
        background: white;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        // padding: 20px 10px;
        .new-folder-title {
            font-size: 15px;
            font-weight: bold;
        }
        .new-folder-buttons {
            text-align: center;
            button:first-child {
                margin-right: 10px;
            }
        }
    }
    .folder-dropdown {
        &.hidden {
            opacity: 0;
        }
    }
}